Repository AntaresSimulatorTeam/andromede-modeling-prototype: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, black, isort

mypy:
  name: Run mypy
  entry: mypy
  language: system

black:
  name: Run black
  entry: black
  args:
  - --config
  - pyproject.toml
  - src
  - tests
  language: system

isort:
  name: Run isort
  entry: isort
  args:
  - --profile
  - black
  - --filter-files
  language: system

finish all thermal components with all tests, debugging several issue with e to e test
  requirements.in
  requirements.txt
  src/andromede/input_converter/src/converter.py
  src/andromede/input_converter/src/data_preprocessing/thermal.py
  src/andromede/model/parsing.py
  src/andromede/study/resolve_components.py
  tests/antares_historic/test_antares_historic.py
  tests/input_converter/conftest.py
  tests/input_converter/test_converter.py
Due: mypy, black, isort

artivact upgrade version
  .github/workflows/ci.yml
Due: none

update requirements dev
  requirements-dev.txt
Due: none

isort fix
  tests/antares_historic/test_antares_historic.py
Due: black, isort

Remove txt extension from component model as andromede add it automatically / roll back inputparameter boolean / implement links creation for the EtoE test / Modify antares_historic_.yml
  src/andromede/input_converter/src/converter.py
  src/andromede/libs/antares_historic/antares_historic.yml
  src/andromede/model/parsing.py
  tests/antares_historic/test_antares_historic.py
  tests/input_converter/test_converter.py
Due: mypy, black, isort

lint black
  tests/input_converter/test_converter.py
Due: black, isort

lint antares_historic_
  tests/antares_historic/test_antares_historic.py
Due: black, isort

Update antares_craft version and refactor field names to use 'id' instead of 'name' in YAML and model definitions
  requirements.in
  requirements.txt
  src/andromede/libs/standard_sc.yml
  src/andromede/model/parsing.py
  src/andromede/model/resolve_library.py
  tests/functional/libs/lib.yml
  tests/functional/test_andromede_yml.py
  tests/models/libs/ac.yml
  tests/unittests/data/lib.yml
  tests/unittests/data/lib_for_resolving_test/CO2_port.yml
  tests/unittests/data/lib_for_resolving_test/basic_lib.yml
  tests/unittests/data/lib_for_resolving_test/demand.yml
  tests/unittests/data/lib_for_resolving_test/port_redefinition.yml
  tests/unittests/data/lib_for_resolving_test/production.yml
  tests/unittests/data/lib_for_resolving_test/production_with_CO2.yml
  tests/unittests/data/model_port_definition_ko.yml
  tests/unittests/data/model_port_definition_ok.yml
Due: mypy, black, isort

refactor: Change 'name' field to 'id' in InputComponentParameter and related YAML files
  src/andromede/input_converter/src/converter.py
  src/andromede/study/parsing.py
  src/andromede/study/resolve_components.py
  tests/input_converter/test_converter.py
  tests/unittests/data/components.yml
  tests/unittests/data/components_for_scenarization_test.yml
  tests/unittests/data/components_for_short_term_storage.yml
Due: mypy, black, isort

refactor: Replace 'timeseries' field with 'value' in InputComponentParameter and related YAML files
  src/andromede/input_converter/src/converter.py
  src/andromede/study/parsing.py
  src/andromede/study/resolve_components.py
  tests/functional/input/components/components.yml
  tests/input_converter/test_converter.py
  tests/unittests/data/components_for_scenarization_test.yml
  tests/unittests/data/components_for_short_term_storage.yml
Due: mypy, black, isort

refactor: Update InputComponentParameter to remove 'type' field and adjust value handling in YAML files
  src/andromede/input_converter/src/converter.py
  src/andromede/study/parsing.py
  src/andromede/study/resolve_components.py
  tests/functional/input/components/components.yml
  tests/input_converter/test_converter.py
  tests/unittests/data/components.yml
  tests/unittests/data/components_for_scenarization_test.yml
  tests/unittests/data/components_for_short_term_storage.yml
Due: mypy, black, isort

Correctly handle scenario series and time series when building database
  src/andromede/study/data.py
  src/andromede/study/resolve_components.py
Due: mypy, black, isort

refactor: Update data handling in dataframe_to_scenario_series and add new test cases for scenario and time series
  src/andromede/study/data.py
  tests/unittests/data/loads-scenario-only.txt
  tests/unittests/data/loads-time-only.txt
  tests/unittests/data/study_scenario_only_series.yml
  tests/unittests/data/study_time_only_series.yml
  tests/unittests/study/test_components_parsing.py
Due: mypy, black, isort

refactor: Simplify test setup by introducing a fixture for network and database initialization
  tests/unittests/study/test_components_parsing.py
Due: black, isort

refactor: Improve dataframe_to_scenario_series by simplifying value extraction from DataFrame
  src/andromede/study/data.py
Due: mypy, black, isort

refactor: Rename port fields in InputPortConnections to use a consistent naming convention
  src/andromede/input_converter/src/converter.py
  src/andromede/study/parsing.py
  src/andromede/study/resolve_components.py
  tests/functional/input/components/components.yml
  tests/input_converter/test_converter.py
  tests/unittests/data/components.yml
  tests/unittests/data/components_for_scenarization_test.yml
  tests/unittests/data/components_for_short_term_storage.yml
  tests/unittests/data/model_port_definition_ko.yml
  tests/unittests/data/study_scenario_only_series.yml
  tests/unittests/data/study_time_only_series.yml
Due: mypy, black, isort

Change field names in yaml files for compatibility with cxx version (#64)
  requirements.in
  requirements.txt
  src/andromede/input_converter/src/converter.py
  src/andromede/libs/standard_sc.yml
  src/andromede/model/parsing.py
  src/andromede/model/resolve_library.py
  src/andromede/study/data.py
  src/andromede/study/parsing.py
  src/andromede/study/resolve_components.py
  tests/functional/input/components/components.yml
  tests/functional/libs/lib.yml
  tests/functional/test_andromede_yml.py
  tests/input_converter/test_converter.py
  tests/models/libs/ac.yml
  tests/unittests/data/components_for_scenarization_test.yml
  tests/unittests/data/components_for_short_term_storage.yml
  tests/unittests/data/lib.yml
  tests/unittests/data/lib_for_resolving_test/CO2_port.yml
  tests/unittests/data/lib_for_resolving_test/basic_lib.yml
  tests/unittests/data/lib_for_resolving_test/demand.yml
  tests/unittests/data/lib_for_resolving_test/port_redefinition.yml
  tests/unittests/data/lib_for_resolving_test/production.yml
  tests/unittests/data/lib_for_resolving_test/production_with_CO2.yml
  tests/unittests/data/loads-scenario-only.txt
  tests/unittests/data/loads-time-only.txt
  tests/unittests/data/model_port_definition_ko.yml
  tests/unittests/data/model_port_definition_ok.yml
  tests/unittests/data/study_scenario_only_series.yml
  tests/unittests/data/study_time_only_series.yml
  tests/unittests/study/test_components_parsing.py
Due: mypy, black, isort

Rename 'study' to 'system' in YAML components for consistency
  src/andromede/input_converter/src/utils.py
  src/andromede/study/parsing.py
  tests/functional/input/components/components.yml
  tests/unittests/data/components.yml
  tests/unittests/data/components_for_scenarization_test.yml
  tests/unittests/data/components_for_short_term_storage.yml
  tests/unittests/data/study_scenario_only_series.yml
  tests/unittests/data/study_time_only_series.yml
Due: mypy, black, isort

Rename 'study' to 'system' in YAML components for consistency (#65)
  src/andromede/input_converter/src/utils.py
  src/andromede/study/parsing.py
  tests/functional/input/components/components.yml
  tests/unittests/data/components.yml
  tests/unittests/data/components_for_scenarization_test.yml
  tests/unittests/data/components_for_short_term_storage.yml
  tests/unittests/data/study_scenario_only_series.yml
  tests/unittests/data/study_time_only_series.yml
Due: mypy, black, isort

end to end test
  src/andromede/input_converter/src/converter.py
  tests/antares_historic/conftest.py
  tests/antares_historic/test_antares_historic.py
  tests/input_converter/test_converter.py
Due: mypy, black, isort

comply with bugfix from main branch
  src/andromede/input_converter/src/converter.py
  src/andromede/input_converter/src/data_preprocessing/thermal.py
Due: mypy, black, isort

comp
  src/andromede/study/resolve_components.py
Due: mypy, black, isort

merge
  src/andromede/input_converter/src/data_preprocessing/thermal.py
  src/andromede/study/resolve_components.py
Due: mypy, black, isort

refactor: Replace BaseModel with ModifiedBaseModel for consistent alias generation in parsing modules
  src/andromede/model/parsing.py
  src/andromede/study/parsing.py
  src/andromede/utils.py
Due: mypy, black, isort

refactor: Replace BaseModel with ModifiedBaseModel for consistent alias generation in parsing modules (#66)
  src/andromede/model/parsing.py
  src/andromede/study/parsing.py
  src/andromede/utils.py
Due: mypy, black, isort

Finalize end to end test - fix build_data_base - repair time_dependant and scenario_dependent differences -
  src/andromede/input_converter/src/converter.py
  tests/antares_historic/test_antares_historic.py
  tests/input_converter/test_converter.py
Due: mypy, black, isort

idem
  src/andromede/study/resolve_components.py
Due: mypy, black, isort

parsing lint
  src/andromede/study/parsing.py
Due: mypy, black, isort

add thermal end to end test
  src/andromede/input_converter/src/converter.py
  tests/antares_historic/conftest.py
  tests/antares_historic/test_antares_historic.py
Due: mypy, black, isort

Clean the code, remove useless fixture, factorize if it is possible, better naming and typing on tests
  pyproject.toml
  src/andromede/input_converter/src/converter.py
  src/andromede/input_converter/src/data_preprocessing/thermal.py
  src/andromede/input_converter/src/main.py
  tests/antares_historic/conftest.py
  tests/antares_historic/test_antares_historic.py
  tests/input_converter/conftest.py
  tests/input_converter/test_converter.py
Due: mypy, black, isort

remove useless import
  tests/input_converter/conftest.py
  tests/input_converter/test_converter.py
Due: black, isort

Scenario_dependant à True
  src/andromede/input_converter/src/converter.py
  tests/input_converter/test_converter.py
Due: mypy, black, isort

isort
  tests/antares_historic/test_antares_historic.py
Due: black, isort

isort
  tests/input_converter/conftest.py
Due: black, isort

mypy error
  src/andromede/input_converter/src/data_preprocessing/thermal.py
Due: mypy, black, isort

black lint
  src/andromede/input_converter/src/data_preprocessing/thermal.py
Due: mypy, black, isort

feat: Add short-term storage parameters and constraints to antares_historic.yml
  src/andromede/libs/antares_historic/antares_historic.yml
Due: none

fix: Correct definition order in port-field-definitions in antares_historic.yml
  src/andromede/libs/antares_historic/antares_historic.yml
Due: none

bump version
  requirements-dev.in
  requirements-dev.txt
  requirements.in
  requirements.txt
  src/andromede/input_converter/src/data_preprocessing/thermal.py
Due: mypy, black, isort

Update way of instancing hydro properties to comply with new antares craft
  tests/antares_historic/conftest.py
  tests/input_converter/conftest.py
Due: black, isort

Path conditions:
  mypy: any of: ^src/ and \.py$
  black: any of: \.py$
  isort: any of: \.py$
