Repository AntaresSimulatorTeam/andromede-modeling-prototype: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, black, isort

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^src/
        types: [python]

-   repo: local
    hooks:
    -   id: black
        name: Run black
        entry: black
        args: ["--config", "pyproject.toml", "src", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: isort
        name: Run isort
        entry: isort
        args: ["--profile", "black", "--filter-files"]
        language: system
        types: [python]

Fixed test 3 and 4 of the electrolyzer_n_inputs
  src/andromede/libs/standard_sc.py
  tests/unittests/test_electrolyzer_n_inputs.py
  tests/unittests/test_quota_co2.py
Due: mypy, black, isort

Remove duplicate method, remove unnecessary quotes
  src/andromede/expression/equality.py
  src/andromede/model/constraint.py
  src/andromede/model/variable.py
  tests/unittests/conftest.py
  tests/unittests/data/lib.yml
Due: mypy, black, isort

Update README
  grammar/README.md
Due: none

Remove more quotes
  tests/unittests/data/lib.yml
Due: none

Model parsing errors test added
  tests/unittests/data/model_port_definition_ko.yml
  tests/unittests/data/model_port_definition_ok.yml
  tests/unittests/model/test_model_parsing.py
Due: black, isort

Small corrections
  models-design/systems/flow_based.drawio
Due: none

Small corrections on names and temporal sums
  models-design/systems/EV_load_min.drawio
  models-design/systems/nuclear_modulation.drawio
Due: none

Change model to take into account total import on a node
  models-design/systems/bc_total_import.drawio
Due: none

Small corrections
  models-design/systems/bc_total_import.drawio
Due: none

Add models representing binding constrains (#25)
  models-design/model_library/stock_final_level.drawio
  models-design/systems/EV_load_min.drawio
  models-design/systems/bc_total_import.drawio
  models-design/systems/nuclear_modulation.drawio
Due: none

Add flow-based models (#23)
  models-design/systems/flow_based.drawio
Due: none

Quotes removed from model_port_definition_ko.yml and model_port_definition_ok.yml
  tests/unittests/data/model_port_definition_ko.yml
  tests/unittests/data/model_port_definition_ok.yml
Due: none

Model library format parsing (#11)
  grammar/Expr.g4
  grammar/README.md
  grammar/generate-parser.sh
  mypy.ini
  requirements-dev.txt
  requirements.txt
  src/andromede/expression/equality.py
  src/andromede/expression/expression.py
  src/andromede/expression/parsing/__init__.py
  src/andromede/expression/parsing/antlr/Expr.interp
  src/andromede/expression/parsing/antlr/Expr.tokens
  src/andromede/expression/parsing/antlr/ExprLexer.interp
  src/andromede/expression/parsing/antlr/ExprLexer.py
  src/andromede/expression/parsing/antlr/ExprLexer.tokens
  src/andromede/expression/parsing/antlr/ExprParser.py
  src/andromede/expression/parsing/antlr/ExprVisitor.py
  src/andromede/expression/parsing/antlr/__init__.py
  src/andromede/expression/parsing/parse_expression.py
  src/andromede/expression/time_operator.py
  src/andromede/model/constraint.py
  src/andromede/model/library.py
  src/andromede/model/parsing.py
  src/andromede/model/resolve_library.py
  src/andromede/model/variable.py
  tests/unittests/conftest.py
  tests/unittests/data/lib.yml
  tests/unittests/data/model_port_definition_ko.yml
  tests/unittests/data/model_port_definition_ok.yml
  tests/unittests/expressions/parsing/__init__.py
  tests/unittests/expressions/parsing/test_expression_parsing.py
  tests/unittests/model/__init__.py
  tests/unittests/model/test_model_parsing.py
  tests/unittests/test_model.py
Due: mypy, black, isort

Move pathway tests to functional folder
  tests/functional/test_generate_network_on_tree.py
  tests/functional/test_investment_pathway.py
Due: black, isort

Add replicate method to classes to be able to copy them to tree
  src/andromede/expression/expression.py
  src/andromede/model/constraint.py
  src/andromede/model/model.py
  src/andromede/model/parameter.py
  src/andromede/model/variable.py
  src/andromede/study/network.py
  tests/unittests/test_model.py
Due: mypy, black, isort

Remove integration test from functional xpansion test
  tests/functional/test_xpansion.py
Due: black, isort

Model SHORT_TERM_STORAGE_COMPLEX avec le même test que le SIMPLE
  src/andromede/libs/standard_sc.py
  tests/unittests/test_short_term_storage_complex.py
Due: mypy, black, isort

test Quota CO2 (#17)
  AUTHORS.txt
  src/andromede/libs/standard.py
  src/andromede/libs/standard_sc.py
  tests/unittests/test_electrolyzer_n_inputs.py
  tests/unittests/test_quota_co2.py
Due: mypy, black, isort

Adapt AC tests to: - use a YAML library - add more context to each test
  src/andromede/model/resolve_library.py
  tests/models/conftest.py
  tests/models/libs/ac.yml
  tests/models/test_ac_link.py
Due: mypy, black, isort

Ideas for the coupling_model
  src/andromede/simulation/decision_tree.py
Due: mypy, black, isort

Move decision_tree test to unit tests folder
  tests/unittests/test_generate_network_on_tree.py
Due: black, isort

Modify DecisionTree
  src/andromede/simulation/benders_decomposed.py
  src/andromede/simulation/decision_tree.py
  tests/functional/test_generate_network_on_tree.py
  tests/functional/test_investment_pathway.py
  tests/integration/test_benders_decomposed.py
Due: mypy, black, isort

InputComponent added work in progress
  src/andromede/model/parsing.py
  tests/unittests/data/components.yml
  tests/unittests/model/test_components_model_parsing.py
Due: mypy, black, isort

test electrolyzer_n_inputs with yaml models
  src/andromede/libs/standard_sc.yml
  tests/unittests/test_electrolyzer_n_inputs_yaml.py
Due: black, isort

wip components parsing corrected
  src/andromede/model/parsing.py
  tests/unittests/data/components.yml
  tests/unittests/model/test_components_model_parsing.py
  tests/unittests/model/test_components_parsing.py
Due: mypy, black, isort

quota C02 test with yaml model
  src/andromede/libs/standard_sc.yml
  tests/unittests/test_quota_co2_yaml.py
Due: black, isort

Addition of a cost for phase shifting
  tests/models/libs/ac.yml
  tests/models/test_ac_link.py
Due: black, isort

Test case for AC link and PST models (#2)
  src/andromede/model/resolve_library.py
  tests/models/conftest.py
  tests/models/libs/ac.yml
  tests/models/test_ac_link.py
Due: mypy, black, isort

print to test the path
  tests/unittests/test_electrolyzer_n_inputs_yaml.py
Due: black, isort

fixed path for the first n_input_electrolyzer_yaml test
  tests/unittests/test_electrolyzer_n_inputs_yaml.py
Due: black, isort

model stock pipeline
  src/andromede/libs/standard_sc.py
Due: mypy, black, isort

moved test for models
  tests/unittests/model/test_electrolyzer_n_inputs.py
  tests/unittests/model/test_quota_co2.py
Due: black, isort

added standard_sc.yml
  src/andromede/libs/standard_sc.yml
Due: none

fix of libs path and move of the tests to models
  tests/unittests/model/test_electrolyzer_n_inputs_yaml.py
  tests/unittests/model/test_quota_co2_yaml.py
Due: black, isort

factorisation, removal of unused import and move of test files
  tests/unittests/conftest.py
  tests/unittests/model/test_electrolyzer_n_inputs.py
  tests/unittests/model/test_electrolyzer_n_inputs_yaml.py
  tests/unittests/model/test_quota_co2.py
  tests/unittests/model/test_quota_co2_yaml.py
Due: black, isort

Add variant for electrolyzer subject to renewable
  models-design/systems/electrolyzer_subject_to_renewable.drawio
Due: none

reformat test
  tests/unittests/model/test_quota_co2_yaml.py
Due: black, isort

Add model hydro valley
  models-design/systems/hydro_valley.drawio
Due: none

move tests of model to tests/model
  tests/models/conftest.py
  tests/models/test_electrolyzer_n_inputs.py
  tests/models/test_electrolyzer_n_inputs_yaml.py
  tests/models/test_quota_co2.py
  tests/models/test_quota_co2_yaml.py
  tests/unittests/conftest.py
Due: black, isort

Fix formatting
  tests/models/test_quota_co2_yaml.py
Due: black, isort
