Repository AntaresSimulatorTeam/andromede-modeling-prototype: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, black, isort

mypy:
  name: Run mypy
  entry: mypy
  language: system

black:
  name: Run black
  entry: black
  args:
  - --config
  - pyproject.toml
  - src
  - tests
  language: system

isort:
  name: Run isort
  entry: isort
  args:
  - --profile
  - black
  - --filter-files
  language: system

Reset to a more rigid type of coupling constraints
  src/andromede/expression/attributes.py
  src/andromede/simulation/benders_decomposed.py
  src/andromede/simulation/decision_tree.py
  tests/functional/test_investment_pathway.py
Due: mypy, black, isort

ajout d'un nouveau test avec valeur BP
  result.csv
  result_accurate.csv
  result_accurate_step1.csv
  result_accurate_step1_1.csv
  result_accurate_step1_2.csv
  result_accurate_step2.csv
  result_accurate_step2_old1.csv
  result_accurate_step2_old2.csv
  result_accurate_step2_opti1.csv
  result_accurate_step2_opti2.csv
  result_milp.csv
  result_milp_1.csv
  result_milp_2.csv
  src/andromede/thermal_heuristic/problem.py
  tests/functional/data_reserve/thermal_reserves_deux_clusters/components.yml
  tests/functional/data_reserve/thermal_reserves_deux_clusters/demand_energy-ts.txt
  tests/functional/data_reserve/thermal_reserves_deux_clusters/demand_primary_reserve_down-ts.txt
  tests/functional/data_reserve/thermal_reserves_deux_clusters/demand_primary_reserve_up-ts.txt
  tests/functional/data_reserve/thermal_reserves_deux_clusters/nb_units_max-ts.txt
  tests/functional/data_reserve/thermal_reserves_one_cluster/components.yml
  tests/functional/data_reserve/thermal_reserves_one_cluster/demand_energy-ts.txt
  tests/functional/data_reserve/thermal_reserves_one_cluster/demand_primary_reserve_down-ts.txt
  tests/functional/data_reserve/thermal_reserves_one_cluster/demand_primary_reserve_up-ts.txt
  tests/functional/libs/heuristic.py
  tests/functional/thermal_reserve/test_thermal_reserves_deux_clusters.py
  tests/functional/thermal_reserve/test_thermal_reserves_one_cluster.py
Due: mypy, black, isort

Small changes
  tests/functional/api_workflow_heuristic.py
Due: black, isort

ajout thermique éteint sans changement heuristiques
  result_accurate_step1.csv
  result_accurate_step1_1.csv
  result_accurate_step1_2.csv
  result_accurate_step2.csv
  result_accurate_step2_old1.csv
  result_accurate_step2_old2.csv
  result_accurate_step2_opti1.csv
  result_accurate_step2_opti2.csv
  result_milp.csv
  result_milp_1.csv
  result_milp_2.csv
  src/andromede/thermal_heuristic/problem.py
  tests/functional/data_reserve/thermal_reserves_deux_clusters/components.yml
  tests/functional/data_reserve/thermal_reserves_one_cluster/components.yml
  tests/functional/data_reserve/thermal_reserves_one_cluster/demand_energy-ts.txt
  tests/functional/data_reserve/thermal_reserves_one_cluster/demand_primary_reserve_down-ts.txt
  tests/functional/data_reserve/thermal_reserves_one_cluster/demand_primary_reserve_up-ts.txt
  tests/functional/libs/heuristic_arrondi.py
  tests/functional/libs/heuristique.py
  tests/functional/libs/lib_thermal_reserve.py
  tests/functional/thermal_reserve/test_thermal_reserves_deux_clusters.py
  tests/functional/thermal_reserve/test_thermal_reserves_one_cluster.py
Due: mypy, black, isort

Changement equation eteint et ajout spill reserve
  result_accurate_step1.csv
  result_accurate_step2.csv
  tests/functional/data_reserve/thermal_reserves_one_cluster/components.yml
  tests/functional/libs/heuristic_arrondi.py
  tests/functional/libs/heuristique.py
  tests/functional/libs/lib_thermal_reserve.py
  tests/functional/thermal_reserve/test_thermal_reserves_one_cluster.py
Due: black, isort

changement equation eteint reserves
  result_accurate_step1.csv
  result_accurate_step2.csv
  tests/functional/data_reserve/thermal_reserves_one_cluster/components.yml
  tests/functional/libs/heuristic_arrondi.py
  tests/functional/libs/lib_thermal_reserve.py
  tests/functional/thermal_reserve/test_thermal_reserves_one_cluster.py
Due: black, isort

ajout problème plexos et reecriture sortie heuristiques
  result_accurate_step1.csv
  result_accurate_step1_1.csv
  result_accurate_step1_2.csv
  result_accurate_step2.csv
  result_accurate_step2_old1.csv
  result_accurate_step2_old2.csv
  result_milp_1.csv
  result_milp_2.csv
  src/andromede/thermal_heuristic/problem.py
  tests/functional/data_reserve/thermal_reserves_deux_clusters_plexos/components.yml
  tests/functional/data_reserve/thermal_reserves_deux_clusters_plexos/demand_energy-ts.txt
  tests/functional/data_reserve/thermal_reserves_deux_clusters_plexos/nb_units_max-ts.txt
  tests/functional/data_reserve/thermal_reserves_one_cluster/demand_secondary_reserve_up-ts.txt
  tests/functional/libs/heuristic_arrondi.py
  tests/functional/libs/heuristique.py
  tests/functional/thermal_reserve/test_thermal_reserves_deux_clusters.py
  tests/functional/thermal_reserve/test_thermal_reserves_one_cluster.py
Due: mypy, black, isort

Changement heuristique optimisations
  result_accurate_step2.csv
  tests/functional/libs/heuristic_arrondi.py
  tests/functional/libs/heuristique.py
  tests/functional/thermal_reserve/test_thermal_reserves_one_cluster.py
Due: black, isort

pgmo demo
  models-design/systems/basic_balance_pgmo.drawio
  tests/functional/input/models/lib_1_pgmo_base.yml
  tests/functional/input/models/lib_1_pgmo_dhd.yml
  tests/functional/input/models/lib_1_pgmo_invest.yml
  tests/pgmo_demo/data/basic_balance_study.yml
  tests/pgmo_demo/lib/basic_lib.yml
  tests/pgmo_demo/test_demo_pgmo.py
Due: black, isort

Feature/automatic coupling model (#52)
  src/andromede/expression/port_resolver.py
  src/andromede/libs/standard.py
  src/andromede/libs/standard_sc.py
  src/andromede/model/__init__.py
  src/andromede/model/model.py
  src/andromede/model/port.py
  src/andromede/model/resolve_library.py
  src/andromede/simulation/benders_decomposed.py
  src/andromede/simulation/decision_tree.py
  src/andromede/simulation/linear_expression.py
  src/andromede/simulation/optimization.py
  src/andromede/study/network.py
  tests/functional/test_andromede.py
  tests/functional/test_andromede_yml.py
  tests/functional/test_investment_pathway.py
  tests/functional/test_xpansion.py
  tests/integration/test_benders_decomposed.py
  tests/models/test_electrolyzer.py
  tests/unittests/expressions/test_expressions.py
  tests/unittests/expressions/test_port_resolver.py
  tests/unittests/model/test_model_parsing.py
  tests/unittests/test_data.py
  tests/unittests/test_generate_network_on_tree.py
  tests/unittests/test_model.py
Due: mypy, black, isort

reecriture heuristiques et ajout 1cluster
  result_accurate_step1.csv
  result_accurate_step2.csv
  results_intermediaire.csv
  src/andromede/thermal_heuristic/model.py
  src/andromede/thermal_heuristic/problem.py
  tests/functional/data_reserve/thermal_reserves_one_cluster/demand_primary_reserve_down-ts.txt
  tests/functional/data_reserve/thermal_reserves_one_cluster/demand_primary_reserve_up-ts.txt
  tests/functional/data_reserve/thermal_reserves_one_cluster/demand_secondary_reserve_up-ts.txt
  tests/functional/data_reserve/thermal_reserves_one_cluster_base/components.yml
  tests/functional/data_reserve/thermal_reserves_one_cluster_base/demand_energy-ts.txt
  tests/functional/data_reserve/thermal_reserves_one_cluster_base/demand_primary_reserve_down-ts.txt
  tests/functional/data_reserve/thermal_reserves_one_cluster_base/demand_primary_reserve_up-ts.txt
  tests/functional/data_reserve/thermal_reserves_one_cluster_base/demand_secondary_reserve_up-ts.txt
  tests/functional/data_reserve/thermal_reserves_one_cluster_base/nb_units_max-ts.txt
  tests/functional/libs/heuristic_arrondi.py
  tests/functional/libs/heuristique.py
  tests/functional/libs/lib_thermal_reserve.py
  tests/functional/thermal_reserve/test_thermal_reserves_one_cluster.py
Due: mypy, black, isort

Fixed unit test errors
  src/andromede/simulation/optimization.py
  src/andromede/study/data.py
  tests/functional/test_investment_pathway.py
Due: mypy, black, isort

Fixed expected value risk management missing
  src/andromede/simulation/benders_decomposed.py
  src/andromede/simulation/optimization.py
  tests/integration/test_benders_decomposed.py
Due: mypy, black, isort

Ajout data 2cluster3res et restructuration des heuristiques
  result_accurate_step1.csv
  result_accurate_step1_base.csv
  result_accurate_step1_peak.csv
  result_accurate_step2.csv
  result_accurate_step2_base.csv
  result_accurate_step2_old1.csv
  result_accurate_step2_old2.csv
  result_accurate_step2_opti1.csv
  result_accurate_step2_opti2.csv
  result_accurate_step2_peak.csv
  results_intermediaire_base.csv
  src/andromede/thermal_heuristic/problem.py
  tests/functional/data_reserve/thermal_reserves_deux_clusters_one_res/components.yml
  tests/functional/data_reserve/thermal_reserves_deux_clusters_one_res/demand_energy-ts.txt
  tests/functional/data_reserve/thermal_reserves_deux_clusters_one_res/demand_primary_reserve_down-ts.txt
  tests/functional/data_reserve/thermal_reserves_deux_clusters_one_res/demand_primary_reserve_up-ts.txt
  tests/functional/data_reserve/thermal_reserves_deux_clusters_one_res/nb_units_max-ts.txt
  tests/functional/data_reserve/thermal_reserves_deux_clusters_three_res/components.yml
  tests/functional/data_reserve/thermal_reserves_deux_clusters_three_res/demand_energy-ts.txt
  tests/functional/data_reserve/thermal_reserves_deux_clusters_three_res/demand_primary_reserve_down-ts.txt
  tests/functional/data_reserve/thermal_reserves_deux_clusters_three_res/demand_primary_reserve_up-ts.txt
  tests/functional/data_reserve/thermal_reserves_deux_clusters_three_res/demand_secondary_reserve_up-ts.txt
  tests/functional/data_reserve/thermal_reserves_deux_clusters_three_res/demand_tertiary1_reserve_up-ts.txt
  tests/functional/data_reserve/thermal_reserves_deux_clusters_three_res/nb_units_max-ts.txt
  tests/functional/data_reserve/thermal_reserves_one_cluster_one_res/components.yml
  tests/functional/data_reserve/thermal_reserves_one_cluster_one_res/demand_energy-ts.txt
  tests/functional/data_reserve/thermal_reserves_one_cluster_one_res/demand_primary_reserve_down-ts.txt
  tests/functional/data_reserve/thermal_reserves_one_cluster_one_res/demand_primary_reserve_up-ts.txt
  tests/functional/data_reserve/thermal_reserves_one_cluster_one_res/demand_secondary_reserve_up-ts.txt
  tests/functional/data_reserve/thermal_reserves_one_cluster_one_res/nb_units_max-ts.txt
  tests/functional/data_reserve/thermal_reserves_one_cluster_two_res/components.yml
  tests/functional/data_reserve/thermal_reserves_one_cluster_two_res/demand_energy-ts.txt
  tests/functional/data_reserve/thermal_reserves_one_cluster_two_res/demand_primary_reserve_down-ts.txt
  tests/functional/data_reserve/thermal_reserves_one_cluster_two_res/demand_primary_reserve_up-ts.txt
  tests/functional/data_reserve/thermal_reserves_one_cluster_two_res/demand_secondary_reserve_up-ts.txt
  tests/functional/data_reserve/thermal_reserves_one_cluster_two_res/nb_units_max-ts.txt
  tests/functional/libs/heuristic_arrondi.py
  tests/functional/libs/heuristique.py
  tests/functional/thermal_reserve/test_thermal_reserves_deux_clusters.py
  tests/functional/thermal_reserve/test_thermal_reserves_one_cluster.py
Due: mypy, black, isort

Fix antlr differences
  src/andromede/expression/parsing/antlr/Expr.interp
  src/andromede/expression/parsing/antlr/ExprLexer.interp
Due: none

first skeleton
  .gitignore
  src/andromede/input_converter/__init__.py
  src/andromede/input_converter/data/config.ini
  src/andromede/input_converter/src/__init__.py
  src/andromede/input_converter/src/converter.py
  src/andromede/input_converter/src/main.py
  src/andromede/input_converter/src/utils.py
  tests/input_converter/__init__.py
  tests/input_converter/conftest.py
  tests/input_converter/test_converter.py
Due: mypy, black, isort

lint
  tests/input_converter/conftest.py
  tests/input_converter/test_converter.py
Due: black, isort

lint with ruff to check if it pass
  src/andromede/input_converter/src/converter.py
  src/andromede/input_converter/src/main.py
  src/andromede/input_converter/src/utils.py
  tests/input_converter/conftest.py
  tests/input_converter/test_converter.py
Due: mypy, black, isort

last lint
  src/andromede/input_converter/src/__init__.py
Due: mypy, black, isort

typing
  src/andromede/input_converter/src/converter.py
  src/andromede/input_converter/src/main.py
  src/andromede/input_converter/src/utils.py
Due: mypy, black, isort

last format
  src/andromede/input_converter/src/converter.py
Due: mypy, black, isort

test
  requirements.txt
Due: none

test
  src/andromede/input_converter/src/converter.py
Due: mypy, black, isort

lint
  src/andromede/input_converter/src/converter.py
Due: mypy, black, isort

mypy
  requirements.txt
  src/andromede/input_converter/src/converter.py
  src/andromede/input_converter/src/main.py
  src/andromede/input_converter/src/utils.py
  tests/input_converter/test_converter.py
Due: mypy, black, isort

isort
  src/andromede/input_converter/src/converter.py
  src/andromede/input_converter/src/utils.py
Due: mypy, black, isort

test isort
  tests/input_converter/test_converter.py
Due: black, isort

black
  src/andromede/input_converter/src/converter.py
  src/andromede/input_converter/src/utils.py
Due: mypy, black, isort

update requirements dev file
  requirements-dev.txt
Due: none

test
  tests/input_converter/conftest.py
Due: black, isort

better sorting
  tests/input_converter/conftest.py
Due: black, isort

test compile requirements with pip tools
  requirements-dev.txt
Due: none

fix requirements.txt
  requirements-dev.in
  requirements-dev.txt
  requirements.in
  requirements.txt
  src/andromede/input_converter/src/converter.py
  src/andromede/input_converter/src/utils.py
Due: mypy, black, isort

requirements change
  requirements.in
  requirements.txt
Due: none

sort
  tests/input_converter/test_converter.py
Due: black, isort

requiremnt update
  requirements-dev.txt
Due: none

finally the correct requirements
  requirements-dev.txt
Due: none

antares.craft
  requirements.txt
  src/andromede/input_converter/src/converter.py
  tests/input_converter/conftest.py
  tests/input_converter/test_converter.py
Due: mypy, black, isort

ignore this line
  src/andromede/input_converter/src/converter.py
Due: mypy, black, isort

last
  src/andromede/input_converter/src/converter.py
Due: mypy, black, isort

Path conditions:
  mypy: any of: ^src/ and \.py$
  black: any of: \.py$
  isort: any of: \.py$
