Repository AntaresSimulatorTeam/andromede-modeling-prototype: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, black, isort

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^src/
        types: [python]

-   repo: local
    hooks:
    -   id: black
        name: Run black
        entry: black
        args: ["--config", "pyproject.toml", "src", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: isort
        name: Run isort
        entry: isort
        args: ["--profile", "black", "--filter-files"]
        language: system
        types: [python]

more traces
  tests/input_converter/test_converter.py
Due: black, isort

format
  tests/input_converter/test_converter.py
Due: black, isort

test
  src/andromede/input_converter/src/converter.py
  tests/input_converter/test_converter.py
Due: mypy, black, isort

new version of antarescraft
  requirements.in
  requirements.txt
  src/andromede/input_converter/data/model_configuration/load.yaml
  src/andromede/input_converter/src/converter.py
  tests/input_converter/test_converter.py
Due: mypy, black, isort

update requirements dev txt
  requirements-dev.txt
Due: none

remove dev traces
  tests/input_converter/test_converter.py
Due: black, isort

Update demo files: enable solver output, modify YAML configurations, and add requirements
  .gitignore
  tests/e2e/demo/demo.py
  tests/e2e/demo/libs/lib_demo_commented.yml
  tests/e2e/demo/output/output.csv
  tests/e2e/demo/requirements-demo.txt
Due: black, isort

Update README.md
  README.md
Due: none

Update README.md (#109)
  README.md
Due: none

fix doc
  docs/getting-started.md
  docs/index.md
  docs/user-guide/building.md
  docs/user-guide/inputs.md
  docs/user-guide/optimisation.md
  docs/user-guide/outputs.md
  docs/user-guide/reference-libraries.md
  mkdocs.yml
Due: none

Merge branch binding constraints
  requirements-dev.txt
  requirements.in
  requirements.txt
  src/andromede/input_converter/src/converter.py
  src/andromede/input_converter/src/data_preprocessing/binding_constraints.py
  src/andromede/input_converter/src/data_preprocessing/dataclasses.py
  src/andromede/input_converter/src/utils.py
  tests/input_converter/test_converter.py
Due: mypy, black, isort

fix doc
  docs/index.md
Due: none

Doc/fix (#111)
  docs/getting-started.md
  docs/index.md
  docs/user-guide/building.md
  docs/user-guide/inputs.md
  docs/user-guide/optimisation.md
  docs/user-guide/outputs.md
  docs/user-guide/reference-libraries.md
  mkdocs.yml
Due: none

Update demo files: enable solver output, modify YAML configurations, and add requirements
  tests/e2e/demo/libs/lib_demo.yml
  tests/e2e/demo/output/output1.png
  tests/e2e/demo/output/output2.png
Due: none

Renaming
  src/andromede/input_converter/src/converter.py
  tests/input_converter/test_converter.py
Due: mypy, black, isort

Add MaxNode function to be able to express max operator
  grammar/.antlr/Expr.interp
  grammar/.antlr/Expr.tokens
  grammar/.antlr/ExprBaseListener.java
  grammar/.antlr/ExprLexer.interp
  grammar/.antlr/ExprLexer.java
  grammar/.antlr/ExprLexer.tokens
  grammar/.antlr/ExprListener.java
  grammar/.antlr/ExprParser.java
  grammar/Expr.g4
  src/andromede/expression/copy.py
  src/andromede/expression/degree.py
  src/andromede/expression/evaluate.py
  src/andromede/expression/expression.py
  src/andromede/expression/indexing.py
  src/andromede/expression/parsing/antlr/ExprLexer.py
  src/andromede/expression/parsing/antlr/ExprLexer.tokens
  src/andromede/expression/parsing/antlr/ExprParser.py
  src/andromede/expression/parsing/antlr/ExprVisitor.py
  src/andromede/expression/parsing/parse_expression.py
  src/andromede/expression/visitor.py
  src/andromede/model/port.py
  src/andromede/model/resolve_library.py
  src/andromede/simulation/linearize.py
  tests/antares_historic/lib_max_operator.yml
  tests/antares_historic/test_antares_historic.py
Due: mypy, black, isort
