Repository AntaresSimulatorTeam/andromede-modeling-prototype: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, black, isort

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^src/
        types: [python]

-   repo: local
    hooks:
    -   id: black
        name: Run black
        entry: black
        args: ["--config", "pyproject.toml", "src", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: isort
        name: Run isort
        entry: isort
        args: ["--profile", "black", "--filter-files"]
        language: system
        types: [python]

BailErrorStrategy added to raise Exceptions when parsing fails
  src/andromede/expression/parsing/parse_expression.py
  tests/andromede/expressions/parsing/test_expression_parsing.py
Due: mypy, black, isort

Isort corrected
  src/andromede/expression/parsing/parse_expression.py
  tests/andromede/expressions/parsing/test_expression_parsing.py
  tests/andromede/model/test_model_parsing.py
Due: mypy, black, isort

Add nuclear modulation model
  models-design/systems/nuclear_modulation.drawio
Due: none

Add model constraining total imports
  models-design/systems/bc_total_import.drawio
Due: none

Correct errors
  models-design/systems/flow_based.drawio
Due: none

Correct error in stock model
  models-design/model_library/stock_final_level.drawio
Due: none

Add model with minimum electric vehicle load
  models-design/systems/EV_load_min.drawio
Due: none

Add hvdc model
  models-design/systems/HVDC.drawio
  models-design/systems/Kirchhoff_s_second_law.drawio
Due: none

Ajout du isclose et modification des tests pour les electrolyzer n_inputs
  tests/unittests/test_electrolyzer_n_inputs.py
  tests/unittests/test_quota_co2.py
Due: black, isort

Rename nodes to real countries to clarify differences between models
  models-design/systems/flow_based.drawio
Due: none

See #ANT-1267 Explicit naming for variables and constraints
  src/andromede/simulation/optimization.py
Due: mypy, black, isort

See #ANT-1267 Workaround 2 for CI
  tests/integration/test_benders_decomposed.py
Due: black, isort

See #ANT-1267 Fixes after review
  src/andromede/simulation/output_values.py
  tests/integration/test_benders_decomposed.py
Due: mypy, black, isort

See #ANT-1267 Workaround for CI
  src/andromede/simulation/benders_decomposed.py
  src/andromede/simulation/runner.py
Due: mypy, black, isort

See #ANT-1267 Fix output tree to mirror Xpansion
  src/andromede/simulation/benders_decomposed.py
Due: mypy, black, isort

See #ANT-1267 Solve multiple time-blocks with Benders
  src/andromede/simulation/__init__.py
  src/andromede/simulation/benders_decomposed.py
  src/andromede/simulation/output_values.py
  tests/integration/test_benders_decomposed.py
Due: mypy, black, isort

See #ANT-1267 Read solution to be able to compare it
  src/andromede/simulation/benders_decomposed.py
  src/andromede/simulation/output_values.py
  src/andromede/simulation/runner.py
  src/andromede/utils.py
  tests/integration/test_benders_decomposed.py
Due: mypy, black, isort

See #ANT-1267 Add merge_mps as a command to run
  src/andromede/simulation/__init__.py
  src/andromede/simulation/benders_decomposed.py
  src/andromede/simulation/runner.py
Due: mypy, black, isort

See #ANT-1267 Change annotations for instance fields
  src/andromede/simulation/runner.py
Due: mypy, black, isort

Feature/ant 1267 (#22)
  src/andromede/simulation/__init__.py
  src/andromede/simulation/benders_decomposed.py
  src/andromede/simulation/optimization.py
  src/andromede/simulation/output_values.py
  src/andromede/simulation/runner.py
  src/andromede/utils.py
  tests/integration/test_benders_decomposed.py
Due: mypy, black, isort

Define tree structure for time blocks and data
  src/andromede/libs/standard.py
  src/andromede/simulation/time_block.py
  src/andromede/study/data.py
  tests/andromede/test_investment_pathway.py
  tests/functional/test_xpansion.py
Due: mypy, black, isort

Improve test description
  src/andromede/simulation/time_block.py
  tests/andromede/test_investment_pathway.py
Due: mypy, black, isort

Create class to store configuration of a resolution node
  requirements.txt
  src/andromede/simulation/time_block.py
  tests/andromede/test_investment_pathway.py
Due: mypy, black, isort

Work in progress
  src/andromede/libs/standard.py
  src/andromede/model/model.py
  src/andromede/simulation/benders_decomposed.py
  src/andromede/simulation/optimization.py
  src/andromede/simulation/time_block.py
  tests/andromede/test_investment_pathway.py
  tests/functional/test_xpansion.py
Due: mypy, black, isort

Design the construction of network on decision tree
  mypy.ini
  src/andromede/model/model.py
  src/andromede/simulation/benders_decomposed.py
  src/andromede/simulation/decision_tree.py
  src/andromede/simulation/optimization.py
  src/andromede/simulation/time_block.py
  src/andromede/study/data.py
  tests/andromede/test_investment_pathway.py
  tests/functional/test_xpansion.py
Due: mypy, black, isort

Work in progress
  src/andromede/simulation/decision_tree.py
  tests/andromede/test_generate_network_on_tree.py
Due: mypy, black, isort

Add comments
  src/andromede/simulation/decision_tree.py
Due: mypy, black, isort

Fix rebase conflict
  src/andromede/simulation/benders_decomposed.py
  tests/integration/test_benders_decomposed.py
Due: mypy, black, isort

Fix sign mistakes
  models-design/systems/electrolyzer_n_inputs.drawio
Due: none

Fix sign and arrow direction
  models-design/systems/electrolyzer_n_inputs.drawio
Due: none

Delete models because more efficient models are available with ports
  models-design/systems/HVDC.drawio
  models-design/systems/Kirchhoff_s_second_law.drawio
Due: none

Correct electrolyzer model typos (#26)
  models-design/systems/electrolyzer_n_inputs.drawio
Due: none

Add a few failing tests
  tests/andromede/expressions/parsing/test_expression_parsing.py
Due: black, isort

Use file input for library parsing test
  src/andromede/model/parsing.py
  tests/andromede/model/test_model_parsing.py
  tests/conftest.py
  tests/data/lib.yml
Due: mypy, black, isort

Adapt to last evolutions
  src/andromede/model/resolve_library.py
  tests/unittests/conftest.py
  tests/unittests/data/lib.yml
  tests/unittests/expressions/parsing/__init__.py
  tests/unittests/expressions/parsing/test_expression_parsing.py
  tests/unittests/model/__init__.py
  tests/unittests/model/test_model_parsing.py
Due: mypy, black, isort
