Repository AntaresSimulatorTeam/andromede-modeling-prototype: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, black, isort

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^src/
        types: [python]

-   repo: local
    hooks:
    -   id: black
        name: Run black
        entry: black
        args: ["--config", "pyproject.toml", "src", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: isort
        name: Run isort
        entry: isort
        args: ["--profile", "black", "--filter-files"]
        language: system
        types: [python]

merge battery part
  src/andromede/input_converter/data/model_configuration/battery.yaml
Due: none

rename folder model_configuration
  src/andromede/input_converter/data/cc_configuration/battery.yaml
Due: none

refacto 03/06
  src/andromede/input_converter/data/model_configuration/battery.yaml
  src/andromede/input_converter/data/model_configuration/load.yaml
  src/andromede/input_converter/src/converter.py
  src/andromede/input_converter/src/data_preprocessing/dataclasses.py
  src/andromede/input_converter/src/data_preprocessing/models_preprocessing.py
  src/andromede/input_converter/src/utils.py
  tests/input_converter/conftest.py
  tests/input_converter/test_converter.py
Due: mypy, black, isort

Updating capacities
  src/run_test_case.py
  tests/muessli/case_3_nodes/library.yml
  tests/muessli/case_3_nodes/system.yml
Due: mypy, black, isort

update binding_constraint conversion with new format of battery.yaml
  src/andromede/input_converter/data/model_configuration/battery.yaml
  src/andromede/input_converter/src/converter.py
  src/andromede/input_converter/src/data_preprocessing/binding_constraints.py
  src/andromede/input_converter/src/data_preprocessing/dataclasses.py
  src/andromede/input_converter/src/utils.py
  tests/input_converter/test_converter.py
Due: mypy, black, isort

formatting
  src/andromede/pypsa_converter/pypsa_converter.py
  tests/pypsa_converter/test_pypsa_converter.py
Due: mypy, black, isort

format
  src/andromede/pypsa_converter/pypsa_converter.py
Due: mypy, black, isort

basic pypsa test case + filtering carrier for global constraint
  src/andromede/pypsa_converter/pypsa_converter.py
  tests/e2e/models/systems/pypsa_basic_system.yml
Due: mypy, black, isort

basic pypsa test case + filtering carrier for global constraint
  src/andromede/pypsa_converter/pypsa_converter.py
Due: mypy, black, isort

formatting
  src/andromede/pypsa_converter/pypsa_converter.py
Due: mypy, black, isort

cleaning
  src/andromede/libs/pypsa_models/pypsa_models.yml
  tests/pypsa_converter/test_advanced_pypsa_cases.py
  tests/pypsa_converter/test_pypsa_converter.py
Due: black, isort

push converter output for mini test battery
  tests/input_converter/resources/mini_test_batterie_2026__03062025_104837/output.yaml
Due: none

Update README.md
  README.md
Due: none

Doc/readme (#103)
  README.md
Due: none

documentation
  docs/user-guide/building.md
  docs/user-guide/converters.md
  docs/user-guide/data.md
  docs/user-guide/inputs.md
  docs/user-guide/libraries.md
  docs/user-guide/models.md
  docs/user-guide/optimization.md
  docs/user-guide/outputs.md
  docs/user-guide/reference-libraries.md
  docs/user-guide/syntax.md
  docs/user-guide/systems.md
  mkdocs.yml
Due: none

documentation
  docs/user-guide/reference-libraries.md
Due: none

add BC tests + whole study test
  src/andromede/input_converter/data/model_configuration/battery.yaml
  src/andromede/input_converter/src/converter.py
  src/andromede/input_converter/src/data_preprocessing/binding_constraints.py
  src/andromede/input_converter/src/data_preprocessing/dataclasses.py
  src/andromede/input_converter/src/data_preprocessing/thermal.py
  src/andromede/input_converter/src/main.py
  tests/input_converter/resources/mini_test_batterie_2026__03062025_104837/reference.yaml
  tests/input_converter/test_converter.py
Due: mypy, black, isort

refacto
  src/andromede/pypsa_converter/pypsa_converter.py
  src/andromede/simulation/optimization.py
  tests/e2e/functional/test_libs_python_system_python.py
  tests/pypsa_converter/systems/pypsa_study.yml
  tests/pypsa_converter/test_advanced_pypsa_cases.py
  tests/pypsa_converter/test_pypsa_converter.py
  tests/pypsa_converter/utils.py
Due: mypy, black, isort

PyPSA GlobalConstraints + Authorizing LB=UB (#105)
  src/andromede/libs/pypsa_models/pypsa_models.yml
  src/andromede/pypsa_converter/pypsa_converter.py
  src/andromede/simulation/optimization.py
  tests/e2e/functional/test_libs_python_system_python.py
  tests/e2e/models/systems/pypsa_basic_system.yml
  tests/pypsa_converter/pypsa_input_files/base_s_4_elec.nc
  tests/pypsa_converter/pypsa_input_files/base_s_6_elec_lvopt_.nc
  tests/pypsa_converter/systems/pypsa_study.yml
  tests/pypsa_converter/test_advanced_pypsa_cases.py
  tests/pypsa_converter/test_pypsa_converter.py
  tests/pypsa_converter/test_pypsa_storage.py
  tests/pypsa_converter/utils.py
Due: mypy, black, isort

update new version w tests
  src/andromede/input_converter/data/model_configuration/battery.yaml
  src/andromede/input_converter/src/converter.py
  tests/input_converter/resources/mini_test_batterie_2026__03062025_104837/input/links/fr/capacities/p_max_injection_modulation_fr.txt
  tests/input_converter/resources/mini_test_batterie_2026__03062025_104837/input/links/fr/marginal_cost_fr.txt
  tests/input_converter/resources/mini_test_batterie_2026__03062025_104837/input/thermal/series/fr/fr_batteries_inj/p_max_withdrawal_modulation_fr.txt
  tests/input_converter/resources/mini_test_batterie_2026__03062025_104837/input/thermal/series/z_batteries/z_batteries_batteries_fr_1/upper_rule_curve_z_batteries.txt
  tests/input_converter/resources/mini_test_batterie_2026__03062025_104837/reference.yaml
  tests/input_converter/test_converter.py
Due: mypy, black, isort

improve tests
  tests/input_converter/conftest.py
  tests/input_converter/resources/mini_test_batterie_BP23/reference.yaml
  tests/input_converter/test_converter.py
Due: black, isort

Refacto + tests on Operation class
  src/andromede/input_converter/src/converter.py
  tests/input_converter/test_converter.py
Due: mypy, black, isort

improve tests
  src/andromede/input_converter/src/data_preprocessing/dataclasses.py
  tests/input_converter/test_converter.py
Due: mypy, black, isort

remove traces
  src/andromede/input_converter/src/data_preprocessing/dataclasses.py
Due: mypy, black, isort

update docs
  docs/getting-started.md
  docs/index.md
  docs/user-guide/syntax.md
  mkdocs.yml
Due: none

update docs
  README.md
  docs/getting-started.md
  docs/index.md
  docs/user-guide/inputs.md
  docs/user-guide/libraries.md
  docs/user-guide/models.md
  docs/user-guide/optimization.md
  docs/user-guide/outputs.md
  docs/user-guide/reference-libraries.md
  mkdocs.yml
Due: none

update docs
  README.md
Due: none
