Repository AntaresSimulatorTeam/andromede-modeling-prototype: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, black, isort

mypy:
  name: Run mypy
  entry: mypy
  language: system

black:
  name: Run black
  entry: black
  args:
  - --config
  - pyproject.toml
  - src
  - tests
  language: system

isort:
  name: Run isort
  entry: isort
  args:
  - --profile
  - black
  - --filter-files
  language: system

move files
  src/andromede/model/parsing.py
  tests/functional/conftest.py
  tests/functional/libs/lib.yml
  tests/functional/test_andromede_yml.py
Due: mypy, black, isort

removing duplicate tests
  tests/functional/test_andromede.py
Due: black, isort

fix ci
  tests/functional/test_andromede.py
Due: black, isort

fix tests
  tests/functional/test_andromede_yml.py
Due: black, isort

Performance test: check large nb of port connections
  tests/functional/test_performance.py
  tests/functional/test_stochastic.py
  tests/unittests/test_utils.py
Due: black, isort

Remove unused generate_random_data function
  tests/unittests/test_utils.py
Due: black, isort

Add RecursionError raise check for tests
  tests/functional/test_performance.py
Due: black, isort

fixed parsing of time shift yaml
  grammar/Expr.g4
  src/andromede/expression/parsing/antlr/Expr.interp
  src/andromede/expression/parsing/antlr/Expr.tokens
  src/andromede/expression/parsing/antlr/ExprLexer.interp
  src/andromede/expression/parsing/antlr/ExprLexer.py
  src/andromede/expression/parsing/antlr/ExprLexer.tokens
  src/andromede/expression/parsing/antlr/ExprParser.py
  src/andromede/expression/parsing/antlr/ExprVisitor.py
  src/andromede/expression/parsing/antlr/__init__.py
  src/andromede/expression/parsing/parse_expression.py
  tests/functional/libs/lib.yml
  tests/functional/test_andromede_yml.py
  tests/unittests/expressions/parsing/test_expression_parsing.py
Due: mypy, black, isort

moved main code into a main() function
  src/andromede/main/main.py
Due: mypy, black, isort

added two test for stock pipeline and test and model for gas stock
  src/andromede/libs/standard_sc.yml
  tests/models/test_gas_stock_elec_compressor.py
  tests/models/test_stock_pipeline.py
Due: black, isort

fix test gas link elec compressor
  tests/models/test_gas_link_elec_compressor.py
Due: black, isort

project file structure implemented
  src/andromede/main/main.py
  src/andromede/model/resolve_library.py
  tests/functional/input/components/components.yml
  tests/functional/input/components/series/demand-ts.txt
  tests/functional/input/models/lib_1.yml
  tests/functional/input/models/lib_2.yml
Due: mypy, black, isort

imperfect solution for timeshift evaluation
  grammar/Expr.g4
  src/andromede/expression/parsing/antlr/Expr.interp
  src/andromede/expression/parsing/antlr/Expr.tokens
  src/andromede/expression/parsing/antlr/ExprLexer.interp
  src/andromede/expression/parsing/antlr/ExprLexer.py
  src/andromede/expression/parsing/antlr/ExprLexer.tokens
  src/andromede/expression/parsing/antlr/ExprParser.py
  src/andromede/expression/parsing/antlr/ExprVisitor.py
  src/andromede/expression/parsing/parse_expression.py
  tests/unittests/expressions/parsing/test_expression_parsing.py
Due: mypy, black, isort

add the possibility to make library import another library
  src/andromede/main/main.py
  src/andromede/model/parsing.py
  src/andromede/model/resolve_library.py
  tests/functional/input/models/lib_2.yml
Due: mypy, black, isort

solution for time shift evaluation ?
  grammar/Expr.g4
  src/andromede/expression/parsing/antlr/Expr.interp
  src/andromede/expression/parsing/antlr/Expr.tokens
  src/andromede/expression/parsing/antlr/ExprLexer.interp
  src/andromede/expression/parsing/antlr/ExprLexer.py
  src/andromede/expression/parsing/antlr/ExprLexer.tokens
  src/andromede/expression/parsing/antlr/ExprParser.py
  src/andromede/expression/parsing/antlr/ExprVisitor.py
  src/andromede/expression/parsing/parse_expression.py
Due: mypy, black, isort

rewrite the grammar to be clearer
  grammar/Expr.g4
  src/andromede/expression/parsing/antlr/Expr.interp
  src/andromede/expression/parsing/antlr/Expr.tokens
  src/andromede/expression/parsing/antlr/ExprLexer.interp
  src/andromede/expression/parsing/antlr/ExprLexer.py
  src/andromede/expression/parsing/antlr/ExprLexer.tokens
  src/andromede/expression/parsing/antlr/ExprParser.py
  src/andromede/expression/parsing/antlr/ExprVisitor.py
  src/andromede/expression/parsing/parse_expression.py
  tests/unittests/expressions/parsing/test_expression_parsing.py
Due: mypy, black, isort

add another expr
  grammar/Expr.g4
  src/andromede/expression/parsing/antlr/Expr.interp
  src/andromede/expression/parsing/antlr/ExprParser.py
  src/andromede/expression/parsing/antlr/ExprVisitor.py
  src/andromede/expression/parsing/parse_expression.py
  tests/unittests/expressions/parsing/test_expression_parsing.py
Due: mypy, black, isort

moving failing test into the right place
  grammar/Expr.g4
  src/andromede/expression/parsing/antlr/Expr.interp
  src/andromede/expression/parsing/antlr/Expr.tokens
  src/andromede/expression/parsing/antlr/ExprLexer.interp
  src/andromede/expression/parsing/antlr/ExprLexer.py
  src/andromede/expression/parsing/antlr/ExprLexer.tokens
  src/andromede/expression/parsing/antlr/ExprParser.py
  tests/unittests/expressions/parsing/test_expression_parsing.py
Due: mypy, black, isort

Added test for gas stock 2 elec compressor with yaml components
  src/andromede/libs/standard_sc.yml
  tests/models/components_for_test_gas_stock_2_elec_compressor.yml
  tests/models/models_for_test_gas_stock_2_elec_compressor.yml
  tests/models/test_gas_stock_2_elec_compressor.py
  tests/models/test_gas_stock_elec_compressor.py
Due: black, isort

Add first tests on thermal heuristics
  tests/functional/test_heuristic.py
Due: black, isort

Implement accurate heuristic on simple problem
  tests/functional/test_heuristic.py
Due: black, isort

Add comments
  tests/functional/test_heuristic.py
Due: black, isort

implement scenario builder
  src/andromede/main/main.py
  src/andromede/study/data.py
  src/andromede/study/parsing.py
  src/andromede/study/resolve_components.py
  tests/functional/input/components/components.yml
  tests/functional/input/models/lib_3.yml
Due: mypy, black, isort

Write subproblem with tree
  src/andromede/simulation/benders_decomposed.py
  src/andromede/simulation/decision_tree.py
  src/andromede/simulation/optimization.py
  src/andromede/study/data.py
  tests/functional/test_investment_pathway.py
  tests/integration/test_benders_decomposed.py
  tests/unittests/test_generate_network_on_tree.py
Due: mypy, black, isort

add test
  tests/unittests/data/components_for_scenarization_test.yml
  tests/unittests/data/lib.yml
  tests/unittests/data/loads.txt
  tests/unittests/test_scenario_builder.py
Due: black, isort

Add first pathway test
  src/andromede/libs/standard.py
  src/andromede/simulation/__init__.py
  src/andromede/simulation/benders_decomposed.py
  src/andromede/simulation/decision_tree.py
  src/andromede/simulation/optimization.py
  tests/functional/test_andromede.py
  tests/functional/test_investment_pathway.py
  tests/functional/test_xpansion.py
  tests/integration/test_benders_decomposed.py
  tests/unittests/test_generate_network_on_tree.py
Due: mypy, black, isort

Add three node test for pathway
  tests/functional/test_investment_pathway.py
Due: black, isort

Add fast heuristic and improve accurate
  tests/functional/test_heuristic.py
Due: black, isort

add a complete test
  tests/unittests/data/components_for_scenarization_test.yml
  tests/unittests/data/lib.yml
  tests/unittests/test_scenario_builder.py
Due: black, isort

rename test heuristic
  tests/functional/test_heuristic_simple_case.py
Due: black, isort

add scenario builder parsing
  src/andromede/study/scenario_parsing.py
  tests/unittests/data/scenario_builder.csv
  tests/unittests/test_scenario_builder.py
Due: mypy, black, isort

Implement complex model
  tests/functional/test_heuristic_complex_case.py
Due: black, isort

Accurate for complex model
  tests/functional/test_heuristic_complex_case.py
Due: black, isort

added stock hydro test
  tests/models/components_for_test_stock_hydro_2_input.yml
  tests/models/models_for_test_stock_hydro_2_input.yml
  tests/models/test_stock_hydro_2_input.py
Due: black, isort

Add prob to tree nodes for expectation computation
  src/andromede/simulation/decision_tree.py
  tests/functional/test_investment_pathway.py
  tests/unittests/test_generate_network_on_tree.py
Due: mypy, black, isort

Add some explanation in grammar file
  grammar/Expr.g4
Due: none

Re-implement functional tests in yaml + multiple fixes (#35)
  grammar/Expr.g4
  src/andromede/expression/parsing/antlr/Expr.interp
  src/andromede/expression/parsing/antlr/Expr.tokens
  src/andromede/expression/parsing/antlr/ExprLexer.interp
  src/andromede/expression/parsing/antlr/ExprLexer.py
  src/andromede/expression/parsing/antlr/ExprLexer.tokens
  src/andromede/expression/parsing/antlr/ExprParser.py
  src/andromede/expression/parsing/antlr/ExprVisitor.py
  src/andromede/expression/parsing/antlr/__init__.py
  src/andromede/expression/parsing/parse_expression.py
  src/andromede/model/parsing.py
  src/andromede/model/resolve_library.py
  src/andromede/simulation/optimization.py
  tests/functional/conftest.py
  tests/functional/libs/lib.yml
  tests/functional/test_andromede.py
  tests/functional/test_andromede_yml.py
  tests/unittests/data/lib.yml
  tests/unittests/expressions/parsing/test_expression_parsing.py
Due: mypy, black, isort

Type errors and useless solver parameters
  tests/functional/test_heuristic_complex_case.py
  tests/functional/test_heuristic_simple_case.py
Due: black, isort

check hourly outputs
  tests/functional/data_complex_case/accurate/details-hourly.txt
  tests/functional/data_complex_case/accurate/values-hourly.txt
  tests/functional/data_complex_case/fast/details-hourly.txt
  tests/functional/data_complex_case/fast/values-hourly.txt
  tests/functional/data_complex_case/milp/details-hourly.txt
  tests/functional/data_complex_case/milp/values-hourly.txt
  tests/functional/test_heuristic_complex_case.py
Due: black, isort

fast heuristic for complex case
  tests/functional/test_heuristic_complex_case.py
  tests/functional/test_heuristic_simple_case.py
Due: black, isort

Path conditions:
  mypy: any of: ^src/ and \.py$
  black: any of: \.py$
  isort: any of: \.py$
