Repository AntaresSimulatorTeam/andromede-modeling-prototype: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, black, isort

mypy:
  name: Run mypy
  entry: mypy
  language: system

black:
  name: Run black
  entry: black
  args:
  - --config
  - pyproject.toml
  - src
  - tests
  language: system

isort:
  name: Run isort
  entry: isort
  args:
  - --profile
  - black
  - --filter-files
  language: system

remove todo
  src/andromede/input_converter/src/converter.py
Due: mypy, black, isort

dev traces
  tests/unittests/data/components.yml
  tests/unittests/data/components_for_short_term_storage.yml
Due: none

add port connections
  src/andromede/input_converter/src/converter.py
  tests/input_converter/test_converter.py
Due: mypy, black, isort

lint
  tests/input_converter/test_converter.py
Due: black, isort

add error message with print and reduce exception size
  src/andromede/input_converter/src/converter.py
Due: mypy, black, isort

add verifications for presence of dataframe
  src/andromede/input_converter/src/converter.py
  tests/input_converter/conftest.py
  tests/input_converter/test_converter.py
Due: mypy, black, isort

isort
  tests/input_converter/test_converter.py
Due: black, isort

mypy
  src/andromede/input_converter/src/converter.py
Due: mypy, black, isort

lint
  src/andromede/input_converter/src/converter.py
Due: mypy, black, isort

modify validity method
  src/andromede/input_converter/src/converter.py
Due: mypy, black, isort

lre
  src/andromede/input_converter/src/converter.py
Due: mypy, black, isort

failure parsing
  src/andromede/input_converter/src/converter.py
Due: mypy, black, isort

formatting
  src/andromede/input_converter/src/converter.py
Due: mypy, black, isort

remove extend in some placesd
  src/andromede/input_converter/src/converter.py
Due: mypy, black, isort

fix
  src/andromede/input_converter/src/converter.py
Due: mypy, black, isort

one last fix
  src/andromede/input_converter/src/converter.py
Due: mypy, black, isort

contrib: Add load, solar, wind conversion to yaml components (#60)
  src/andromede/input_converter/src/converter.py
  tests/input_converter/conftest.py
  tests/input_converter/test_converter.py
  tests/unittests/data/components.yml
Due: mypy, black, isort

implement links component
  src/andromede/input_converter/src/converter.py
  tests/input_converter/test_converter.py
Due: mypy, black, isort

a little bit of factorisation
  tests/input_converter/test_converter.py
Due: black, isort

contrib: Add Links conversion to yaml components (#61)
  src/andromede/input_converter/src/converter.py
  tests/input_converter/test_converter.py
Due: mypy, black, isort

ajout code pour tests BP
  model.lp
  result_accurate_step2_base.csv
  result_accurate_step2_peak.csv
  result_milp_1.csv
  result_milp_2.csv
  tests/functional/data_reserve/thermal_reserves_deux_clusters_one_res/components.yml
  tests/functional/data_reserve/thermal_reserves_deux_clusters_one_res/demand_primary_reserve-ts.txt
  tests/functional/data_reserve/thermal_reserves_deux_clusters_one_res/demand_tertiary_reserve_down-ts.txt
  tests/functional/data_reserve/thermal_reserves_deux_clusters_one_res/demand_tertiary_reserve_up-ts.txt
  tests/functional/data_reserve/thermal_reserves_deux_clusters_one_res/max_generating.txt
  tests/functional/libs/heuristic_arrondi.py
  tests/functional/libs/heuristique.py
  tests/functional/libs/lib_thermal_reserve_fast.py
  tests/functional/libs/lib_thermal_reserve_linear.py
  tests/functional/thermal_reserve/test_thermal_reserves_deux_clusters.py
  tests/functional/thermal_reserve/test_thermal_reserves_deux_clusters_fast.py
  tests/functional/thermal_reserve/tests_BP.py
  tests/generate_mps_files.py
  tests/heuristique_thermique.py
  tests/test_python_generatre_mps.py
Due: black, isort

deploy the structure of the code
  src/andromede/input_converter/data/config.ini
  src/andromede/input_converter/src/converter.py
  src/andromede/input_converter/src/logger.py
  src/andromede/input_converter/src/main.py
  tests/antares_historic/__init__.py
  tests/antares_historic/conftest.py
  tests/antares_historic/test_antares_historic.py
  tests/input_converter/test_converter.py
Due: mypy, black, isort

test sort
  tests/antares_historic/test_antares_historic.py
  tests/input_converter/test_converter.py
Due: black, isort

isort fix
  tests/input_converter/test_converter.py
Due: black, isort

ruff
  tests/antares_historic/conftest.py
  tests/antares_historic/test_antares_historic.py
  tests/input_converter/conftest.py
  tests/input_converter/test_converter.py
Due: black, isort

mypy + ruff + isort
  src/andromede/input_converter/src/converter.py
  src/andromede/input_converter/src/logger.py
  src/andromede/input_converter/src/main.py
  src/andromede/input_converter/src/utils.py
Due: mypy, black, isort

dependancy issue
  tests/antares_historic/test_antares_historic.py
Due: black, isort

fix isort
  tests/antares_historic/test_antares_historic.py
Due: black, isort

re
  tests/antares_historic/test_antares_historic.py
Due: black, isort

last one with requirements
  requirements.in
  requirements.txt
  tests/antares_historic/test_antares_historic.py
Due: black, isort

requirements fix
  requirements-dev.txt
Due: none

sorting issue
  tests/antares_historic/test_antares_historic.py
Due: black, isort

there is change in antarescraft
  tests/antares_historic/conftest.py
  tests/input_converter/conftest.py
Due: black, isort

isort again
  tests/antares_historic/conftest.py
  tests/input_converter/conftest.py
Due: black, isort

blakc now
  tests/antares_historic/conftest.py
  tests/input_converter/conftest.py
Due: black, isort

contrib: Add main, logger and conf to the input_converter (#62)
  requirements-dev.txt
  requirements.in
  requirements.txt
  src/andromede/input_converter/data/config.ini
  src/andromede/input_converter/src/converter.py
  src/andromede/input_converter/src/logger.py
  src/andromede/input_converter/src/main.py
  src/andromede/input_converter/src/utils.py
  tests/antares_historic/__init__.py
  tests/antares_historic/conftest.py
  tests/antares_historic/test_antares_historic.py
  tests/input_converter/test_converter.py
Due: mypy, black, isort

first commit
  src/andromede/input_converter/src/data_preprocessing/thermal.py
  tests/input_converter/test_converter.py
Due: mypy, black, isort

Path conditions:
  mypy: any of: ^src/ and \.py$
  black: any of: \.py$
  isort: any of: \.py$
