Repository AntaresSimulatorTeam/andromede-modeling-prototype: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, black, isort

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^src/
        types: [python]

-   repo: local
    hooks:
    -   id: black
        name: Run black
        entry: black
        args: ["--config", "pyproject.toml", "src", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: isort
        name: Run isort
        entry: isort
        args: ["--profile", "black", "--filter-files"]
        language: system
        types: [python]

isort+ruff
  tests/input_converter/conftest.py
Due: black, isort

contrib - bump antares craft v0.2.6 for input_converter (#94)
  requirements-dev.in
  requirements-dev.txt
  requirements.in
  requirements.txt
  src/andromede/input_converter/src/data_preprocessing/thermal.py
  tests/input_converter/conftest.py
Due: mypy, black, isort

end to end test refacto
  tests/antares_historic/conftest.py
  tests/antares_historic/test_antares_historic.py
Due: black, isort

ruff + isort
  tests/antares_historic/conftest.py
  tests/antares_historic/test_antares_historic.py
Due: black, isort

pytest mark
  tests/antares_historic/test_antares_historic.py
Due: black, isort

Initialize docs
  .readthedocs.yml
  docs/CHANGELOG.md
  docs/developer-guide.md
  docs/getting-started.md
  docs/index.md
  docs/stylesheets/extra.css
  docs/user-guide.md
  mkdocs.yml
  requirements-doc.txt
Due: none

light refacto
  src/andromede/input_converter/src/converter.py
  src/andromede/libs/antares_historic/antares_historic.yml
  tests/antares_historic/conftest.py
  tests/antares_historic/test_antares_historic.py
Due: mypy, black, isort

Make PyPSA converter independent of antares-historic converter, refacto PyPSA converter class
  src/andromede/pypsa_converter/__init__.py
  src/andromede/pypsa_converter/pypsa_converter.py
  src/andromede/pypsa_converter/utils.py
  tests/pypsa_converter/test_pypsa_converter.py
Due: mypy, black, isort

repair test
  tests/input_converter/test_converter.py
Due: black, isort

refactor main pypsa converter function
  src/andromede/pypsa_converter/pypsa_converter.py
Due: mypy, black, isort

mypy
  src/andromede/pypsa_converter/pypsa_converter.py
Due: mypy, black, isort

Create PyPSAComponentData class to improve readability
  src/andromede/pypsa_converter/pypsa_converter.py
Due: mypy, black, isort

Make tests run in temporary directories, clean useless files
  src/andromede/pypsa_converter/pypsa_converter.py
  src/andromede/study/resolve_components.py
  tests/pypsa_converter/conftest.py
  tests/pypsa_converter/series/Demo2_link-paris-pypsatown_p_max_pu.txt
  tests/pypsa_converter/series/Demo2_pypsaload_p_set.txt
  tests/pypsa_converter/series/Demo_pypsaload_p_set.txt
  tests/pypsa_converter/systems/test1.yml
  tests/pypsa_converter/systems/test2.yml
  tests/pypsa_converter/test_pypsa_converter.py
Due: mypy, black, isort

Fix mypy
  src/andromede/pypsa_converter/pypsa_converter.py
Due: mypy, black, isort

End to end test refactorization for input converter (#95)
  src/andromede/input_converter/src/converter.py
  src/andromede/libs/antares_historic/antares_historic.yml
  tests/antares_historic/conftest.py
  tests/antares_historic/test_antares_historic.py
  tests/input_converter/test_converter.py
Due: mypy, black, isort

Added relative lib_path to facilitate of import of lib yaml files
  src/andromede/__init__.py
  tests/e2e/models/test_pypsa_models.py
  tests/pypsa_converter/test_pypsa_converter.py
Due: mypy, black, isort

Generate requirements files
  requirements-dev.txt
  requirements.in
  requirements.txt
Due: none

Initiating the PyPSA>Andromede converter (#92)
  requirements-dev.txt
  requirements.in
  requirements.txt
  src/andromede/libs/pypsa_models/pypsa_models.yml
  src/andromede/pypsa_converter/__init__.py
  src/andromede/pypsa_converter/pypsa_converter.py
  src/andromede/pypsa_converter/utils.py
  src/andromede/study/resolve_components.py
  tests/e2e/models/series/basic_load.txt
  tests/e2e/models/systems/pypsa_basic_system.yml
  tests/e2e/models/test_pypsa_models.py
  tests/pypsa_converter/__init__.py
  tests/pypsa_converter/conftest.py
  tests/pypsa_converter/test_pypsa_converter.py
Due: mypy, black, isort

Added first version of storage class
  src/andromede/libs/pypsa_models/pypsa_models.yml
  src/andromede/pypsa_converter/pypsa_converter.py
  src/andromede/simulation/optimization.py
  tests/pypsa_converter/test_pypsa_converter.py
Due: mypy, black, isort

Added first version of store class
  src/andromede/libs/pypsa_models/pypsa_models.yml
  src/andromede/pypsa_converter/pypsa_converter.py
  tests/pypsa_converter/test_pypsa_converter.py
Due: mypy, black, isort

correction of global constraint test
  src/andromede/__init__.py
  src/andromede/expression/evaluate.py
  src/andromede/expression/evaluate_parameters.py
  src/andromede/expression/indexing.py
  src/andromede/expression/visitor.py
  src/andromede/libs/pypsa_models/pypsa_models.yml
  src/andromede/model/model.py
  src/andromede/pypsa_converter/pypsa_converter.py
  src/andromede/simulation/linear_expression.py
  src/andromede/simulation/optimization.py
  src/andromede/simulation/strategy.py
  tests/pypsa_converter/test_pypsa_converter.py
Due: mypy, black, isort

Add tests and functionality for PyPSA storage units
  src/andromede/libs/pypsa_models/pypsa_models.yml
  tests/e2e/models/test_pypsa_models.py
  tests/pypsa_converter/test_pypsa_converter.py
  tests/pypsa_converter/test_pypsa_storage.py
Due: black, isort

building from Yassine's branch
  src/andromede/libs/__init__.py
  src/andromede/libs/pypsa_models/pypsa_models.yml
  src/andromede/pypsa_converter/pypsa_converter.py
  tests/e2e/models/test_pypsa_models.py
  tests/pypsa_converter/test_pypsa_converter.py
  tests/pypsa_converter/test_pypsa_storage.py
Due: mypy, black, isort

fix import order
  tests/pypsa_converter/test_pypsa_converter.py
Due: black, isort

fixing format
  src/andromede/libs/__init__.py
  src/andromede/pypsa_converter/pypsa_converter.py
  tests/e2e/models/test_pypsa_models.py
  tests/pypsa_converter/test_pypsa_converter.py
  tests/pypsa_converter/test_pypsa_storage.py
Due: mypy, black, isort

fixing format
  tests/e2e/models/test_pypsa_models.py
Due: black, isort

V2 for StorageUnits/Stores yml models + adding assertion in the converter
  src/andromede/libs/pypsa_models/pypsa_models.yml
  src/andromede/pypsa_converter/pypsa_converter.py
  tests/pypsa_converter/test_pypsa_converter.py
  tests/pypsa_converter/test_pypsa_storage.py
Due: mypy, black, isort

Proposal for config file for complex modeling artifacts conversion
  src/andromede/input_converter/src/cc_configuration/batteries.yaml
  tests/e2e/models/andromede-v1/test_andromede_v1_models.py
Due: black, isort

Filling generator model
  requirements.txt
  src/andromede/libs/pypsa_models/pypsa_models.yml
Due: none

undo change requirements.txt
  requirements.txt
Due: none

change converter for generator
  src/andromede/pypsa_converter/pypsa_converter.py
Due: mypy, black, isort

change converter for generator
  src/andromede/libs/pypsa_models/pypsa_models.yml
  src/andromede/pypsa_converter/pypsa_converter.py
Due: mypy, black, isort

change converter for generator
  src/andromede/libs/pypsa_models/pypsa_models.yml
  src/andromede/pypsa_converter/pypsa_converter.py
  src/andromede/pypsa_converter/utils.py
Due: mypy, black, isort

Managing infinite numbers
  src/andromede/pypsa_converter/utils.py
Due: mypy, black, isort

Deleting generatorsv0 model
  src/andromede/libs/pypsa_models/pypsa_models.yml
Due: none

Deleting generatorsv0 model
  tests/e2e/models/systems/pypsa_basic_system.yml
Due: none
