Repository AntaresSimulatorTeam/andromede-modeling-prototype: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, black, isort

mypy:
  name: Run mypy
  entry: mypy
  language: system

black:
  name: Run black
  entry: black
  args:
  - --config
  - pyproject.toml
  - src
  - tests
  language: system

isort:
  name: Run isort
  entry: isort
  args:
  - --profile
  - black
  - --filter-files
  language: system

Andromede V1 models validation
  tests/end-to-end/models/test_model_validation.py
Due: black, isort

Minor correction for this validation test : taking into account numerical precision
  tests/end-to-end/functional/test_performance.py
Due: black, isort

Update CI workflow to use Ubuntu 22.04
  .github/workflows/ci.yml
Due: none

Update CI workflow to use Ubuntu 22.04 (#82)
  .github/workflows/ci.yml
Due: none

import format correction
  tests/end-to-end/models/test_model_validation.py
Due: black, isort

model_validation
  tests/end-to-end/models/test_model_validation.py
Due: black, isort

model_validation
  tests/end-to-end/functional/test_performance.py
  tests/end-to-end/models/conftest.py
  tests/end-to-end/models/test_model_validation.py
Due: black, isort

Fixed from PR comments
  src/andromede/expression/expression.py
  src/andromede/model/constraint.py
  src/andromede/simulation/benders_decomposed.py
  src/andromede/simulation/decision_tree.py
  tests/data/libs/standard.py
Due: mypy, black, isort

correcting assertion in test_performance.py (numerical precision)
  tests/end-to-end/functional/test_performance.py
Due: black, isort

Add st storage to input converter w tests
  src/andromede/input_converter/src/converter.py
  tests/input_converter/conftest.py
  tests/input_converter/test_converter.py
Due: mypy, black, isort

isort
  tests/input_converter/conftest.py
Due: black, isort

separate tests into 2 distinct files
  tests/input_converter/test_converter.py
  tests/input_converter/test_thermal_preprocessing.py
Due: black, isort

add end to end test for st storage
  tests/antares_historic/conftest.py
  tests/antares_historic/test_antares_historic.py
Due: black, isort

visibility improvement
  src/andromede/input_converter/src/converter.py
  src/andromede/input_converter/src/main.py
  tests/input_converter/conftest.py
  tests/input_converter/test_converter.py
Due: mypy, black, isort

solve issue with import
  src/andromede/input_converter/src/main.py
Due: mypy, black, isort

sort
  src/andromede/input_converter/src/main.py
Due: mypy, black, isort

back to normal
  src/andromede/input_converter/src/main.py
Due: mypy, black, isort

Add st storage to input converter w tests (#83)
  src/andromede/input_converter/src/converter.py
  tests/input_converter/conftest.py
  tests/input_converter/test_converter.py
Due: mypy, black, isort

typing
  tests/input_converter/test_thermal_preprocessing.py
Due: black, isort

factorize generate_tdp_instance_parameter
  tests/input_converter/test_converter.py
  tests/input_converter/test_thermal_preprocessing.py
Due: black, isort

Multi period expansion planning (#20)
  mypy.ini
  requirements.in
  requirements.txt
  src/andromede/expression/expression.py
  src/andromede/expression/parsing/parse_expression.py
  src/andromede/expression/port_resolver.py
  src/andromede/model/__init__.py
  src/andromede/model/constraint.py
  src/andromede/model/model.py
  src/andromede/model/parameter.py
  src/andromede/model/parsing.py
  src/andromede/model/port.py
  src/andromede/model/resolve_library.py
  src/andromede/model/variable.py
  src/andromede/simulation/__init__.py
  src/andromede/simulation/benders_decomposed.py
  src/andromede/simulation/decision_tree.py
  src/andromede/simulation/optimization.py
  src/andromede/simulation/strategy.py
  src/andromede/simulation/time_block.py
  src/andromede/study/data.py
  src/andromede/study/network.py
  src/andromede/study/parsing.py
  tests/data/libs/lib_unittest.yml
  tests/data/libs/standard.py
  tests/data/libs/standard_sc.py
  tests/end-to-end/functional/test_andromede.py
  tests/end-to-end/functional/test_investment_pathway.py
  tests/end-to-end/functional/test_performance.py
  tests/end-to-end/functional/test_xpansion.py
  tests/end-to-end/integration/test_benders_decomposed.py
  tests/end-to-end/models/test_electrolyzer.py
  tests/unittests/expressions/test_port_resolver.py
  tests/unittests/model/test_model_parsing.py
  tests/unittests/test_data.py
  tests/unittests/test_generate_network_on_tree.py
  tests/unittests/test_model.py
Due: mypy, black, isort

Remove long list of if/elif, use dict
  src/andromede/expression/visitor.py
Due: mypy, black, isort

Black is the new orange
  src/andromede/expression/visitor.py
Due: mypy, black, isort

Apply black
  src/andromede/expression/visitor.py
Due: mypy, black, isort

Rearrange expressions test files and directories to clearly split between visitor, parsing and linear expressions tests
  tests/unittests/expressions/linear_expressions/__init__.py
  tests/unittests/expressions/linear_expressions/test_linear_expressions.py
  tests/unittests/expressions/test_expressions.py
  tests/unittests/expressions/visitor/__init__.py
  tests/unittests/expressions/visitor/test_copy.py
  tests/unittests/expressions/visitor/test_degree.py
  tests/unittests/expressions/visitor/test_equality.py
  tests/unittests/expressions/visitor/test_evaluation.py
  tests/unittests/expressions/visitor/test_indexing.py
  tests/unittests/expressions/visitor/test_linearization.py
  tests/unittests/expressions/visitor/test_operators_expansion.py
  tests/unittests/expressions/visitor/test_parameter_resolver.py
  tests/unittests/expressions/visitor/test_port_resolver.py
  tests/unittests/expressions/visitor/test_printer.py
Due: black, isort

Rename model folder to library_parsing, gather all test libs for library parsing inside the the lower level folder
  tests/unittests/lib_parsing/__init__.py
  tests/unittests/lib_parsing/conftest.py
  tests/unittests/lib_parsing/libs/CO2_port.yml
  tests/unittests/lib_parsing/libs/__init__.py
  tests/unittests/lib_parsing/libs/basic_lib.yml
  tests/unittests/lib_parsing/libs/demand.yml
  tests/unittests/lib_parsing/libs/lib_unittest.yml
  tests/unittests/lib_parsing/libs/looping_lib_1.yml
  tests/unittests/lib_parsing/libs/looping_lib_2.yml
  tests/unittests/lib_parsing/libs/model_port_definition_ko.yml
  tests/unittests/lib_parsing/libs/model_port_definition_ok.yml
  tests/unittests/lib_parsing/libs/port_redefinition.yml
  tests/unittests/lib_parsing/libs/production.yml
  tests/unittests/lib_parsing/libs/production_redefinition.yml
  tests/unittests/lib_parsing/libs/production_with_CO2.yml
  tests/unittests/lib_parsing/test_lib_parsing.py
  tests/unittests/lib_parsing/test_multiple_libs_parsing.py
Due: black, isort

Keep only relevant test in system parsing, move other to end-to-end
  tests/end-to-end/functional/test_basic_balance_using_yaml.py
  tests/unittests/system_parsing/__init__.py
  tests/unittests/system_parsing/libs/lib_unittest.yml
  tests/unittests/system_parsing/systems/system.yml
  tests/unittests/system_parsing/test_components_parsing.py
Due: black, isort

Keep only unit tests in unittests
  tests/data/systems/with_scenarization.yml
  tests/end-to-end/functional/test_performance.py
  tests/end-to-end/functional/test_scenario_builder.py
  tests/end-to-end/functional/test_stochastic.py
  tests/unittests/scenario_builder/series/scenario_builder.csv
  tests/unittests/scenario_builder/systems/with_scenarization.yml
  tests/unittests/scenario_builder/test_scenario_builder.py
  tests/unittests/test_data_consistency.py
  tests/unittests/test_utils.py
Due: black, isort

Remove conftest from unittests
  tests/unittests/conftest.py
  tests/unittests/scenario_builder/series/loads.txt
  tests/unittests/scenario_builder/test_scenario_builder.py
  tests/unittests/simulation/test_generate_network_on_tree.py
  tests/unittests/simulation/test_output_values.py
  tests/unittests/system/series/gen-costs.txt
  tests/unittests/system/test_data_consistency.py
  tests/unittests/system/test_model.py
  tests/unittests/system/test_port.py
Due: black, isort

Reorganize end-to-end functional tests
  tests/end-to-end/functional/conftest.py
  tests/end-to-end/functional/libs/lib.yml
  tests/end-to-end/functional/libs/lib_unittest.yml
  tests/end-to-end/functional/series/demand-ts-unittest.txt
  tests/end-to-end/functional/series/loads-scenario-only.txt
  tests/end-to-end/functional/series/loads-time-only.txt
  tests/end-to-end/functional/series/loads.txt
  tests/end-to-end/functional/series/scenario_builder.csv
  tests/end-to-end/functional/systems/components_for_short_term_storage.yml
  tests/end-to-end/functional/systems/study_scenario_only_series.yml
  tests/end-to-end/functional/systems/study_time_only_series.yml
  tests/end-to-end/functional/systems/system.yml
  tests/end-to-end/functional/systems/with_scenarization.yml
  tests/end-to-end/functional/test_investment.py
  tests/end-to-end/functional/test_libs_python_system_python.py
  tests/end-to-end/functional/test_libs_yaml_system_python.py
  tests/end-to-end/functional/test_libs_yaml_system_yaml.py
  tests/end-to-end/functional/test_scenario_builder.py
  tests/unittests/system/libs/lib.yml
  tests/unittests/system/test_network.py
Due: black, isort

Rename end-ton-end directory and update import for functional tests
  tests/e2e/functional/__init__.py
  tests/e2e/functional/conftest.py
  tests/e2e/functional/libs/__init__.py
  tests/e2e/functional/libs/lib.yml
  tests/e2e/functional/libs/lib_unittest.yml
  tests/e2e/functional/libs/standard.py
  tests/e2e/functional/series/demand-ts-unittest.txt
  tests/e2e/functional/series/loads-scenario-only.txt
  tests/e2e/functional/series/loads-time-only.txt
  tests/e2e/functional/series/loads.txt
  tests/e2e/functional/series/scenario_builder.csv
  tests/e2e/functional/systems/components_for_short_term_storage.yml
  tests/e2e/functional/systems/study_scenario_only_series.yml
  tests/e2e/functional/systems/study_time_only_series.yml
  tests/e2e/functional/systems/system.yml
  tests/e2e/functional/systems/with_scenarization.yml
  tests/e2e/functional/test_investment.py
  tests/e2e/functional/test_investment_pathway.py
  tests/e2e/functional/test_libs_python_system_python.py
  tests/e2e/functional/test_libs_yaml_system_python.py
  tests/e2e/functional/test_libs_yaml_system_yaml.py
  tests/e2e/functional/test_performance.py
  tests/e2e/functional/test_scenario_builder.py
  tests/e2e/functional/test_stochastic.py
  tests/e2e/integration/__init__.py
  tests/e2e/integration/test_benders_decomposed.py
  tests/e2e/models/conftest.py
  tests/e2e/models/test_ac_link.py
  tests/e2e/models/test_electrolyzer.py
  tests/e2e/models/test_electrolyzer_n_inputs.py
  tests/e2e/models/test_electrolyzer_n_inputs_yaml.py
  tests/e2e/models/test_quota_co2.py
  tests/e2e/models/test_quota_co2_yaml.py
  tests/e2e/models/test_short_term_storage_complex.py
Due: black, isort

Reorganize end to end models tests
  tests/e2e/models/conftest.py
  tests/e2e/models/libs/ac.yml
  tests/e2e/models/libs/lib_unittest.yml
  tests/e2e/models/libs/standard_sc.py
  tests/e2e/models/libs/standard_sc.yml
  tests/e2e/models/test_electrolyzer_n_inputs.py
  tests/e2e/models/test_electrolyzer_n_inputs_yaml.py
  tests/e2e/models/test_quota_co2.py
  tests/e2e/models/test_quota_co2_yaml.py
  tests/e2e/models/test_short_term_storage_complex.py
Due: black, isort

Andromede V1 models validation
  tests/data/systems/base_validation.yml
  tests/data/systems/bde_system.yml
  tests/data/systems/dsr_validation.yml
  tests/data/systems/electrolyser_validation.yml
  tests/data/systems/storage_validation.yml
  tests/end-to-end/functional/test_performance.py
  tests/end-to-end/models/test_model_validation.py
Due: black, isort

Creating bus,load and generator_v0 models for PyPSA emulation
  src/andromede/libs/pypsa_models/pypsa_conversion_register.csv
  src/andromede/libs/pypsa_models/pypsa_models.yml
  tests/data/series/basic_load.txt
  tests/data/systems/pypsa_basic_system.yml
  tests/end-to-end/models/test_pypsa_models.py
Due: black, isort

Minor formatting
  tests/end-to-end/functional/test_performance.py
  tests/end-to-end/models/test_pypsa_models.py
Due: black, isort

Path conditions:
  mypy: any of: ^src/ and \.py$
  black: any of: \.py$
  isort: any of: \.py$
