Repository AntaresSimulatorTeam/andromede-modeling-prototype: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, black, isort

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^src/
        types: [python]

-   repo: local
    hooks:
    -   id: black
        name: Run black
        entry: black
        args: ["--config", "pyproject.toml", "src", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: isort
        name: Run isort
        entry: isort
        args: ["--profile", "black", "--filter-files"]
        language: system
        types: [python]

antares craft
  src/andromede/input_converter/src/utils.py
Due: mypy, black, isort

modify requiremts.in
  requirements.in
Due: none

component_list
  src/andromede/input_converter/src/utils.py
Due: mypy, black, isort

rename
  src/andromede/input_converter/src/utils.py
  tests/input_converter/test_converter.py
Due: mypy, black, isort

formatting
  tests/input_converter/test_converter.py
Due: black, isort

Yaml converter - first iteration (#56)
  .gitignore
  requirements-dev.in
  requirements-dev.txt
  requirements.in
  requirements.txt
  src/andromede/input_converter/__init__.py
  src/andromede/input_converter/data/config.ini
  src/andromede/input_converter/src/__init__.py
  src/andromede/input_converter/src/converter.py
  src/andromede/input_converter/src/utils.py
  tests/input_converter/__init__.py
  tests/input_converter/conftest.py
  tests/input_converter/test_converter.py
Due: mypy, black, isort

Rename input components to input study
  src/andromede/input_converter/src/converter.py
  src/andromede/main/main.py
  src/andromede/study/parsing.py
  src/andromede/study/resolve_components.py
  tests/input_converter/test_converter.py
  tests/unittests/study/test_components_parsing.py
Due: mypy, black, isort

Rename StudyConverter to AntaresStudyConverter
  src/andromede/input_converter/src/converter.py
  tests/input_converter/test_converter.py
Due: mypy, black, isort

Rename input components to input study (#58)
  src/andromede/input_converter/src/converter.py
  src/andromede/main/main.py
  src/andromede/study/parsing.py
  src/andromede/study/resolve_components.py
  tests/input_converter/test_converter.py
  tests/unittests/study/test_components_parsing.py
Due: mypy, black, isort

Add Antares historic model library configuration
  src/andromede/libs/antares_historic/antares_historic.yml
Due: none

backup
  src/andromede/input_converter/src/converter.py
  src/andromede/input_converter/src/main.py
  src/andromede/input_converter/src/utils.py
Due: mypy, black, isort

Update link and thermal cluster model
  src/andromede/libs/antares_historic/antares_historic.yml
Due: none

Add Antares historic model library configuration (#57)
  src/andromede/libs/antares_historic/antares_historic.yml
Due: none

renewable part + test
  src/andromede/input_converter/src/converter.py
  src/andromede/input_converter/src/utils.py
  tests/input_converter/conftest.py
  tests/input_converter/test_converter.py
Due: mypy, black, isort

isort
  tests/input_converter/test_converter.py
Due: black, isort

Apply black formatting
  src/andromede/input_converter/src/utils.py
Due: mypy, black, isort

lint
  src/andromede/input_converter/src/utils.py
Due: mypy, black, isort

add main
  src/andromede/input_converter/src/main.py
Due: mypy, black, isort

convert area to yaml and adfd thermals
  src/andromede/input_converter/src/converter.py
  src/andromede/input_converter/src/utils.py
  tests/input_converter/test_converter.py
Due: mypy, black, isort

isort section
  tests/input_converter/test_converter.py
Due: black, isort

remove main
  src/andromede/input_converter/src/main.py
Due: mypy, black, isort

commit new version of antares craft
  requirements.in
  requirements.txt
Due: none

requirements.dev
  requirements-dev.txt
Due: none

remove someparameters that are useless
  src/andromede/input_converter/src/utils.py
  tests/input_converter/test_converter.py
Due: mypy, black, isort

lint
  tests/input_converter/test_converter.py
Due: black, isort

Fixes
  src/andromede/input_converter/src/converter.py
  src/andromede/input_converter/src/utils.py
  tests/input_converter/conftest.py
  tests/input_converter/test_converter.py
Due: mypy, black, isort

isort
  src/andromede/input_converter/src/converter.py
Due: mypy, black, isort

format black
  src/andromede/input_converter/src/utils.py
Due: mypy, black, isort

Final fixes
  src/andromede/input_converter/src/converter.py
  tests/input_converter/test_converter.py
Due: mypy, black, isort

interchange 2 output variables
  tests/input_converter/test_converter.py
Due: black, isort

black
  src/andromede/input_converter/src/converter.py
Due: mypy, black, isort

perform sort
  tests/input_converter/test_converter.py
Due: black, isort

commentary response
  src/andromede/input_converter/src/converter.py
Due: mypy, black, isort

contrib: Add renewable conversion to yaml components (#59)
  requirements-dev.txt
  requirements.in
  requirements.txt
  src/andromede/input_converter/src/converter.py
  src/andromede/input_converter/src/utils.py
  tests/input_converter/conftest.py
  tests/input_converter/test_converter.py
Due: mypy, black, isort

add load, solar and wind
  src/andromede/input_converter/src/converter.py
  src/andromede/input_converter/src/main.py
  src/andromede/input_converter/src/utils.py
  src/andromede/libs/antares_historic/antares_historic.yml
  tests/input_converter/test_converter.py
  tests/unittests/data/components.yml
Due: mypy, black, isort

last changes of syntax, and add path verification
  src/andromede/input_converter/src/converter.py
  tests/input_converter/test_converter.py
Due: mypy, black, isort

dev traces
  src/andromede/input_converter/src/main.py
  src/andromede/input_converter/src/utils.py
  src/andromede/libs/antares_historic/antares_historic.yml
  tests/unittests/data/components.yml
  tests/unittests/data/components_for_short_term_storage.yml
Due: mypy, black, isort

area.get_wind_matrix() is just here to check to absence or not of the file
  src/andromede/input_converter/src/converter.py
Due: mypy, black, isort
