Repository AntaresSimulatorTeam/andromede-modeling-prototype: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, black, isort

mypy:
  name: Run mypy
  entry: mypy
  language: system

black:
  name: Run black
  entry: black
  args:
  - --config
  - pyproject.toml
  - src
  - tests
  language: system

isort:
  name: Run isort
  entry: isort
  args:
  - --profile
  - black
  - --filter-files
  language: system

Project naming
  pyproject.toml
Due: none

Add authors
  AUTHORS.txt
Due: none

Add license to pyproject.toml
  pyproject.toml
Due: none

Remove useless lines in git ignore
  .gitignore
Due: none

[WIP] CI workflow
  .github/workflows/ci.yml
Due: none

Black profile for isort
  .github/workflows/ci.yml
Due: none

Dependency caching
  .github/workflows/ci.yml
Due: none

Fix black formatting in __init__.py
  src/andromede/__init__.py
  src/andromede/libs/__init__.py
  tests/__init__.py
  tests/andromede/__init__.py
  tests/andromede/expressions/__init__.py
Due: mypy, black, isort

Fixes
  src/andromede/expression/port_resolver.py
  src/andromede/study/network.py
  tests/andromede/test_andromede.py
Due: mypy, black, isort

Black only on commited files
  .pre-commit-config.yaml
Due: none

AC links modeling
  tests/andromede/test_ac_link.py
Due: black, isort

Fix license
  tests/andromede/test_ac_link.py
Due: black, isort

PST test case
  tests/andromede/test_ac_link.py
Due: black, isort

Copy models schemas
  models-design/model_library/co2quota.drawio
  models-design/model_library/converter.drawio
  models-design/model_library/demand.drawio
  models-design/model_library/link.drawio
  models-design/model_library/node.drawio
  models-design/model_library/production.drawio
  models-design/port_library/emission.drawio
  models-design/port_library/flow.drawio
  models-design/systems/balance.drawio
  models-design/systems/co2_quota.drawio
  models-design/systems/electrolyser.drawio
  models-design/systems/lien_dc_td.drawio
  models-design/systems/reserve.drawio
Due: none

Update README with some information about folders
  README.md
Due: none

Handle most review comments
  src/andromede/expression/context_adder.py
  src/andromede/expression/copy.py
  src/andromede/expression/degree.py
  src/andromede/expression/evaluate.py
  src/andromede/expression/expression.py
  src/andromede/expression/indexing.py
  src/andromede/expression/port_resolver.py
  src/andromede/expression/print.py
  src/andromede/expression/visitor.py
  src/andromede/model/model.py
  src/andromede/simulation/linearize.py
  src/andromede/simulation/optimization.py
  src/andromede/study/network.py
  tests/andromede/expressions/test_port_resolver.py
  tests/andromede/test_model.py
Due: mypy, black, isort

Remove notion of Arc
  src/andromede/study/__init__.py
  src/andromede/study/network.py
  tests/andromede/test_andromede.py
Due: mypy, black, isort

See #ANT-958 Create model/common.py and refactor ValueType
  src/andromede/model/__init__.py
  src/andromede/model/common.py
  src/andromede/model/model.py
  src/andromede/model/parameter.py
  src/andromede/model/variable.py
Due: mypy, black, isort

See #ANT-958 Add ProblemContext to Par, Var and Constraint
  src/andromede/libs/standard.py
  src/andromede/model/common.py
  src/andromede/model/constraint.py
  src/andromede/model/model.py
  src/andromede/model/parameter.py
  src/andromede/model/variable.py
Due: mypy, black, isort

See #ANT-958 Add ProblemType to build_problem
  src/andromede/libs/standard.py
  src/andromede/model/common.py
  src/andromede/model/model.py
  src/andromede/model/variable.py
  src/andromede/simulation/__init__.py
  src/andromede/simulation/optimization.py
  tests/andromede/test_andromede.py
  tests/andromede/test_data.py
  tests/andromede/test_electrolyzer.py
  tests/andromede/test_model.py
  tests/andromede/test_performance.py
  tests/andromede/test_xpansion.py
Due: mypy, black, isort

See #ANT-958 Add ExportModel to tests
  .gitignore
  src/andromede/simulation/__init__.py
  src/andromede/simulation/optimization.py
  tests/andromede/test_xpansion.py
Due: mypy, black, isort

See #ANT-958 Add Export MPS function for Xpansion's Bender
  src/andromede/simulation/__init__.py
  src/andromede/simulation/optimization.py
  src/andromede/simulation/output_values.py
  src/andromede/utils.py
  tests/andromede/test_output_values.py
  tests/andromede/test_xpansion.py
Due: mypy, black, isort

See #ANT-958 Set verbose name to variables and constraints
  src/andromede/simulation/optimization.py
Due: mypy, black, isort

See #ANT-958 Add cluster_candidate to test
  tests/andromede/test_xpansion.py
Due: black, isort

See #ANT-958 Fixed after merge
  src/andromede/simulation/optimization.py
  tests/andromede/test_xpansion.py
Due: mypy, black, isort

Fix typo
  README.md
Due: none

Addition of models design directory (#3)
  README.md
  models-design/model_library/co2quota.drawio
  models-design/model_library/converter.drawio
  models-design/model_library/demand.drawio
  models-design/model_library/link.drawio
  models-design/model_library/node.drawio
  models-design/model_library/production.drawio
  models-design/port_library/emission.drawio
  models-design/port_library/flow.drawio
  models-design/systems/balance.drawio
  models-design/systems/co2_quota.drawio
  models-design/systems/electrolyser.drawio
  models-design/systems/lien_dc_td.drawio
  models-design/systems/reserve.drawio
Due: none

Copy GitLab working branch
  models-design/model_library/fatal_production.drawio
  models-design/systems/cogeneration.drawio
  models-design/systems/constrained_electrolyser.drawio
  models-design/systems/electrolyser_subject_to_renawable.drawio
  models-design/systems/electrolyzer_n_inputs.drawio
  models-design/systems/hybrid_converter.drawio
Due: none

Copy GitLab working branch
  models-design/model_library/link_with_storage.drawio
  models-design/model_library/repartition_key.drawio
  models-design/model_library/stock_final_level.drawio
  models-design/systems/electrolyzer_load_factor.drawio
  models-design/systems/gas_link_elec_compressor.drawio
  models-design/systems/gas_stock_2_elec_compressor.drawio
  models-design/systems/gas_stock_elec_compressor.drawio
  models-design/systems/stock_hydro_2_input.drawio
  models-design/systems/stock_pipeline.drawio
Due: none

Simplify check on constant parameters
  src/andromede/expression/expression.py
  src/andromede/simulation/optimization.py
Due: mypy, black, isort

Implement change requests from ports review (#7)
  src/andromede/expression/context_adder.py
  src/andromede/expression/copy.py
  src/andromede/expression/degree.py
  src/andromede/expression/evaluate.py
  src/andromede/expression/expression.py
  src/andromede/expression/indexing.py
  src/andromede/expression/port_resolver.py
  src/andromede/expression/print.py
  src/andromede/expression/visitor.py
  src/andromede/model/model.py
  src/andromede/simulation/linearize.py
  src/andromede/simulation/optimization.py
  src/andromede/study/__init__.py
  src/andromede/study/network.py
  tests/andromede/expressions/test_port_resolver.py
  tests/andromede/test_andromede.py
  tests/andromede/test_model.py
Due: mypy, black, isort

See #ANT-958 Avoid string parsing for structure.txt
  src/andromede/simulation/__init__.py
  src/andromede/simulation/optimization.py
  tests/andromede/test_xpansion.py
Due: mypy, black, isort

Harmonise electrolyzer, corrections in contract model
  models-design/systems/constrained_electrolyzer.drawio
  models-design/systems/electrolyzer.drawio
  models-design/systems/electrolyzer_n_inputs.drawio
  models-design/systems/electrolyzer_subject_to_renawable.drawio
Due: none

Add objective contributions
  models-design/systems/co2_quota.drawio
  models-design/systems/cogeneration.drawio
  models-design/systems/constrained_electrolyzer.drawio
  models-design/systems/electrolyzer.drawio
  models-design/systems/electrolyzer_n_inputs.drawio
  models-design/systems/electrolyzer_subject_to_renawable.drawio
  models-design/systems/hybrid_converter.drawio
Due: none

Objective functions for basic systems
  models-design/model_library/node.drawio
  models-design/model_library/production.drawio
  models-design/systems/balance.drawio
  models-design/systems/reserve.drawio
Due: none

Initialize expression parser
  grammar/Expr.g4
  mypy.ini
  requirements.txt
  src/andromede/expression/equality.py
  src/andromede/expression/serde/Expr.interp
  src/andromede/expression/serde/Expr.tokens
  src/andromede/expression/serde/ExprLexer.interp
  src/andromede/expression/serde/ExprLexer.py
  src/andromede/expression/serde/ExprLexer.tokens
  src/andromede/expression/serde/ExprParser.py
  src/andromede/expression/serde/ExprVisitor.py
  tests/andromede/expressions/serde/__init__.py
  tests/andromede/expressions/serde/test_expression_parsing.py
Due: mypy, black, isort

Add operators
  grammar/Expr.g4
  mypy.ini
  src/andromede/expression/equality.py
  src/andromede/expression/parsing/__init__.py
  src/andromede/expression/parsing/antlr/Expr.interp
  src/andromede/expression/parsing/antlr/Expr.tokens
  src/andromede/expression/parsing/antlr/ExprLexer.interp
  src/andromede/expression/parsing/antlr/ExprLexer.py
  src/andromede/expression/parsing/antlr/ExprLexer.tokens
  src/andromede/expression/parsing/antlr/ExprParser.py
  src/andromede/expression/parsing/antlr/ExprVisitor.py
  src/andromede/expression/parsing/antlr/__init__.py
  src/andromede/expression/parsing/parse_expression.py
  src/andromede/expression/serde/Expr.interp
  src/andromede/expression/serde/Expr.tokens
  src/andromede/expression/serde/ExprLexer.interp
  src/andromede/expression/serde/ExprLexer.tokens
  tests/andromede/expressions/serde/test_expression_parsing.py
Due: mypy, black, isort

Copyright header
  grammar/Expr.g4
Due: none

Path conditions:
  mypy: any of: ^src/ and \.py$
  black: any of: \.py$
  isort: any of: \.py$
