Repository AntaresSimulatorTeam/andromede-modeling-prototype: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, black, isort

mypy:
  name: Run mypy
  entry: mypy
  language: system

black:
  name: Run black
  entry: black
  args:
  - --config
  - pyproject.toml
  - src
  - tests
  language: system

isort:
  name: Run isort
  entry: isort
  args:
  - --profile
  - black
  - --filter-files
  language: system

Add README
  grammar/README.md
Due: none

Rename test file
  tests/andromede/expressions/parsing/__init__.py
  tests/andromede/expressions/parsing/test_expression_parsing.py
Due: black, isort

Small corrections and add optimization problems
  models-design/systems/co2_quota.drawio
  models-design/systems/cogeneration.drawio
  models-design/systems/constrained_electrolyzer.drawio
  models-design/systems/electrolyzer.drawio
  models-design/systems/electrolyzer_n_inputs.drawio
  models-design/systems/electrolyzer_subject_to_renawable.drawio
  models-design/systems/hybrid_converter.drawio
Due: none

See #ANT-958 Rename serialize function
  src/andromede/simulation/optimization.py
  src/andromede/utils.py
Due: mypy, black, isort

See #ANT-958 Separate optimization.py from xpansion.py
  .gitignore
  src/andromede/simulation/__init__.py
  src/andromede/simulation/optimization.py
  src/andromede/simulation/xpansion.py
  tests/andromede/test_xpansion.py
Due: mypy, black, isort

Corrections and add optimization problems in stock systems
  models-design/model_library/link_with_storage.drawio
  models-design/model_library/stock_final_level.drawio
  models-design/systems/electrolyzer_load_factor.drawio
  models-design/systems/gas_link_elec_compressor.drawio
  models-design/systems/gas_stock_2_elec_compressor.drawio
  models-design/systems/gas_stock_elec_compressor.drawio
  models-design/systems/stock_hydro_2_input.drawio
  models-design/systems/stock_pipeline.drawio
Due: none

Proposition for library parsing
  grammar/Expr.g4
  requirements-dev.txt
  requirements.txt
  src/andromede/expression/parsing/antlr/ExprLexer.interp
  src/andromede/expression/parsing/antlr/ExprLexer.py
  src/andromede/model/library.py
  src/andromede/model/parsing.py
  src/andromede/model/resolve_library.py
  tests/andromede/model/__init__.py
  tests/andromede/model/test_model_parsing.py
  tests/data/lib.yml
Due: mypy, black, isort

See #ANT-958 Add node_with_spillage_and_ens to standard models
  src/andromede/libs/standard.py
Due: mypy, black, isort

See #ANT-958 Split Xpansion test into two
  src/andromede/simulation/xpansion.py
  tests/andromede/test_xpansion.py
Due: mypy, black, isort

See #ANT-958 To avoid CI errors when ./bender is not found
  src/andromede/simulation/xpansion.py
Due: mypy, black, isort

Specify ens,spill sign and translate emission rate
  models-design/model_library/node.drawio
  models-design/model_library/production.drawio
  models-design/systems/balance.drawio
  models-design/systems/co2_quota.drawio
  models-design/systems/cogeneration.drawio
  models-design/systems/constrained_electrolyzer.drawio
  models-design/systems/electrolyzer.drawio
  models-design/systems/electrolyzer_n_inputs.drawio
  models-design/systems/electrolyzer_subject_to_renawable.drawio
  models-design/systems/hybrid_converter.drawio
  models-design/systems/reserve.drawio
Due: none

Delete lien_dc_td system
  models-design/systems/lien_dc_td.drawio
Due: none

Models/objective functions (#8)
  models-design/model_library/node.drawio
  models-design/model_library/production.drawio
  models-design/systems/balance.drawio
  models-design/systems/co2_quota.drawio
  models-design/systems/cogeneration.drawio
  models-design/systems/constrained_electrolyzer.drawio
  models-design/systems/electrolyzer.drawio
  models-design/systems/electrolyzer_n_inputs.drawio
  models-design/systems/electrolyzer_subject_to_renawable.drawio
  models-design/systems/hybrid_converter.drawio
  models-design/systems/lien_dc_td.drawio
  models-design/systems/reserve.drawio
Due: none

Expression modifications
  grammar/Expr.g4
  src/andromede/expression/expression.py
  src/andromede/expression/parsing/antlr/Expr.interp
  src/andromede/expression/parsing/antlr/Expr.tokens
  src/andromede/expression/parsing/antlr/ExprLexer.interp
  src/andromede/expression/parsing/antlr/ExprLexer.py
  src/andromede/expression/parsing/antlr/ExprLexer.tokens
  src/andromede/expression/parsing/antlr/ExprParser.py
  src/andromede/expression/parsing/antlr/ExprVisitor.py
  src/andromede/expression/parsing/parse_expression.py
  tests/andromede/expressions/parsing/test_expression_parsing.py
Due: mypy, black, isort

Fix some precedence bugs
  grammar/Expr.g4
  src/andromede/expression/parsing/antlr/Expr.interp
  src/andromede/expression/parsing/antlr/Expr.tokens
  src/andromede/expression/parsing/antlr/ExprLexer.interp
  src/andromede/expression/parsing/antlr/ExprLexer.py
  src/andromede/expression/parsing/antlr/ExprLexer.tokens
  src/andromede/expression/parsing/antlr/ExprParser.py
  src/andromede/expression/parsing/antlr/ExprVisitor.py
  src/andromede/expression/parsing/parse_expression.py
  tests/andromede/expressions/parsing/test_expression_parsing.py
  tests/andromede/model/test_model_parsing.py
Due: mypy, black, isort

Other models in yaml test
  tests/andromede/model/test_model_parsing.py
Due: black, isort

Add expectation function to parser
  grammar/Expr.g4
  src/andromede/expression/parsing/parse_expression.py
  tests/andromede/expressions/parsing/test_expression_parsing.py
Due: mypy, black, isort

Improve library import test
  src/andromede/model/constraint.py
  src/andromede/model/parsing.py
  src/andromede/model/resolve_library.py
  src/andromede/model/variable.py
  tests/andromede/model/test_model_parsing.py
  tests/andromede/test_model.py
Due: mypy, black, isort

See #ANT-958 Fixes after PR review
  src/andromede/model/common.py
  src/andromede/model/parameter.py
  src/andromede/simulation/optimization.py
  src/andromede/simulation/xpansion.py
  tests/andromede/test_xpansion.py
Due: mypy, black, isort

See #ANT-958 Add Coupling context for variables
  src/andromede/model/common.py
  src/andromede/simulation/optimization.py
  tests/andromede/test_xpansion.py
Due: mypy, black, isort

Improve description
  tests/andromede/test_toy_system_reliability.py
Due: black, isort

Add new use case test for xpansion
  tests/andromede/test_toy_system_reliability.py
Due: black, isort

Add tolerance to ExpectedOutput for floating point values
  src/andromede/simulation/output_values.py
  tests/andromede/test_output_values.py
Due: mypy, black, isort

Add possibility to ignore component/variables
  src/andromede/simulation/output_values.py
  tests/andromede/test_output_values.py
Due: mypy, black, isort

Expose tolerance for float comparison to the user
  src/andromede/simulation/output_values.py
Due: mypy, black, isort

See #ANT-958 String fix after review
  src/andromede/simulation/xpansion.py
Due: mypy, black, isort

Correct errors and delete load factor model
  models-design/model_library/link_with_storage.drawio
  models-design/model_library/stock_final_level.drawio
  models-design/systems/electrolyzer_load_factor.drawio
  models-design/systems/gas_link_elec_compressor.drawio
  models-design/systems/gas_stock_2_elec_compressor.drawio
  models-design/systems/gas_stock_elec_compressor.drawio
  models-design/systems/stock_hydro_2_input.drawio
  models-design/systems/stock_pipeline.drawio
Due: none

Add new systems involving stock constraints (#5)
  models-design/model_library/link_with_storage.drawio
  models-design/model_library/repartition_key.drawio
  models-design/model_library/stock_final_level.drawio
  models-design/systems/gas_link_elec_compressor.drawio
  models-design/systems/gas_stock_2_elec_compressor.drawio
  models-design/systems/gas_stock_elec_compressor.drawio
  models-design/systems/stock_hydro_2_input.drawio
  models-design/systems/stock_pipeline.drawio
Due: none

Explicitly call a approx function
  src/andromede/simulation/output_values.py
  tests/andromede/test_output_values.py
Due: mypy, black, isort

See #ANT-958 Rename cluster candidate to better relate to real life
  tests/andromede/test_xpansion.py
Due: black, isort

See #ANT-958 Fixes after review
  src/andromede/model/common.py
  src/andromede/model/constraint.py
  src/andromede/model/variable.py
  src/andromede/simulation/optimization.py
  src/andromede/simulation/xpansion.py
  src/andromede/utils.py
  tests/andromede/test_xpansion.py
Due: mypy, black, isort

Generalize existant drawings
  models-design/systems/electrolyzer_n_inputs.drawio
  models-design/systems/gas_stock_2_elec_compressor.drawio
  models-design/systems/stock_hydro_2_input.drawio
Due: none

Add electrolyzer model with n inputs and m outputs
  models-design/systems/electrolyzer_n_inputs_m_outputs.drawio
Due: none

See #ANT-958 Rename Xpansion to BendersDecomposed
  src/andromede/simulation/__init__.py
  src/andromede/simulation/benders_decomposed.py
  tests/andromede/test_xpansion.py
Due: mypy, black, isort

Add flow based models
  models-design/systems/flow_based.drawio
Due: none

See #ANT-958 Implement ProblemStrategy interface
  src/andromede/model/__init__.py
  src/andromede/model/model.py
  src/andromede/simulation/benders_decomposed.py
  src/andromede/simulation/optimization.py
  tests/andromede/test_xpansion.py
Due: mypy, black, isort

Add new model for flow based with net positions
  models-design/systems/flow_based.drawio
Due: none

Generalize physical representations and models
  models-design/systems/electrolyzer_n_inputs.drawio
  models-design/systems/electrolyzer_n_inputs_m_outputs.drawio
  models-design/systems/gas_stock_2_elec_compressor.drawio
  models-design/systems/stock_hydro_2_input.drawio
Due: none

See #ANT-958 Rename build_problem parameter for better understanding
  src/andromede/simulation/optimization.py
Due: mypy, black, isort

Copy GitLab branch and solve conflicts
  src/andromede/model/model.py
  src/andromede/simulation/__init__.py
  src/andromede/simulation/benders_decomposed.py
  src/andromede/simulation/optimization.py
  src/andromede/simulation/optimization_orchestrator.py
  src/andromede/simulation/time_block.py
  src/andromede/study/data.py
  tests/andromede/test_andromede.py
  tests/andromede/test_inter_block_dynamics.py
  tests/andromede/test_stochastic.py
  tests/andromede/test_time_blocks.py
  tests/andromede/test_xpansion.py
Due: mypy, black, isort

Path conditions:
  mypy: any of: ^src/ and \.py$
  black: any of: \.py$
  isort: any of: \.py$
