Repository AntaresSimulatorTeam/andromede-modeling-prototype: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, black, isort

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^src/
        types: [python]

-   repo: local
    hooks:
    -   id: black
        name: Run black
        entry: black
        args: ["--config", "pyproject.toml", "src", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: isort
        name: Run isort
        entry: isort
        args: ["--profile", "black", "--filter-files"]
        language: system
        types: [python]

Better use of component_context getter
  src/andromede/simulation/optimization.py
  tests/andromede/test_inter_block_dynamics.py
  tests/andromede/test_xpansion.py
Due: mypy, black, isort

Define tree structure for time blocks and data
  src/andromede/libs/standard.py
  src/andromede/simulation/time_block.py
  src/andromede/study/data.py
  tests/andromede/test_inter_block_dynamics.py
  tests/andromede/test_investment_pathway.py
  tests/andromede/test_xpansion.py
Due: mypy, black, isort

Improve test description
  src/andromede/simulation/time_block.py
  tests/andromede/test_investment_pathway.py
Due: mypy, black, isort

Fix rebase conflict
  src/andromede/model/model.py
  tests/andromede/test_xpansion.py
Due: mypy, black, isort

Fix conflict after rebase
  src/andromede/libs/standard.py
  src/andromede/model/model.py
  src/andromede/simulation/benders_decomposed.py
  src/andromede/simulation/optimization.py
  src/andromede/simulation/time_block.py
  src/andromede/study/data.py
  tests/andromede/test_investment_pathway.py
  tests/andromede/test_xpansion.py
Due: mypy, black, isort

Models/generalize drawings to n inputs (#16)
  models-design/systems/electrolyzer_n_inputs.drawio
  models-design/systems/electrolyzer_n_inputs_m_outputs.drawio
  models-design/systems/gas_stock_2_elec_compressor.drawio
  models-design/systems/stock_hydro_2_input.drawio
Due: none

Create class to store configuration of a resolution node
  requirements.txt
  src/andromede/simulation/optimization_orchestrator.py
  src/andromede/simulation/time_block.py
  tests/andromede/test_investment_pathway.py
Due: mypy, black, isort

test Quota CO2
  tests/andromede/test_quota_co2.py
Due: black, isort

Feature/improve output value with tolerance (#14)
  src/andromede/simulation/output_values.py
  tests/andromede/test_output_values.py
Due: mypy, black, isort

See #ANT-958 Move ModelSelectionStrategy to simulation directory
  src/andromede/model/__init__.py
  src/andromede/model/model.py
  src/andromede/simulation/__init__.py
  src/andromede/simulation/benders_decomposed.py
  src/andromede/simulation/optimization.py
  src/andromede/simulation/strategy.py
  tests/andromede/test_xpansion.py
Due: mypy, black, isort

Benders decomposition for investment problems (#12)
  .gitignore
  src/andromede/libs/standard.py
  src/andromede/model/common.py
  src/andromede/model/constraint.py
  src/andromede/model/model.py
  src/andromede/model/parameter.py
  src/andromede/model/variable.py
  src/andromede/simulation/__init__.py
  src/andromede/simulation/benders_decomposed.py
  src/andromede/simulation/optimization.py
  src/andromede/simulation/output_values.py
  src/andromede/simulation/strategy.py
  src/andromede/utils.py
  tests/andromede/test_andromede.py
  tests/andromede/test_data.py
  tests/andromede/test_electrolyzer.py
  tests/andromede/test_model.py
  tests/andromede/test_output_values.py
  tests/andromede/test_performance.py
  tests/andromede/test_xpansion.py
Due: mypy, black, isort

See #18 Refactor tests to separate functional, ut and integration
  tests/functional/__init__.py
  tests/functional/test_andromede.py
  tests/functional/test_electrolyzer.py
  tests/functional/test_performance.py
  tests/functional/test_stochastic.py
  tests/functional/test_xpansion.py
  tests/integration/__init__.py
  tests/integration/test_benders_decomposed.py
  tests/unittests/__init__.py
  tests/unittests/expressions/__init__.py
  tests/unittests/expressions/test_equality.py
  tests/unittests/expressions/test_expressions.py
  tests/unittests/expressions/test_linear_expressions.py
  tests/unittests/expressions/test_port_resolver.py
  tests/unittests/test_data.py
  tests/unittests/test_model.py
  tests/unittests/test_output_values.py
  tests/unittests/test_port.py
  tests/unittests/test_utils.py
Due: black, isort

See #18 Add "models" dir
  tests/models/test_electrolyzer.py
Due: black, isort

Add missing .sum() in models
  models-design/systems/electrolyzer_n_inputs.drawio
  models-design/systems/electrolyzer_subject_to_renawable.drawio
Due: none

Change conflciting name
  models-design/systems/electrolyzer_n_inputs.drawio
  models-design/systems/electrolyzer_subject_to_renawable.drawio
Due: none

Rename file
  models-design/systems/electrolyzer_subject_to_renewable.drawio
Due: none

Separate unit, integration, and functional tests (#19)
  tests/functional/__init__.py
  tests/functional/test_andromede.py
  tests/functional/test_performance.py
  tests/functional/test_stochastic.py
  tests/functional/test_xpansion.py
  tests/integration/__init__.py
  tests/integration/test_benders_decomposed.py
  tests/models/test_electrolyzer.py
  tests/unittests/__init__.py
  tests/unittests/expressions/__init__.py
  tests/unittests/expressions/test_equality.py
  tests/unittests/expressions/test_expressions.py
  tests/unittests/expressions/test_linear_expressions.py
  tests/unittests/expressions/test_port_resolver.py
  tests/unittests/test_data.py
  tests/unittests/test_model.py
  tests/unittests/test_output_values.py
  tests/unittests/test_port.py
  tests/unittests/test_utils.py
Due: black, isort

Fix typos in models (#21)
  models-design/systems/electrolyzer_n_inputs.drawio
  models-design/systems/electrolyzer_subject_to_renewable.drawio
Due: none

reformatage du fichier test_quota_co2
  tests/andromede/test_quota_co2.py
Due: black, isort

Ajout de Short term storage complex dans les modeles standard
  src/andromede/libs/standard.py
Due: mypy, black, isort

Ajout du test electrolyzer n inputs
  src/andromede/libs/standard.py
  src/andromede/libs/standard_sc.py
  tests/andromede/test_electrolyzer_n_inputs.py
Due: mypy, black, isort

fix taking in account the comments on the pull request
  AUTHORS.txt
  src/andromede/libs/standard_sc.py
  tests/andromede/test_electrolyzer_n_inputs.py
  tests/unittests/test_quota_co2.py
Due: mypy, black, isort

Delete useless model
  models-design/systems/flow_based.drawio
Due: none

TIME token added to grammar
  grammar/Expr.g4
  src/andromede/expression/parsing/antlr/Expr.interp
  src/andromede/expression/parsing/antlr/Expr.tokens
  src/andromede/expression/parsing/antlr/ExprLexer.interp
  src/andromede/expression/parsing/antlr/ExprLexer.py
  src/andromede/expression/parsing/antlr/ExprLexer.tokens
  src/andromede/expression/parsing/antlr/ExprParser.py
  src/andromede/expression/parsing/antlr/ExprVisitor.py
  src/andromede/expression/parsing/parse_expression.py
  src/andromede/expression/time_operator.py
  tests/andromede/expressions/parsing/test_expression_parsing.py
Due: mypy, black, isort

Add script and instructions for parser generation
  grammar/README.md
  grammar/generate-parser.sh
  requirements-dev.txt
Due: none

Make script executable
  grammar/generate-parser.sh
Due: none

TIME token added for timeShift and timeShiftRange
  grammar/Expr.g4
  src/andromede/expression/parsing/antlr/Expr.interp
  src/andromede/expression/parsing/antlr/ExprParser.py
  src/andromede/expression/parsing/parse_expression.py
  tests/andromede/expressions/parsing/test_expression_parsing.py
Due: mypy, black, isort

work on going
  grammar/Expr.g4
Due: none

work on going
  src/andromede/expression/parsing/antlr/Expr.interp
  src/andromede/expression/parsing/antlr/ExprParser.py
  src/andromede/expression/parsing/parse_expression.py
  tests/andromede/expressions/parsing/test_expression_parsing.py
Due: mypy, black, isort

Separate time shift expression in its own rule
  grammar/Expr.g4
  grammar/generate-parser.sh
  src/andromede/expression/parsing/antlr/Expr.interp
  src/andromede/expression/parsing/antlr/Expr.tokens
  src/andromede/expression/parsing/antlr/ExprLexer.interp
  src/andromede/expression/parsing/antlr/ExprLexer.py
  src/andromede/expression/parsing/antlr/ExprLexer.tokens
  src/andromede/expression/parsing/antlr/ExprParser.py
  src/andromede/expression/parsing/antlr/ExprVisitor.py
  src/andromede/expression/parsing/parse_expression.py
Due: mypy, black, isort

short-term-storage model parsing test added
  src/andromede/expression/parsing/parse_expression.py
  tests/andromede/model/test_model_parsing.py
Due: mypy, black, isort

New model of reserve
  models-design/systems/reserve.drawio
  models-design/systems/reserves_V2.drawio
Due: none

Copy GitLab working branch
  models-design/systems/reserves_V2.drawio
Due: none

Harmonise names of models, objets and ports
  models-design/systems/reserves_V2.drawio
Due: none

Ajout d'explication des équations sur le schéma
  models-design/systems/reserve.drawio
Due: none

Prise en compte des remarques de Thomas.B et ajout de la généricité du nombre de réserves
  models-design/systems/reserve.drawio
Due: none

Version anglais
  models-design/systems/reserve.drawio
Due: none

Modèle générique avec i réserves
  models-design/systems/reserve.drawio
Due: none

Correct errors in network.txt
  models-design/systems/reserve.drawio
Due: none

Add reserve model (#6)
  models-design/systems/reserve.drawio
Due: none
