Repository AntaresSimulatorTeam/andromede-modeling-prototype: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, black, isort

mypy:
  name: Run mypy
  entry: mypy
  language: system

black:
  name: Run black
  entry: black
  args:
  - --config
  - pyproject.toml
  - src
  - tests
  language: system

isort:
  name: Run isort
  entry: isort
  args:
  - --profile
  - black
  - --filter-files
  language: system

Deleting generatorsv0 model
  tests/e2e/models/systems/pypsa_basic_system.yml
Due: none

Some initial thoughts about global CO2 constraints
  src/andromede/libs/pypsa_models/pypsa_models.yml
  src/andromede/pypsa_converter/pypsa_converter.py
Due: mypy, black, isort

Some initial thoughts about global CO2 constraints
  src/andromede/pypsa_converter/pypsa_converter.py
Due: mypy, black, isort

Some initial thoughts about global CO2 constraints
  src/andromede/libs/pypsa_models/pypsa_models.yml
Due: none

Add tests for pypsa-eur data conversion
  tests/pypsa_converter/pypsa_eur_conversion.py
  tests/pypsa_converter/pypsa_input_files/base_s_6_elec_lvopt_.nc
Due: black, isort

V2 config file for building battery model from artifacts
  src/andromede/input_converter/src/cc_configuration/batteries_v2.yaml
Due: none

V2 input_converter config for battery models
  src/andromede/input_converter/src/cc_configuration/batteries_v2.yaml
  src/andromede/libs/reference_models/andromede_v1_models.yml
Due: none

New test cases for the Generator model
  src/andromede/libs/pypsa_models/pypsa_models.yml
  src/andromede/pypsa_converter/pypsa_converter.py
  tests/pypsa_converter/test_pypsa_converter.py
  tests/pypsa_converter/test_pypsa_storage.py
Due: mypy, black, isort

Refactor bound check logic and add PyPSA conversion test script
  src/andromede/simulation/optimization.py
  tests/pypsa_converter/convert_and_run_pypsa_study.py
  tests/pypsa_converter/pypsa_eur_conversion.py
Due: mypy, black, isort

Solving bug
  tests/pypsa_converter/series/_BE0 0 load_p_set.txt
  tests/pypsa_converter/series/_BE0 0 offwind-ac_p_max_pu.txt
  tests/pypsa_converter/series/_BE0 0 offwind-dc_p_max_pu.txt
  tests/pypsa_converter/series/_BE0 0 offwind-float_p_max_pu.txt
  tests/pypsa_converter/series/_BE0 0 onwind_p_max_pu.txt
  tests/pypsa_converter/series/_BE0 0 solar-hsat_p_max_pu.txt
  tests/pypsa_converter/series/_BE0 0 solar_p_max_pu.txt
  tests/pypsa_converter/series/_BE0 0_p_set.txt
  tests/pypsa_converter/series/_BE0 1 load_p_set.txt
  tests/pypsa_converter/series/_BE0 1 onwind_p_max_pu.txt
  tests/pypsa_converter/series/_BE0 1 solar-hsat_p_max_pu.txt
  tests/pypsa_converter/series/_BE0 1 solar_p_max_pu.txt
  tests/pypsa_converter/series/_BE0 1_p_set.txt
  tests/pypsa_converter/series/_BE0 2 load_p_set.txt
  tests/pypsa_converter/series/_BE0 2 onwind_p_max_pu.txt
  tests/pypsa_converter/series/_BE0 2 solar-hsat_p_max_pu.txt
  tests/pypsa_converter/series/_BE0 2 solar_p_max_pu.txt
  tests/pypsa_converter/series/_BE0 2_p_set.txt
  tests/pypsa_converter/series/_BE0 3 load_p_set.txt
  tests/pypsa_converter/series/_BE0 3 onwind_p_max_pu.txt
  tests/pypsa_converter/series/_BE0 3 solar-hsat_p_max_pu.txt
  tests/pypsa_converter/series/_BE0 3 solar_p_max_pu.txt
  tests/pypsa_converter/series/_BE0 3_p_set.txt
  tests/pypsa_converter/series/_BE0 4 load_p_set.txt
  tests/pypsa_converter/series/_BE0 4 onwind_p_max_pu.txt
  tests/pypsa_converter/series/_BE0 4 solar-hsat_p_max_pu.txt
  tests/pypsa_converter/series/_BE0 4 solar_p_max_pu.txt
  tests/pypsa_converter/series/_BE0 4_p_set.txt
  tests/pypsa_converter/series/_BE0 5 load_p_set.txt
  tests/pypsa_converter/series/_BE0 5 onwind_p_max_pu.txt
  tests/pypsa_converter/series/_BE0 5 solar-hsat_p_max_pu.txt
  tests/pypsa_converter/series/_BE0 5 solar_p_max_pu.txt
  tests/pypsa_converter/series/_BE0 5_p_set.txt
  tests/pypsa_converter/systems/pypsa_study.yml
  tests/pypsa_converter/test_convert_and_run_pypsa_study.py
Due: black, isort

Improve readability and consistency
  src/andromede/input_converter/src/cc_configuration/batteries_v2.yaml
Due: none

Renaming for consistency
  src/andromede/input_converter/src/cc_configuration/batteries.yaml
  src/andromede/input_converter/src/cc_configuration/battery.yaml
  src/andromede/libs/reference_models/andromede_v1_models.yml
Due: none

Add generator version compatibility to battery configuration
  src/andromede/input_converter/src/cc_configuration/battery.yaml
Due: none

Config file for complex modeling artifacts conversion (#98)
  src/andromede/input_converter/src/cc_configuration/battery.yaml
  src/andromede/libs/reference_models/andromede_v1_models.yml
  tests/e2e/models/andromede-v1/test_andromede_v1_models.py
Due: black, isort

3 nodes test case
  src/run_test_case.py
  tests/muessli/case_3_nodes/library.yml
  tests/muessli/case_3_nodes/system.yml
Due: mypy, black, isort

3 nodes test case
  src/run_test_case.py
Due: mypy, black, isort

Update value types
  src/andromede/input_converter/src/cc_configuration/battery.yaml
Due: none

Move cc_configuration directory
  src/andromede/input_converter/data/cc_configuration/battery.yaml
Due: none

Fix/improve cc config format (#100)
  src/andromede/input_converter/data/cc_configuration/battery.yaml
Due: none

added pypsa network with 1 hour resolution
  tests/pypsa_converter/pypsa_input_files/base_s_6_elec_lvopt_.nc
  tests/pypsa_converter/series/_BE0 0 load_p_set.txt
  tests/pypsa_converter/series/_BE0 0 offwind-ac_p_max_pu.txt
  tests/pypsa_converter/series/_BE0 0 offwind-dc_p_max_pu.txt
  tests/pypsa_converter/series/_BE0 0 offwind-float_p_max_pu.txt
  tests/pypsa_converter/series/_BE0 0 onwind_p_max_pu.txt
  tests/pypsa_converter/series/_BE0 0 solar-hsat_p_max_pu.txt
  tests/pypsa_converter/series/_BE0 0 solar_p_max_pu.txt
  tests/pypsa_converter/series/_BE0 0_p_set.txt
  tests/pypsa_converter/series/_BE0 1 load_p_set.txt
  tests/pypsa_converter/series/_BE0 1 onwind_p_max_pu.txt
  tests/pypsa_converter/series/_BE0 1 solar-hsat_p_max_pu.txt
  tests/pypsa_converter/series/_BE0 1 solar_p_max_pu.txt
  tests/pypsa_converter/series/_BE0 1_p_set.txt
  tests/pypsa_converter/series/_BE0 2 load_p_set.txt
  tests/pypsa_converter/series/_BE0 2 onwind_p_max_pu.txt
  tests/pypsa_converter/series/_BE0 2 solar-hsat_p_max_pu.txt
  tests/pypsa_converter/series/_BE0 2 solar_p_max_pu.txt
  tests/pypsa_converter/series/_BE0 2_p_set.txt
  tests/pypsa_converter/series/_BE0 3 load_p_set.txt
  tests/pypsa_converter/series/_BE0 3 onwind_p_max_pu.txt
  tests/pypsa_converter/series/_BE0 3 solar-hsat_p_max_pu.txt
  tests/pypsa_converter/series/_BE0 3 solar_p_max_pu.txt
  tests/pypsa_converter/series/_BE0 3_p_set.txt
  tests/pypsa_converter/series/_BE0 4 load_p_set.txt
  tests/pypsa_converter/series/_BE0 4 onwind_p_max_pu.txt
  tests/pypsa_converter/series/_BE0 4 solar-hsat_p_max_pu.txt
  tests/pypsa_converter/series/_BE0 4 solar_p_max_pu.txt
  tests/pypsa_converter/series/_BE0 4_p_set.txt
  tests/pypsa_converter/series/_BE0 5 load_p_set.txt
  tests/pypsa_converter/series/_BE0 5 onwind_p_max_pu.txt
  tests/pypsa_converter/series/_BE0 5 solar-hsat_p_max_pu.txt
  tests/pypsa_converter/series/_BE0 5 solar_p_max_pu.txt
  tests/pypsa_converter/series/_BE0 5_p_set.txt
  tests/pypsa_converter/systems/pypsa_study.yml
  tests/pypsa_converter/test_convert_and_run_pypsa_study.py
Due: black, isort

added scaling of load to make optimization feasible
  tests/pypsa_converter/test_convert_and_run_pypsa_study.py
Due: black, isort

Path
  src/run_test_case.py
Due: mypy, black, isort

Deleting one false and one redundant bound in the Antares Link model
  src/andromede/libs/antares_historic/antares_historic.yml
Due: none

Deleting one false and one redundant bound in the Antares Link model (#102)
  src/andromede/libs/antares_historic/antares_historic.yml
Due: none

Readme
  README.md
Due: none

passing first pypsaeur operational case
  src/andromede/libs/pypsa_models/pypsa_models.yml
  src/andromede/pypsa_converter/pypsa_converter.py
  tests/pypsa_converter/pypsa_input_files/base_s_4_elec.nc
  tests/pypsa_converter/systems/pypsa_study.yml
  tests/pypsa_converter/test_advanced_pypsa_cases.py
Due: mypy, black, isort

passing first pypsaeur operational case
  tests/pypsa_converter/convert_and_run_pypsa_study.py
Due: black, isort

undo some formatting on optimization.py file
  src/andromede/simulation/optimization.py
Due: mypy, black, isort

formatting
  src/andromede/pypsa_converter/pypsa_converter.py
Due: mypy, black, isort

test disabled
  tests/e2e/functional/test_libs_python_system_python.py
Due: black, isort

update battery
  src/andromede/input_converter/data/cc_configuration/battery.yaml
Due: none

clean code
  src/andromede/input_converter/src/converter.py
  src/andromede/input_converter/src/data_preprocessing/binding_constraints.py
  src/andromede/input_converter/src/data_preprocessing/dataclasses.py
  src/andromede/input_converter/src/utils.py
  src/andromede/study/parsing.py
  tests/antares_historic/test_antares_historic.py
  tests/input_converter/conftest.py
  tests/input_converter/test_converter.py
Due: mypy, black, isort

add battery file
  src/andromede/input_converter/data/cc_configuration/battery.yaml
Due: none

comment changes
  src/andromede/input_converter/data/cc_configuration/battery.yaml
Due: none

update battery.yaml with timeseries_file_type
  src/andromede/input_converter/data/cc_configuration/battery.yaml
Due: none

Preparing for GlobalConstraint
  src/andromede/libs/pypsa_models/pypsa_models.yml
  src/andromede/pypsa_converter/pypsa_converter.py
  tests/pypsa_converter/test_pypsa_converter.py
Due: mypy, black, isort

CO2 constraints
  src/andromede/libs/pypsa_models/pypsa_models.yml
  src/andromede/pypsa_converter/pypsa_converter.py
  tests/pypsa_converter/systems/pypsa_study.yml
  tests/pypsa_converter/test_advanced_pypsa_cases.py
  tests/pypsa_converter/test_pypsa_converter.py
Due: mypy, black, isort

Contrib input_converter - update battery (#104)
  src/andromede/input_converter/data/cc_configuration/battery.yaml
Due: none

Path conditions:
  mypy: any of: ^src/ and \.py$
  black: any of: \.py$
  isort: any of: \.py$
