Repository AntaresSimulatorTeam/andromede-modeling-prototype: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, black, isort

mypy:
  name: Run mypy
  entry: mypy
  language: system

black:
  name: Run black
  entry: black
  args:
  - --config
  - pyproject.toml
  - src
  - tests
  language: system

isort:
  name: Run isort
  entry: isort
  args:
  - --profile
  - black
  - --filter-files
  language: system

Fix import
  tests/unittests/expressions/test_linearization.py
Due: black, isort

First working implementation of operators expansion
  src/andromede/expression/context_adder.py
  src/andromede/expression/copy.py
  src/andromede/expression/degree.py
  src/andromede/expression/equality.py
  src/andromede/expression/evaluate.py
  src/andromede/expression/expression.py
  src/andromede/expression/indexing.py
  src/andromede/expression/operators_expansion.py
  src/andromede/model/model.py
  src/andromede/simulation/linear_expression.py
  src/andromede/simulation/linearize.py
  src/andromede/simulation/optimization.py
  tests/unittests/expressions/test_linear_expressions.py
  tests/unittests/expressions/test_linearization.py
  tests/unittests/expressions/test_operators_expansion.py
Due: mypy, black, isort

WIP: convert addition operands to list
  src/andromede/expression/__init__.py
  src/andromede/expression/degree.py
  src/andromede/expression/equality.py
  src/andromede/expression/expression.py
  src/andromede/expression/indexing.py
  src/andromede/expression/print.py
  src/andromede/expression/visitor.py
  src/andromede/model/model.py
  tests/unittests/expressions/test_expressions.py
Due: mypy, black, isort

Fix recursive function call
  src/andromede/expression/expression.py
  tests/functional/test_performance.py
Due: mypy, black, isort

Fix printing
  src/andromede/expression/print.py
Due: mypy, black, isort

Fix formatting
  src/andromede/expression/equality.py
Due: mypy, black, isort

Remove obsolete skips
  tests/functional/test_performance.py
Due: black, isort

Fix performance issues in linear expression building
  src/andromede/simulation/linear_expression.py
  src/andromede/simulation/linearize.py
  tests/functional/test_performance.py
Due: mypy, black, isort

Fix border management
  src/andromede/simulation/optimization.py
Due: mypy, black, isort

Fix expectation
  src/andromede/expression/operators_expansion.py
Due: mypy, black, isort

Remove duplicate tests
  tests/unittests/expressions/test_linearization.py
Due: black, isort

Add checks on multiplications and divisions
  src/andromede/simulation/linearize.py
  tests/unittests/expressions/test_linearization.py
Due: mypy, black, isort

optimize indexing visitor
  src/andromede/expression/indexing.py
Due: mypy, black, isort

fix doc
  src/andromede/expression/expression.py
Due: mypy, black, isort

Addition operand as a list of nodes (#55)
  src/andromede/expression/__init__.py
  src/andromede/expression/degree.py
  src/andromede/expression/equality.py
  src/andromede/expression/expression.py
  src/andromede/expression/indexing.py
  src/andromede/expression/print.py
  src/andromede/expression/visitor.py
  src/andromede/model/model.py
  tests/functional/test_performance.py
  tests/unittests/expressions/test_expressions.py
  tests/unittests/expressions/test_linearization.py
Due: mypy, black, isort

Formatting
  src/andromede/expression/copy.py
  src/andromede/expression/degree.py
  src/andromede/expression/equality.py
  src/andromede/expression/evaluate.py
  src/andromede/expression/print.py
  src/andromede/model/model.py
  tests/unittests/expressions/test_linear_expressions.py
Due: mypy, black, isort

Fix mypy
  src/andromede/expression/operators_expansion.py
  src/andromede/simulation/linear_expression.py
  src/andromede/simulation/linearize.py
  src/andromede/simulation/optimization.py
Due: mypy, black, isort

Fix imports
  tests/unittests/expressions/test_linearization.py
Due: black, isort

Fix some tests
  src/andromede/simulation/linear_expression.py
  tests/unittests/expressions/test_linear_expressions.py
  tests/unittests/expressions/test_linearization.py
Due: mypy, black, isort

fix formatting
  src/andromede/expression/context_adder.py
  tests/unittests/expressions/test_operators_expansion.py
Due: mypy, black, isort

start to clarify scenario and time indices
  src/andromede/expression/expression.py
  src/andromede/expression/operators_expansion.py
  src/andromede/simulation/linearize.py
  src/andromede/simulation/optimization.py
  tests/unittests/expressions/test_linearization.py
  tests/unittests/expressions/test_operators_expansion.py
Due: mypy, black, isort

WIP
  src/andromede/expression/evaluate.py
  src/andromede/expression/evaluate_parameters.py
  src/andromede/expression/operators_expansion.py
  src/andromede/expression/time_bounds_evaluator.py
  src/andromede/simulation/linear_expression.py
  src/andromede/simulation/linearize.py
  src/andromede/simulation/optimization.py
  src/andromede/simulation/output_values.py
  tests/models/test_ac_link.py
  tests/unittests/expressions/test_operators_expansion.py
Due: mypy, black, isort

WIP
  src/andromede/simulation/output_values.py
  tests/functional/test_andromede.py
  tests/models/test_ac_link.py
  tests/unittests/expressions/test_linearization.py
Due: mypy, black, isort

last fixes and typing
  src/andromede/simulation/linearize.py
  src/andromede/simulation/optimization.py
  src/andromede/simulation/output_values.py
  src/andromede/study/data.py
Due: mypy, black, isort

more cleanup
  src/andromede/expression/evaluate.py
  src/andromede/simulation/linearize.py
  src/andromede/simulation/optimization.py
  tests/unittests/expressions/test_expressions.py
Due: mypy, black, isort

Simplify timebound evaluation
  src/andromede/expression/time_bounds_evaluator.py
  src/andromede/simulation/optimization.py
Due: mypy, black, isort

Add some details on expectations in docstring
  src/andromede/expression/expression.py
  src/andromede/expression/operators_expansion.py
  src/andromede/simulation/linearize.py
Due: mypy, black, isort

Support for complex parameters expressions in time operators (#54)
  src/andromede/expression/context_adder.py
  src/andromede/expression/copy.py
  src/andromede/expression/degree.py
  src/andromede/expression/equality.py
  src/andromede/expression/evaluate.py
  src/andromede/expression/evaluate_parameters.py
  src/andromede/expression/expression.py
  src/andromede/expression/indexing.py
  src/andromede/expression/operators_expansion.py
  src/andromede/expression/print.py
  src/andromede/expression/visitor.py
  src/andromede/model/model.py
  src/andromede/simulation/linear_expression.py
  src/andromede/simulation/linearize.py
  src/andromede/simulation/optimization.py
  src/andromede/simulation/output_values.py
  src/andromede/study/data.py
  tests/functional/test_andromede.py
  tests/functional/test_performance.py
  tests/unittests/expressions/test_expressions.py
  tests/unittests/expressions/test_linear_expressions.py
  tests/unittests/expressions/test_linearization.py
  tests/unittests/expressions/test_operators_expansion.py
Due: mypy, black, isort

Ajout test_thermal_reserve_hausse
  tests/functional/data/thermal_heuristic_one_cluster/components.yml
  tests/functional/data/thermal_heuristic_one_cluster/demand-ts.txt
  tests/functional/data/thermal_heuristic_one_cluster/nb_units_max-ts.txt
Due: none

New test for reserves_heuristique
  tests/functional/data/thermal_heuristic_reserve_hausse/components.yml
  tests/functional/data/thermal_heuristic_reserve_hausse/demand_energy-ts.txt
  tests/functional/data/thermal_heuristic_reserve_hausse/demand_primary_reserve_up-ts.txt
  tests/functional/data/thermal_heuristic_reserve_hausse/nb_units_max-ts.txt
  tests/functional/data_reserve/thermal_reserve_basse/components.yml
  tests/functional/data_reserve/thermal_reserve_basse/demand_energy-ts.txt
  tests/functional/data_reserve/thermal_reserve_basse/demand_primary_reserve_up-ts.txt
  tests/functional/data_reserve/thermal_reserve_basse/nb_units_max-ts.txt
  tests/functional/data_reserve/thermal_reserve_hausse/components.yml
  tests/functional/data_reserve/thermal_reserve_hausse/demand_energy-ts.txt
  tests/functional/data_reserve/thermal_reserve_hausse/demand_primary_reserve_up-ts.txt
  tests/functional/data_reserve/thermal_reserve_hausse/nb_units_max-ts.txt
  tests/functional/libs/lib_thermal_reserve.py
  tests/functional/thermal_heuristic/test_thermal_heuristic_one_cluster.py
  tests/functional/thermal_heuristic/test_thermal_heuristic_reserve_hausse.py
  tests/functional/thermal_reserve/test_thermal_reserve_hausse.py
Due: black, isort

Nouveau test_thermal_reserve_hausse
  tests/functional/thermal_reserve/test_thermal_reserve_hausse.py
Due: black, isort

ajout fonction changemetn heuristique et réserves secondaires et tertiaires
  result.csv
  result_accurate.csv
  result_accurate_step1.csv
  result_accurate_step2.csv
  result_milp.csv
  tests/functional/data_reserve/thermal_reserve_hausse/components.yml
  tests/functional/data_reserve/thermal_reserve_hausse/demand_primary_reserve_down-ts.txt
  tests/functional/data_reserve/thermal_reserve_hausse/demand_primary_reserve_up-ts.txt
  tests/functional/libs/lib_thermal_reserve.py
  tests/functional/thermal_heuristic/test_thermal_heuristic_reserve_hausse.py
Due: black, isort

Ajout heuristic pour contenir les nouvelles heuristique
  result.csv
  result_accurate_step1.csv
  result_accurate_step2.csv
  src/andromede/thermal_heuristic/problem.py
  tests/functional/libs/heuristic.py
  tests/functional/thermal_heuristic/test_thermal_heuristic_reserve_hausse.py
Due: mypy, black, isort

Heuristiques version opti sans vrai cout spillages
  result_accurate_step1.csv
  result_accurate_step2.csv
  result_milp.csv
  tests/functional/libs/heuristic.py
  tests/functional/thermal_heuristic/test_thermal_heuristic_one_cluster.py
  tests/functional/thermal_heuristic/test_thermal_heuristic_reserve_hausse.py
Due: black, isort

Création heuristic.py avec plusieurs heuristiques possibles
  result_accurate_step2.csv
  src/andromede/thermal_heuristic/problem.py
  tests/functional/data_reserve/thermal_reserve_one_cluster/components.yml
  tests/functional/data_reserve/thermal_reserve_one_cluster/demand_energy-ts.txt
  tests/functional/data_reserve/thermal_reserve_one_cluster/demand_primary_reserve_down-ts.txt
  tests/functional/data_reserve/thermal_reserve_one_cluster/demand_primary_reserve_up-ts.txt
  tests/functional/data_reserve/thermal_reserve_one_cluster/nb_units_max-ts.txt
  tests/functional/libs/heuristic.py
  tests/functional/thermal_reserve/test_thermal_reserves_one_cluster.py
Due: mypy, black, isort

creation du cas deux clusters
  result.csv
  tests/functional/data_reserve/thermal_reserves_deux_clusters/components.yml
  tests/functional/data_reserve/thermal_reserves_deux_clusters/demand_energy-ts.txt
  tests/functional/data_reserve/thermal_reserves_deux_clusters/demand_primary_reserve_up-ts.txt
  tests/functional/data_reserve/thermal_reserves_deux_clusters/nb_units_max-ts.txt
  tests/functional/data_reserve/thermal_reserves_one_cluster/components.yml
  tests/functional/data_reserve/thermal_reserves_one_cluster/demand_energy-ts.txt
  tests/functional/data_reserve/thermal_reserves_one_cluster/demand_primary_reserve_down-ts.txt
  tests/functional/data_reserve/thermal_reserves_one_cluster/demand_primary_reserve_up-ts.txt
  tests/functional/data_reserve/thermal_reserves_one_cluster/nb_units_max-ts.txt
  tests/functional/thermal_reserve/test_thermal_reserve_hausse.py
  tests/functional/thermal_reserve/test_thermal_reserves_deux_clusters.py
Due: black, isort

api file
  tests/functional/api_workflow_heuristic.py
Due: black, isort

Path conditions:
  mypy: any of: ^src/ and \.py$
  black: any of: \.py$
  isort: any of: \.py$
