Repository AntaresSimulatorTeam/andromede-modeling-prototype: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, black, isort

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^src/
        types: [python]

-   repo: local
    hooks:
    -   id: black
        name: Run black
        entry: black
        args: ["--config", "pyproject.toml", "src", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: isort
        name: Run isort
        entry: isort
        args: ["--profile", "black", "--filter-files"]
        language: system
        types: [python]

update docs
  README.md
  docs/images/gemsV2.png
Due: none

update docs
  README.md
Due: none

update docs
  docs/getting-started.md
  docs/images/gemsV2cropped.png
  docs/images/logo.png
  docs/index.md
  docs/user-guide/inputs.md
  mkdocs.yml
Due: none

update docs
  docs/getting-started.md
  docs/user-guide/building.md
  docs/user-guide/converters.md
  docs/user-guide/inputs.md
Due: none

new doc
  docs/images/gemsV2.png
  docs/images/gemsV2cropped.png
  docs/images/logo.png
Due: none

new doc
  README.md
Due: none

Add demo OET system configuration and visualization tools
  tests/e2e/functional/libs/lib_demo_oet.yml
  tests/e2e/functional/series/load_demo_oet.txt
  tests/e2e/functional/series/solar_demo_oet.txt
  tests/e2e/functional/series/wind_demo_oet.txt
  tests/e2e/functional/src/__init__.py
  tests/e2e/functional/src/visualize.py
  tests/e2e/functional/systems/demo_oet.yml
  tests/e2e/functional/systems/output.csv
  tests/e2e/functional/test_libs_yaml_system_yaml.py
Due: black, isort

Extendable2 (#15)
  src/andromede/libs/pypsa_models/pypsa_models.yml
  src/andromede/pypsa_converter/pypsa_converter.py
  tests/e2e/models/systems/pypsa_basic_system.yml
  tests/pypsa_converter/systems/pypsa_study.yml
  tests/pypsa_converter/test_advanced_pypsa_cases.py
  tests/pypsa_converter/test_pypsa_converter.py
  tests/pypsa_converter/utils.py
Due: mypy, black, isort

lint and typing check
  src/andromede/input_converter/src/converter.py
  src/andromede/input_converter/src/data_preprocessing/binding_constraints.py
  src/andromede/input_converter/src/data_preprocessing/dataclasses.py
  src/andromede/input_converter/src/utils.py
  tests/input_converter/test_converter.py
Due: mypy, black, isort

Documentation
  README.md
  docs/getting-started.md
  docs/index.md
  docs/user-guide/libraries.md
  docs/user-guide/optimisation.md
  docs/user-guide/outputs.md
  mkdocs.yml
Due: none

PyPSA converter : managing "extendable" objects (#107)
  src/andromede/libs/pypsa_models/pypsa_models.yml
  src/andromede/pypsa_converter/pypsa_converter.py
  tests/e2e/models/systems/pypsa_basic_system.yml
  tests/pypsa_converter/systems/pypsa_study.yml
  tests/pypsa_converter/test_advanced_pypsa_cases.py
  tests/pypsa_converter/test_pypsa_converter.py
  tests/pypsa_converter/utils.py
Due: mypy, black, isort

Documentation
  README.md
  docs/getting-started.md
  docs/index.md
  docs/user-guide/outputs.md
  docs/user-guide/syntax.md
Due: none

Doc/structure (#106)
  README.md
  docs/getting-started.md
  docs/images/gemsV2.png
  docs/images/gemsV2cropped.png
  docs/images/logo.png
  docs/index.md
  docs/user-guide/building.md
  docs/user-guide/converters.md
  docs/user-guide/data.md
  docs/user-guide/inputs.md
  docs/user-guide/libraries.md
  docs/user-guide/optimisation.md
  docs/user-guide/outputs.md
  docs/user-guide/reference-libraries.md
  docs/user-guide/syntax.md
  docs/user-guide/systems.md
  mkdocs.yml
Due: none

cc method is removed from common method
  src/andromede/input_converter/src/converter.py
  tests/input_converter/test_converter.py
  tests/input_converter/test_thermal_prepro.py
Due: mypy, black, isort

isort
  tests/input_converter/test_converter.py
  tests/input_converter/test_thermal_prepro.py
Due: black, isort

add exception system for BC when there is no bc components to read
  src/andromede/input_converter/src/converter.py
  src/andromede/input_converter/src/data_preprocessing/binding_constraints.py
  tests/input_converter/test_converter.py
Due: mypy, black, isort

annotations
  src/andromede/input_converter/src/converter.py
Due: mypy, black, isort

Reorganize tests
  tests/e2e/demo/demo.py
  tests/e2e/demo/libs/lib_demo.yml
  tests/e2e/demo/output/output.csv
  tests/e2e/demo/output/visualize.py
  tests/e2e/demo/series/load_demo.txt
  tests/e2e/demo/series/solar_demo.txt
  tests/e2e/demo/series/wind_demo.txt
  tests/e2e/demo/systems/system_demo.yml
  tests/e2e/functional/src/__init__.py
  tests/e2e/functional/systems/output.csv
Due: black, isort

documentation
  docs/getting-started.md
  docs/user-guide/data.md
  docs/user-guide/libraries.md
  docs/user-guide/reference-libraries.md
  docs/user-guide/systems.md
Due: none

documentation
  docs/getting-started.md
Due: none

Doc/improvement (#108)
  docs/getting-started.md
  docs/user-guide/data.md
  docs/user-guide/libraries.md
  docs/user-guide/reference-libraries.md
  docs/user-guide/systems.md
Due: none

Update README.md
  README.md
Due: none

sorting results
  tests/input_converter/test_converter.py
Due: black, isort

reformat
  tests/input_converter/test_converter.py
Due: black, isort

test
  tests/input_converter/test_converter.py
Due: black, isort

format
  tests/input_converter/test_converter.py
Due: black, isort

test check
  tests/input_converter/test_converter.py
Due: black, isort

retest
  tests/input_converter/test_converter.py
Due: black, isort

test
  src/andromede/input_converter/src/converter.py
  tests/input_converter/test_converter.py
Due: mypy, black, isort

test
  src/andromede/input_converter/src/converter.py
Due: mypy, black, isort

remove lint for the moment
  pyproject.toml
Due: none

format anyway and add a lot of traces
  pyproject.toml
  src/andromede/input_converter/data/model_configuration/load.yaml
  tests/input_converter/test_converter.py
Due: black, isort
