Repository AntaresSimulatorTeam/andromede-modeling-prototype: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, black, isort

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^src/
        types: [python]

-   repo: local
    hooks:
    -   id: black
        name: Run black
        entry: black
        args: ["--config", "pyproject.toml", "src", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: isort
        name: Run isort
        entry: isort
        args: ["--profile", "black", "--filter-files"]
        language: system
        types: [python]

commit avant nettoyage
  result_year.csv
  result_year_accurate.csv
  result_year_fast.csv
  result_year_fast_eteint.csv
  result_year_fast_simple.csv
  result_year_milp.csv
  tests/functional/libs/heuristic_arrondi_indep.py
  tests/functional/libs/heuristic_arrondi_mutualise.py
  tests/functional/libs/heuristique.py
  tests/test_BP_week.py
  tests/test_BP_year.py
Due: black, isort

nettoyage code
  tests/bloc_BP_week/fonctions_week.py
  tests/functional/libs/heuristique.py
  tests/test_BP_week.py
  tests/test_BP_year.py
Due: black, isort

ajout d'un nouveau test avec valeur BP
  result.csv
  result_accurate.csv
  result_accurate_step1.csv
  result_accurate_step1_1.csv
  result_accurate_step1_2.csv
  result_accurate_step2.csv
  result_accurate_step2_old1.csv
  result_accurate_step2_old2.csv
  result_accurate_step2_opti1.csv
  result_accurate_step2_opti2.csv
  result_milp.csv
  result_milp_1.csv
  result_milp_2.csv
  src/andromede/thermal_heuristic/problem.py
  tests/functional/data_reserve/thermal_reserves_deux_clusters/components.yml
  tests/functional/data_reserve/thermal_reserves_deux_clusters/demand_energy-ts.txt
  tests/functional/data_reserve/thermal_reserves_deux_clusters/demand_primary_reserve_down-ts.txt
  tests/functional/data_reserve/thermal_reserves_deux_clusters/demand_primary_reserve_up-ts.txt
  tests/functional/data_reserve/thermal_reserves_deux_clusters/nb_units_max-ts.txt
  tests/functional/data_reserve/thermal_reserves_one_cluster/components.yml
  tests/functional/data_reserve/thermal_reserves_one_cluster/demand_energy-ts.txt
  tests/functional/data_reserve/thermal_reserves_one_cluster/demand_primary_reserve_down-ts.txt
  tests/functional/data_reserve/thermal_reserves_one_cluster/demand_primary_reserve_up-ts.txt
  tests/functional/libs/heuristic.py
  tests/functional/thermal_reserve/test_thermal_reserves_deux_clusters.py
  tests/functional/thermal_reserve/test_thermal_reserves_one_cluster.py
Due: mypy, black, isort

Ajout data 2cluster3res et restructuration des heuristiques
  result_accurate_step1.csv
  result_accurate_step1_base.csv
  result_accurate_step1_peak.csv
  result_accurate_step2.csv
  result_accurate_step2_base.csv
  result_accurate_step2_old1.csv
  result_accurate_step2_old2.csv
  result_accurate_step2_opti1.csv
  result_accurate_step2_opti2.csv
  result_accurate_step2_peak.csv
  results_intermediaire_base.csv
  src/andromede/thermal_heuristic/problem.py
  tests/functional/data_reserve/thermal_reserves_deux_clusters_one_res/components.yml
  tests/functional/data_reserve/thermal_reserves_deux_clusters_one_res/demand_energy-ts.txt
  tests/functional/data_reserve/thermal_reserves_deux_clusters_one_res/demand_primary_reserve_down-ts.txt
  tests/functional/data_reserve/thermal_reserves_deux_clusters_one_res/demand_primary_reserve_up-ts.txt
  tests/functional/data_reserve/thermal_reserves_deux_clusters_one_res/nb_units_max-ts.txt
  tests/functional/data_reserve/thermal_reserves_deux_clusters_three_res/components.yml
  tests/functional/data_reserve/thermal_reserves_deux_clusters_three_res/demand_energy-ts.txt
  tests/functional/data_reserve/thermal_reserves_deux_clusters_three_res/demand_primary_reserve_down-ts.txt
  tests/functional/data_reserve/thermal_reserves_deux_clusters_three_res/demand_primary_reserve_up-ts.txt
  tests/functional/data_reserve/thermal_reserves_deux_clusters_three_res/demand_secondary_reserve_up-ts.txt
  tests/functional/data_reserve/thermal_reserves_deux_clusters_three_res/demand_tertiary1_reserve_up-ts.txt
  tests/functional/data_reserve/thermal_reserves_deux_clusters_three_res/nb_units_max-ts.txt
  tests/functional/data_reserve/thermal_reserves_one_cluster_one_res/components.yml
  tests/functional/data_reserve/thermal_reserves_one_cluster_one_res/demand_energy-ts.txt
  tests/functional/data_reserve/thermal_reserves_one_cluster_one_res/demand_primary_reserve_down-ts.txt
  tests/functional/data_reserve/thermal_reserves_one_cluster_one_res/demand_primary_reserve_up-ts.txt
  tests/functional/data_reserve/thermal_reserves_one_cluster_one_res/demand_secondary_reserve_up-ts.txt
  tests/functional/data_reserve/thermal_reserves_one_cluster_one_res/nb_units_max-ts.txt
  tests/functional/data_reserve/thermal_reserves_one_cluster_two_res/components.yml
  tests/functional/data_reserve/thermal_reserves_one_cluster_two_res/demand_energy-ts.txt
  tests/functional/data_reserve/thermal_reserves_one_cluster_two_res/demand_primary_reserve_down-ts.txt
  tests/functional/data_reserve/thermal_reserves_one_cluster_two_res/demand_primary_reserve_up-ts.txt
  tests/functional/data_reserve/thermal_reserves_one_cluster_two_res/demand_secondary_reserve_up-ts.txt
  tests/functional/data_reserve/thermal_reserves_one_cluster_two_res/nb_units_max-ts.txt
  tests/functional/libs/heuristic_arrondi.py
  tests/functional/libs/heuristique.py
  tests/functional/thermal_reserve/test_thermal_reserves_deux_clusters.py
  tests/functional/thermal_reserve/test_thermal_reserves_one_cluster.py
Due: mypy, black, isort

Ajout heuristic pour contenir les nouvelles heuristique
  result.csv
  result_accurate_step1.csv
  result_accurate_step2.csv
  src/andromede/thermal_heuristic/problem.py
  tests/functional/libs/heuristic.py
  tests/functional/thermal_heuristic/test_thermal_heuristic_reserve_hausse.py
Due: mypy, black, isort

New test for reserves_heuristique
  tests/functional/data/thermal_heuristic_reserve_hausse/components.yml
  tests/functional/data/thermal_heuristic_reserve_hausse/demand_energy-ts.txt
  tests/functional/data/thermal_heuristic_reserve_hausse/demand_primary_reserve_up-ts.txt
  tests/functional/data/thermal_heuristic_reserve_hausse/nb_units_max-ts.txt
  tests/functional/data_reserve/thermal_reserve_basse/components.yml
  tests/functional/data_reserve/thermal_reserve_basse/demand_energy-ts.txt
  tests/functional/data_reserve/thermal_reserve_basse/demand_primary_reserve_up-ts.txt
  tests/functional/data_reserve/thermal_reserve_basse/nb_units_max-ts.txt
  tests/functional/data_reserve/thermal_reserve_hausse/components.yml
  tests/functional/data_reserve/thermal_reserve_hausse/demand_energy-ts.txt
  tests/functional/data_reserve/thermal_reserve_hausse/demand_primary_reserve_up-ts.txt
  tests/functional/data_reserve/thermal_reserve_hausse/nb_units_max-ts.txt
  tests/functional/libs/lib_thermal_reserve.py
  tests/functional/thermal_heuristic/test_thermal_heuristic_one_cluster.py
  tests/functional/thermal_heuristic/test_thermal_heuristic_reserve_hausse.py
  tests/functional/thermal_reserve/test_thermal_reserve_hausse.py
Due: black, isort

Nouveau test_thermal_reserve_hausse
  tests/functional/thermal_reserve/test_thermal_reserve_hausse.py
Due: black, isort

Changement equation eteint et ajout spill reserve
  result_accurate_step1.csv
  result_accurate_step2.csv
  tests/functional/data_reserve/thermal_reserves_one_cluster/components.yml
  tests/functional/libs/heuristic_arrondi.py
  tests/functional/libs/heuristique.py
  tests/functional/libs/lib_thermal_reserve.py
  tests/functional/thermal_reserve/test_thermal_reserves_one_cluster.py
Due: black, isort

ajout code pour tests BP
  model.lp
  result_accurate_step2_base.csv
  result_accurate_step2_peak.csv
  result_milp_1.csv
  result_milp_2.csv
  tests/functional/data_reserve/thermal_reserves_deux_clusters_one_res/components.yml
  tests/functional/data_reserve/thermal_reserves_deux_clusters_one_res/demand_primary_reserve-ts.txt
  tests/functional/data_reserve/thermal_reserves_deux_clusters_one_res/demand_tertiary_reserve_down-ts.txt
  tests/functional/data_reserve/thermal_reserves_deux_clusters_one_res/demand_tertiary_reserve_up-ts.txt
  tests/functional/data_reserve/thermal_reserves_deux_clusters_one_res/max_generating.txt
  tests/functional/libs/heuristic_arrondi.py
  tests/functional/libs/heuristique.py
  tests/functional/libs/lib_thermal_reserve_fast.py
  tests/functional/libs/lib_thermal_reserve_linear.py
  tests/functional/thermal_reserve/test_thermal_reserves_deux_clusters.py
  tests/functional/thermal_reserve/test_thermal_reserves_deux_clusters_fast.py
  tests/functional/thermal_reserve/tests_BP.py
  tests/generate_mps_files.py
  tests/heuristique_thermique.py
  tests/test_python_generatre_mps.py
Due: black, isort

Ajout test_thermal_reserve_hausse
  tests/functional/data/thermal_heuristic_one_cluster/components.yml
  tests/functional/data/thermal_heuristic_one_cluster/demand-ts.txt
  tests/functional/data/thermal_heuristic_one_cluster/nb_units_max-ts.txt
Due: none

Changement heuristique optimisations
  result_accurate_step2.csv
  tests/functional/libs/heuristic_arrondi.py
  tests/functional/libs/heuristique.py
  tests/functional/thermal_reserve/test_thermal_reserves_one_cluster.py
Due: black, isort

Création heuristic.py avec plusieurs heuristiques possibles
  result_accurate_step2.csv
  src/andromede/thermal_heuristic/problem.py
  tests/functional/data_reserve/thermal_reserve_one_cluster/components.yml
  tests/functional/data_reserve/thermal_reserve_one_cluster/demand_energy-ts.txt
  tests/functional/data_reserve/thermal_reserve_one_cluster/demand_primary_reserve_down-ts.txt
  tests/functional/data_reserve/thermal_reserve_one_cluster/demand_primary_reserve_up-ts.txt
  tests/functional/data_reserve/thermal_reserve_one_cluster/nb_units_max-ts.txt
  tests/functional/libs/heuristic.py
  tests/functional/thermal_reserve/test_thermal_reserves_one_cluster.py
Due: mypy, black, isort

ajout thermique éteint sans changement heuristiques
  result_accurate_step1.csv
  result_accurate_step1_1.csv
  result_accurate_step1_2.csv
  result_accurate_step2.csv
  result_accurate_step2_old1.csv
  result_accurate_step2_old2.csv
  result_accurate_step2_opti1.csv
  result_accurate_step2_opti2.csv
  result_milp.csv
  result_milp_1.csv
  result_milp_2.csv
  src/andromede/thermal_heuristic/problem.py
  tests/functional/data_reserve/thermal_reserves_deux_clusters/components.yml
  tests/functional/data_reserve/thermal_reserves_one_cluster/components.yml
  tests/functional/data_reserve/thermal_reserves_one_cluster/demand_energy-ts.txt
  tests/functional/data_reserve/thermal_reserves_one_cluster/demand_primary_reserve_down-ts.txt
  tests/functional/data_reserve/thermal_reserves_one_cluster/demand_primary_reserve_up-ts.txt
  tests/functional/libs/heuristic_arrondi.py
  tests/functional/libs/heuristique.py
  tests/functional/libs/lib_thermal_reserve.py
  tests/functional/thermal_reserve/test_thermal_reserves_deux_clusters.py
  tests/functional/thermal_reserve/test_thermal_reserves_one_cluster.py
Due: mypy, black, isort

ajout problème plexos et reecriture sortie heuristiques
  result_accurate_step1.csv
  result_accurate_step1_1.csv
  result_accurate_step1_2.csv
  result_accurate_step2.csv
  result_accurate_step2_old1.csv
  result_accurate_step2_old2.csv
  result_milp_1.csv
  result_milp_2.csv
  src/andromede/thermal_heuristic/problem.py
  tests/functional/data_reserve/thermal_reserves_deux_clusters_plexos/components.yml
  tests/functional/data_reserve/thermal_reserves_deux_clusters_plexos/demand_energy-ts.txt
  tests/functional/data_reserve/thermal_reserves_deux_clusters_plexos/nb_units_max-ts.txt
  tests/functional/data_reserve/thermal_reserves_one_cluster/demand_secondary_reserve_up-ts.txt
  tests/functional/libs/heuristic_arrondi.py
  tests/functional/libs/heuristique.py
  tests/functional/thermal_reserve/test_thermal_reserves_deux_clusters.py
  tests/functional/thermal_reserve/test_thermal_reserves_one_cluster.py
Due: mypy, black, isort

ajout fonction changemetn heuristique et réserves secondaires et tertiaires
  result.csv
  result_accurate.csv
  result_accurate_step1.csv
  result_accurate_step2.csv
  result_milp.csv
  tests/functional/data_reserve/thermal_reserve_hausse/components.yml
  tests/functional/data_reserve/thermal_reserve_hausse/demand_primary_reserve_down-ts.txt
  tests/functional/data_reserve/thermal_reserve_hausse/demand_primary_reserve_up-ts.txt
  tests/functional/libs/lib_thermal_reserve.py
  tests/functional/thermal_heuristic/test_thermal_heuristic_reserve_hausse.py
Due: black, isort

creation du cas deux clusters
  result.csv
  tests/functional/data_reserve/thermal_reserves_deux_clusters/components.yml
  tests/functional/data_reserve/thermal_reserves_deux_clusters/demand_energy-ts.txt
  tests/functional/data_reserve/thermal_reserves_deux_clusters/demand_primary_reserve_up-ts.txt
  tests/functional/data_reserve/thermal_reserves_deux_clusters/nb_units_max-ts.txt
  tests/functional/data_reserve/thermal_reserves_one_cluster/components.yml
  tests/functional/data_reserve/thermal_reserves_one_cluster/demand_energy-ts.txt
  tests/functional/data_reserve/thermal_reserves_one_cluster/demand_primary_reserve_down-ts.txt
  tests/functional/data_reserve/thermal_reserves_one_cluster/demand_primary_reserve_up-ts.txt
  tests/functional/data_reserve/thermal_reserves_one_cluster/nb_units_max-ts.txt
  tests/functional/thermal_reserve/test_thermal_reserve_hausse.py
  tests/functional/thermal_reserve/test_thermal_reserves_deux_clusters.py
Due: black, isort

changement equation eteint reserves
  result_accurate_step1.csv
  result_accurate_step2.csv
  tests/functional/data_reserve/thermal_reserves_one_cluster/components.yml
  tests/functional/libs/heuristic_arrondi.py
  tests/functional/libs/lib_thermal_reserve.py
  tests/functional/thermal_reserve/test_thermal_reserves_one_cluster.py
Due: black, isort

reecriture heuristiques et ajout 1cluster
  result_accurate_step1.csv
  result_accurate_step2.csv
  results_intermediaire.csv
  src/andromede/thermal_heuristic/model.py
  src/andromede/thermal_heuristic/problem.py
  tests/functional/data_reserve/thermal_reserves_one_cluster/demand_primary_reserve_down-ts.txt
  tests/functional/data_reserve/thermal_reserves_one_cluster/demand_primary_reserve_up-ts.txt
  tests/functional/data_reserve/thermal_reserves_one_cluster/demand_secondary_reserve_up-ts.txt
  tests/functional/data_reserve/thermal_reserves_one_cluster_base/components.yml
  tests/functional/data_reserve/thermal_reserves_one_cluster_base/demand_energy-ts.txt
  tests/functional/data_reserve/thermal_reserves_one_cluster_base/demand_primary_reserve_down-ts.txt
  tests/functional/data_reserve/thermal_reserves_one_cluster_base/demand_primary_reserve_up-ts.txt
  tests/functional/data_reserve/thermal_reserves_one_cluster_base/demand_secondary_reserve_up-ts.txt
  tests/functional/data_reserve/thermal_reserves_one_cluster_base/nb_units_max-ts.txt
  tests/functional/libs/heuristic_arrondi.py
  tests/functional/libs/heuristique.py
  tests/functional/libs/lib_thermal_reserve.py
  tests/functional/thermal_reserve/test_thermal_reserves_one_cluster.py
Due: mypy, black, isort

Heuristiques version opti sans vrai cout spillages
  result_accurate_step1.csv
  result_accurate_step2.csv
  result_milp.csv
  tests/functional/libs/heuristic.py
  tests/functional/thermal_heuristic/test_thermal_heuristic_one_cluster.py
  tests/functional/thermal_heuristic/test_thermal_heuristic_reserve_hausse.py
Due: black, isort

Bump antares craft version + modify naming of methods according to new veersion and fix tests accordingly
  requirements-dev.txt
  requirements.in
  requirements.txt
  src/andromede/input_converter/src/converter.py
  src/andromede/input_converter/src/data_preprocessing/thermal.py
  tests/antares_historic/test_antares_historic.py
  tests/input_converter/conftest.py
  tests/input_converter/test_converter.py
Due: mypy, black, isort

dependencies conflict
  requirements-dev.txt
Due: none

isort
  tests/input_converter/test_converter.py
Due: black, isort

fix atnares historic yml file
  src/andromede/libs/antares_historic/antares_historic.yml
Due: none

feat: Add short-term storage parameters and constraints to antares_historic.yml
  src/andromede/libs/antares_historic/antares_historic.yml
Due: none

fix: Correct definition order in port-field-definitions in antares_historic.yml
  src/andromede/libs/antares_historic/antares_historic.yml
Due: none

fix: Update parameter IDs to use underscores in antares_historic.yml
  src/andromede/libs/antares_historic/antares_historic.yml
Due: none

Update Expr.g4
  grammar/Expr.g4
Due: none

Update Expr.g4 (#68)
  grammar/Expr.g4
Due: none

fix upper bound for p_injection and p_withdrawal
  src/andromede/libs/antares_historic/antares_historic.yml
Due: none

Add short-term storage to antares-historic lib (#67)
  src/andromede/libs/antares_historic/antares_historic.yml
Due: none

Update grammar
  grammar/Expr.g4
Due: none

Update grammar (#71)
  grammar/Expr.g4
Due: none

fix refacto
  src/andromede/input_converter/src/converter.py
  src/andromede/input_converter/src/main.py
  tests/input_converter/test_converter.py
Due: mypy, black, isort

ruff lint
  src/andromede/input_converter/src/converter.py
Due: mypy, black, isort
