Repository AntaresSimulatorTeam/andromede-modeling-prototype: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, black, isort

mypy:
  name: Run mypy
  entry: mypy
  language: system

black:
  name: Run black
  entry: black
  args:
  - --config
  - pyproject.toml
  - src
  - tests
  language: system

isort:
  name: Run isort
  entry: isort
  args:
  - --profile
  - black
  - --filter-files
  language: system

Rearrange expressions test files and directories to clearly split between visitor, parsing and linear expressions tests (#86)
  tests/unittests/expressions/linear_expressions/__init__.py
  tests/unittests/expressions/linear_expressions/test_linear_expressions.py
  tests/unittests/expressions/test_expressions.py
  tests/unittests/expressions/visitor/__init__.py
  tests/unittests/expressions/visitor/test_copy.py
  tests/unittests/expressions/visitor/test_degree.py
  tests/unittests/expressions/visitor/test_equality.py
  tests/unittests/expressions/visitor/test_evaluation.py
  tests/unittests/expressions/visitor/test_indexing.py
  tests/unittests/expressions/visitor/test_linearization.py
  tests/unittests/expressions/visitor/test_operators_expansion.py
  tests/unittests/expressions/visitor/test_parameter_resolver.py
  tests/unittests/expressions/visitor/test_port_resolver.py
  tests/unittests/expressions/visitor/test_printer.py
Due: black, isort

Minor formatting
  src/andromede/libs/pypsa_models/pypsa_models.yml
Due: none

Andromede V1 model validation
  tests/e2e/functional/test_performance.py
Due: black, isort

Andromede V1 model validation - response to reviwer's comments
  src/andromede/libs/reference_models/andromede_v1_models.yml
  tests/e2e/models/results/base_case.csv
  tests/e2e/models/results/bde_case.csv
  tests/e2e/models/results/cluster_testing1.csv
  tests/e2e/models/results/cluster_testing2.csv
  tests/e2e/models/results/dsr_case.csv
  tests/e2e/models/results/electrolyser_case.csv
  tests/e2e/models/results/storage_case.csv
  tests/e2e/models/systems/cluster_validation_2.yml
  tests/e2e/models/systems/cluster_validation_3.yml
  tests/e2e/models/test_andromede_models.py
  tests/e2e/models/test_andromede_v1_models.py
Due: black, isort

Andromede V1 model validation - response to reviwer's comments
  tests/e2e/models/test_andromede_v1_models.py
Due: black, isort

Refacto on the tests, for more clarity. The converter is changed for the thermal component list, thermal prpeprocessing simplified
  src/andromede/input_converter/src/converter.py
  src/andromede/input_converter/src/data_preprocessing/thermal.py
  tests/input_converter/conftest.py
  tests/input_converter/test_converter.py
Due: mypy, black, isort

Libraries list as fixture
  tests/e2e/models/test_andromede_v1_models.py
Due: black, isort

Update grammar for consistency with C++
  grammar/Expr.g4
  src/andromede/expression/parsing/antlr/Expr.interp
  src/andromede/expression/parsing/antlr/Expr.tokens
  src/andromede/expression/parsing/antlr/ExprLexer.interp
  src/andromede/expression/parsing/antlr/ExprLexer.py
  src/andromede/expression/parsing/antlr/ExprLexer.tokens
  src/andromede/expression/parsing/antlr/ExprParser.py
  src/andromede/expression/parsing/antlr/ExprVisitor.py
  src/andromede/expression/parsing/parse_expression.py
Due: mypy, black, isort

Update grammar for consistency with C++ (#90)
  grammar/Expr.g4
  src/andromede/expression/parsing/antlr/Expr.interp
  src/andromede/expression/parsing/antlr/Expr.tokens
  src/andromede/expression/parsing/antlr/ExprLexer.interp
  src/andromede/expression/parsing/antlr/ExprLexer.py
  src/andromede/expression/parsing/antlr/ExprLexer.tokens
  src/andromede/expression/parsing/antlr/ExprParser.py
  src/andromede/expression/parsing/antlr/ExprVisitor.py
  src/andromede/expression/parsing/parse_expression.py
Due: mypy, black, isort

improve refactoring
  src/andromede/input_converter/src/converter.py
  src/andromede/input_converter/src/data_preprocessing/thermal.py
  tests/antares_historic/test_antares_historic.py
  tests/input_converter/conftest.py
  tests/input_converter/test_converter.py
Due: mypy, black, isort

black lint
  tests/antares_historic/test_antares_historic.py
Due: black, isort

refacto
  src/andromede/input_converter/src/converter.py
  src/andromede/input_converter/src/data_preprocessing/thermal.py
  tests/input_converter/conftest.py
  tests/input_converter/test_converter.py
Due: mypy, black, isort

reformat conftest
  tests/input_converter/conftest.py
Due: black, isort

mypy
  src/andromede/input_converter/src/data_preprocessing/thermal.py
Due: mypy, black, isort

ruff again
  src/andromede/input_converter/src/data_preprocessing/thermal.py
Due: mypy, black, isort

PyPSA converter V0
  src/andromede/input_converter/src/pypsa_converter.py
  src/andromede/libs/pypsa_models/pypsa_conversion_register.csv
  src/andromede/libs/pypsa_models/pypsa_models.yml
  tests/e2e/models/systems/pypsa_basic_system.yml
  tests/e2e/models/test_pypsa_models.py
  tests/pypsa_converter/__init__.py
  tests/pypsa_converter/conftest.py
  tests/pypsa_converter/series/Demo pypsaload_p_set.txt
  tests/pypsa_converter/series/Demo2 pypsaload_p_set.txt
  tests/pypsa_converter/systems/test1.yml
  tests/pypsa_converter/systems/test2.yml
  tests/pypsa_converter/test_pypsa_converter.py
Due: mypy, black, isort

Improve pypsa model test
  src/andromede/input_converter/src/pypsa_converter.py
  tests/e2e/models/series/basic_load.txt
  tests/e2e/models/test_pypsa_models.py
  tests/pypsa_converter/series/Demo2_pypsaload_p_set.txt
  tests/pypsa_converter/series/Demo_pypsaload_p_set.txt
  tests/pypsa_converter/systems/test1.yml
  tests/pypsa_converter/systems/test2.yml
  tests/pypsa_converter/test_pypsa_converter.py
Due: mypy, black, isort

Comment PyPSA converter
  src/andromede/input_converter/src/pypsa_converter.py
Due: mypy, black, isort

Initiating link model
  src/andromede/input_converter/src/pypsa_converter.py
  src/andromede/libs/pypsa_models/pypsa_conversion_register.csv
  src/andromede/libs/pypsa_models/pypsa_models.yml
  tests/pypsa_converter/series/Demo2_link-paris-pypsatown_p_max_pu.txt
  tests/pypsa_converter/systems/test2.yml
  tests/pypsa_converter/test_pypsa_converter.py
Due: mypy, black, isort

review changes
  src/andromede/input_converter/src/data_preprocessing/thermal.py
  tests/input_converter/test_converter.py
Due: mypy, black, isort

add comment
  tests/antares_historic/test_antares_historic.py
  tests/input_converter/test_converter.py
Due: black, isort

add commentary
  tests/input_converter/test_converter.py
Due: black, isort

revert changes on test_antares_historic.py
  tests/antares_historic/test_antares_historic.py
Due: black, isort

lint
  tests/antares_historic/test_antares_historic.py
Due: black, isort

change nested methods
  tests/input_converter/test_converter.py
  tests/input_converter/test_thermal_prepro.py
Due: black, isort

Refactorization thermal data preprocessing with its tests (#91)
  src/andromede/input_converter/src/converter.py
  src/andromede/input_converter/src/data_preprocessing/thermal.py
  tests/input_converter/conftest.py
  tests/input_converter/test_converter.py
  tests/input_converter/test_thermal_prepro.py
Due: mypy, black, isort

fixing imports
  tests/e2e/models/test_pypsa_models.py
  tests/pypsa_converter/conftest.py
  tests/pypsa_converter/test_pypsa_converter.py
Due: black, isort

add PyPSA in requirements
  requirements-dev.txt
  requirements.txt
Due: none

fix typing problems
  src/andromede/input_converter/src/pypsa_converter.py
Due: mypy, black, isort

clean test function
  tests/pypsa_converter/test_pypsa_converter.py
Due: black, isort

bum antares craft v0.2.6
  requirements.in
  requirements.txt
  src/andromede/input_converter/src/data_preprocessing/thermal.py
  tests/input_converter/conftest.py
Due: mypy, black, isort

update requirements-dev .txt
  requirements-dev.in
  requirements-dev.txt
Due: none

Path conditions:
  mypy: any of: ^src/ and \.py$
  black: any of: \.py$
  isort: any of: \.py$
