Repository AntaresSimulatorTeam/andromede-modeling-prototype: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, black, isort

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^src/
        types: [python]

-   repo: local
    hooks:
    -   id: black
        name: Run black
        entry: black
        args: ["--config", "pyproject.toml", "src", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: isort
        name: Run isort
        entry: isort
        args: ["--profile", "black", "--filter-files"]
        language: system
        types: [python]

re-added libs_dir to model/conftest.py
  tests/models/conftest.py
Due: black, isort

added type declaration and removed unused argument
  tests/models/conftest.py
  tests/models/test_electrolyzer_n_inputs_yaml.py
  tests/models/test_quota_co2_yaml.py
Due: black, isort

Model test yaml (#29)
  src/andromede/libs/standard_sc.yml
  tests/models/conftest.py
  tests/models/test_electrolyzer_n_inputs.py
  tests/models/test_electrolyzer_n_inputs_yaml.py
  tests/models/test_quota_co2.py
  tests/models/test_quota_co2_yaml.py
Due: black, isort

Models/add new model (#30)
  models-design/systems/electrolyzer_subject_to_renewable.drawio
  models-design/systems/hydro_valley.drawio
Due: none

changed ports on link with storage model
  src/andromede/libs/standard_sc.yml
Due: none

Upgrade ortools in requirements
  requirements.txt
Due: none

Remove unnecessary requirements
  requirements.txt
Due: none

git commit -m 'connections from list to Dict'
  src/andromede/study/components.py
  src/andromede/study/resolve_components.py
  tests/unittests/study/test_components_parsing.py
Due: mypy, black, isort

InputComponent added work in progress
  src/andromede/model/parsing.py
  tests/unittests/data/components.yml
  tests/unittests/model/test_components_model_parsing.py
Due: mypy, black, isort

wip components parsing corrected
  src/andromede/model/parsing.py
  tests/unittests/data/components.yml
  tests/unittests/model/test_components_model_parsing.py
  tests/unittests/model/test_components_parsing.py
Due: mypy, black, isort

wip
  src/andromede/model/resolve_library.py
  src/andromede/study/components.py
  src/andromede/study/parsing.py
  src/andromede/study/resolve_components.py
  tests/unittests/data/components.yml
  tests/unittests/study/test_components_parsing.py
Due: mypy, black, isort

wip
  src/andromede/model/components.py
  src/andromede/model/parsing.py
  src/andromede/model/resolve_library.py
  tests/unittests/data/components.yml
  tests/unittests/model/test_components_parsing.py
Due: mypy, black, isort

port_connections to be defined
  src/andromede/model/components.py
  src/andromede/model/parsing.py
  src/andromede/model/resolve_library.py
  tests/unittests/data/components.yml
  tests/unittests/model/test_components_parsing.py
Due: mypy, black, isort

build network and read data from yaml
  src/andromede/study/components.py
  src/andromede/study/parsing.py
  src/andromede/study/resolve_components.py
  tests/unittests/data/gen-costs.txt
  tests/unittests/study/test_components_parsing.py
Due: mypy, black, isort

wip
  src/andromede/study/parsing.py
  src/andromede/study/resolve_components.py
  tests/unittests/data/components.yml
  tests/unittests/study/test_components_parsing.py
Due: mypy, black, isort

build_network and build_database added
  src/andromede/study/resolve_components.py
  tests/unittests/data/components.yml
  tests/unittests/study/test_components_parsing.py
Due: mypy, black, isort

resolve_components.py completed
  src/andromede/model/parsing.py
  src/andromede/model/resolve_library.py
  src/andromede/study/components.py
  src/andromede/study/parsing.py
  src/andromede/study/resolve_components.py
  tests/unittests/data/components.yml
  tests/unittests/model/test_components_parsing.py
  tests/unittests/study/__init__.py
  tests/unittests/study/test_components_parsing.py
Due: mypy, black, isort

consistency check between components and models added
  src/andromede/study/parsing.py
  src/andromede/study/resolve_components.py
  tests/unittests/data/components.yml
  tests/unittests/study/test_components_parsing.py
Due: mypy, black, isort

test corrected to use dataframe for TimeScenarioSeriesData
  tests/functional/test_xpansion.py
  tests/unittests/test_utils.py
Due: black, isort

test_evaluate_time_series corrected
  src/andromede/study/resolve_components.py
  tests/unittests/study/test_components_parsing.py
Due: mypy, black, isort

rebase from main
  src/andromede/model/resolve_library.py
Due: mypy, black, isort

test test_short_term_storage_base_with_yaml added for components with timeseries
  src/andromede/study/data.py
  tests/unittests/data/components_for_short_term_storage.yml
  tests/unittests/data/demand-ts.txt
  tests/unittests/data/lib.yml
  tests/unittests/study/test_components_parsing.py
Due: mypy, black, isort

TimeScenarioSeriesData modified for dataframe
  src/andromede/study/data.py
  tests/unittests/test_data.py
Due: mypy, black, isort

timeseries read with pandas
  requirements-dev.txt
  src/andromede/study/network_components.py
  src/andromede/study/resolve_components.py
  tests/unittests/data/gen-costs.txt
  tests/unittests/study/test_components_parsing.py
Due: mypy, black, isort

mypy.ini modified to ignore missing imports pandas
  mypy.ini
Due: none

timeseries read with pandas
  src/andromede/study/resolve_components.py
Due: mypy, black, isort

Use pandas-stubs
  mypy.ini
  requirements-dev.txt
Due: none

pandas-stub <=2.0.3 for dependency issue
  requirements-dev.txt
Due: none

TimeScenarioSeriesData refacto
  src/andromede/study/data.py
  src/andromede/study/network_components.py
  src/andromede/study/resolve_components.py
  tests/functional/test_andromede.py
  tests/unittests/study/test_components_parsing.py
  tests/unittests/test_data.py
Due: mypy, black, isort

timeseries provided as parameter without file extension
  src/andromede/study/data.py
  src/andromede/study/resolve_components.py
  tests/unittests/data/components_for_short_term_storage.yml
  tests/unittests/model/test_model_parsing.py
  tests/unittests/study/test_components_parsing.py
  tests/unittests/test_data.py
Due: mypy, black, isort

test stock pipeline fix and added test gas_link_elec_compressor and stock final model
  src/andromede/libs/standard_sc.yml
  tests/models/test_gas_link_elec_compressor.py
  tests/models/test_stock_pipeline.py
Due: black, isort

Performance test: check deep AST using sum() operator
  src/andromede/libs/standard.py
  tests/functional/test_performance.py
  tests/functional/test_stochastic.py
  tests/unittests/test_utils.py
Due: mypy, black, isort

add yaml test
  src/andromede/expression/parsing/parse_expression.py
  src/andromede/model/parsing.py
  src/andromede/model/resolve_library.py
  src/andromede/simulation/optimization.py
  tests/functional/tests-yamel/conftest.py
  tests/functional/tests-yamel/libs/lib.yml
  tests/functional/tests-yamel/test_andromede_yml.py
Due: mypy, black, isort

fix ci
  src/andromede/expression/parsing/parse_expression.py
  src/andromede/model/parsing.py
  src/andromede/model/resolve_library.py
  src/andromede/simulation/optimization.py
  tests/functional/tests-yamel/conftest.py
  tests/functional/tests-yamel/test_andromede_yml.py
Due: mypy, black, isort

fix test
  tests/functional/test_andromede.py
  tests/functional/tests-yamel/test_andromede_yml.py
Due: black, isort

fix tests
  tests/unittests/data/lib.yml
Due: none

add executable main file
  src/andromede/main/main.py
  tests/unittests/data/components_for_thermal_cluster.yml
  tests/unittests/data/demand-ts_2.txt
  tests/unittests/data/lib_2.yml
Due: mypy, black, isort

add the --scenario parameter
  src/andromede/main/main.py
  tests/unittests/data/demand-ts_2.txt
Due: mypy, black, isort

FilenotFoundException changed to Exception
  src/andromede/study/data.py
Due: mypy, black, isort

Yaml format for components and TSV format for timeseries (#37)
  requirements-dev.txt
  src/andromede/study/data.py
  src/andromede/study/parsing.py
  src/andromede/study/resolve_components.py
  tests/functional/test_andromede.py
  tests/functional/test_xpansion.py
  tests/unittests/data/components.yml
  tests/unittests/data/components_for_short_term_storage.yml
  tests/unittests/data/demand-ts.txt
  tests/unittests/data/gen-costs.txt
  tests/unittests/data/lib.yml
  tests/unittests/model/test_model_parsing.py
  tests/unittests/study/__init__.py
  tests/unittests/study/test_components_parsing.py
  tests/unittests/test_data.py
  tests/unittests/test_utils.py
Due: mypy, black, isort
