Repository AntaresSimulatorTeam/andromede-modeling-prototype: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, black, isort

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^src/
        types: [python]

-   repo: local
    hooks:
    -   id: black
        name: Run black
        entry: black
        args: ["--config", "pyproject.toml", "src", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: isort
        name: Run isort
        entry: isort
        args: ["--profile", "black", "--filter-files"]
        language: system
        types: [python]

mypy
  src/andromede/input_converter/src/converter.py
  src/andromede/input_converter/src/main.py
Due: mypy, black, isort

minor change
  tests/input_converter/test_converter.py
Due: black, isort

fix some initial values change
  tests/input_converter/conftest.py
  tests/input_converter/test_converter.py
Due: black, isort

isort
  tests/input_converter/conftest.py
Due: black, isort

Contrib refacto antares craft (#72)
  src/andromede/input_converter/src/converter.py
  src/andromede/input_converter/src/main.py
  tests/input_converter/conftest.py
  tests/input_converter/test_converter.py
Due: mypy, black, isort

Refactor antares_historic.yml to improve variable naming and clarify efficiency calculations
  src/andromede/libs/antares_historic/antares_historic.yml
Due: none

Refactor antares_historic.yml to improve variable naming and clarify efficiency calculations (#73)
  src/andromede/libs/antares_historic/antares_historic.yml
Due: none

short term storage handling
  requirements.in
  requirements.txt
  src/andromede/input_converter/src/converter.py
  src/andromede/study/resolve_components.py
  tests/antares_historic/conftest.py
  tests/antares_historic/test_antares_historic.py
  tests/input_converter/conftest.py
  tests/input_converter/test_converter.py
  tests/input_converter/test_thermal_preprocessing.py
Due: mypy, black, isort

bump antares craft version
  requirements-dev.txt
Due: none

remove traces
  src/andromede/study/resolve_components.py
Due: mypy, black, isort

Refactor library and resolve_library functions to include id parameter and return type adjustments
  src/andromede/model/library.py
  src/andromede/model/resolve_library.py
Due: mypy, black, isort

Refactor resolve_library function to improve dependency handling and update test cases for library structure
  src/andromede/model/resolve_library.py
  tests/unittests/model/test_model_parsing.py
  tests/unittests/model/test_multiple_model_parsing.py
Due: mypy, black, isort

Refactor resolve_library function to improve variable naming and enhance dependency handling; add new test cases for model redefinition scenarios
  src/andromede/model/resolve_library.py
  tests/unittests/data/lib_for_resolving_test/production_redefinition.yml
  tests/unittests/model/test_multiple_model_parsing.py
Due: mypy, black, isort

Enhance model redefinition checks in resolve_library; update test case for clearer exception message
  src/andromede/model/resolve_library.py
  tests/unittests/model/test_multiple_model_parsing.py
Due: mypy, black, isort

Refactor library handling to use dictionary for libraries; update related tests and YAML files for consistency
  src/andromede/input_converter/src/converter.py
  src/andromede/main/main.py
  src/andromede/model/resolve_library.py
  src/andromede/study/parsing.py
  src/andromede/study/resolve_components.py
  tests/antares_historic/test_antares_historic.py
  tests/functional/conftest.py
  tests/functional/test_andromede_yml.py
  tests/input_converter/conftest.py
  tests/input_converter/test_converter.py
  tests/models/conftest.py
  tests/models/test_ac_link.py
  tests/models/test_electrolyzer_n_inputs_yaml.py
  tests/models/test_quota_co2_yaml.py
  tests/unittests/data/components.yml
  tests/unittests/data/components_for_scenarization_test.yml
  tests/unittests/data/components_for_short_term_storage.yml
  tests/unittests/data/study_scenario_only_series.yml
  tests/unittests/data/study_time_only_series.yml
  tests/unittests/study/test_components_parsing.py
  tests/unittests/test_scenario_builder.py
Due: mypy, black, isort

Add type hints for local study fixtures and test methods in input_converter
  tests/input_converter/conftest.py
  tests/input_converter/test_converter.py
Due: black, isort

Add type hints for return types and update model_librairies to Optional in parsing
  src/andromede/model/resolve_library.py
  src/andromede/study/parsing.py
Due: mypy, black, isort

Fix mypy
  src/andromede/main/main.py
  src/andromede/study/parsing.py
  src/andromede/study/resolve_components.py
Due: mypy, black, isort

Fix isort
  tests/input_converter/conftest.py
Due: black, isort

Format
  tests/input_converter/conftest.py
  tests/models/test_quota_co2_yaml.py
  tests/unittests/model/test_multiple_model_parsing.py
Due: black, isort

debugging TimeEvalOperator
  main_modeling_tests.py
  src/andromede/expression/copy.py
  src/andromede/expression/indexing.py
  src/andromede/libs/antares_historic/antares_historic_temp.yml
Due: mypy, black, isort

Fix test
  tests/input_converter/test_converter.py
Due: black, isort

Fix time eval copy, add test
  src/andromede/expression/copy.py
  tests/unittests/expressions/test_expressions.py
Due: mypy, black, isort

Fix time_eval method to return correct indexing and add corresponding unit test
  src/andromede/expression/indexing.py
  tests/unittests/expressions/test_expressions.py
Due: mypy, black, isort

debugging TimeEvalOperator
  .gitignore
  main_modeling_tests.py
  src/andromede/expression/copy.py
  src/andromede/expression/indexing.py
Due: mypy, black, isort

Refactor function names for clarity and correct spelling of 'model_libraries'
  src/andromede/model/resolve_library.py
  src/andromede/study/parsing.py
  src/andromede/study/resolve_components.py
  tests/antares_historic/test_antares_historic.py
Due: mypy, black, isort

Fix spelling of 'model-libraries' in YAML configuration files
  tests/unittests/data/components.yml
  tests/unittests/data/components_for_scenarization_test.yml
  tests/unittests/data/components_for_short_term_storage.yml
  tests/unittests/data/study_scenario_only_series.yml
  tests/unittests/data/study_time_only_series.yml
Due: none

Components refers to models of a specific lib (#75)
  src/andromede/input_converter/src/converter.py
  src/andromede/main/main.py
  src/andromede/model/library.py
  src/andromede/model/resolve_library.py
  src/andromede/study/parsing.py
  src/andromede/study/resolve_components.py
  tests/antares_historic/test_antares_historic.py
  tests/functional/conftest.py
  tests/functional/test_andromede_yml.py
  tests/input_converter/conftest.py
  tests/input_converter/test_converter.py
  tests/models/conftest.py
  tests/models/test_ac_link.py
  tests/models/test_electrolyzer_n_inputs_yaml.py
  tests/models/test_quota_co2_yaml.py
  tests/unittests/data/components.yml
  tests/unittests/data/components_for_scenarization_test.yml
  tests/unittests/data/components_for_short_term_storage.yml
  tests/unittests/data/lib_for_resolving_test/production_redefinition.yml
  tests/unittests/data/study_scenario_only_series.yml
  tests/unittests/data/study_time_only_series.yml
  tests/unittests/model/test_model_parsing.py
  tests/unittests/model/test_multiple_model_parsing.py
  tests/unittests/study/test_components_parsing.py
  tests/unittests/test_scenario_builder.py
Due: mypy, black, isort

Create dir to store test data and start to move data into it
  tests/data/libs/__init__.py
  tests/data/libs/standard.py
  tests/data/libs/standard_sc.py
  tests/data/libs/standard_sc.yml
  tests/functional/test_andromede.py
  tests/functional/test_performance.py
  tests/functional/test_stochastic.py
  tests/functional/test_xpansion.py
  tests/integration/test_benders_decomposed.py
  tests/models/conftest.py
  tests/models/test_ac_link.py
  tests/models/test_electrolyzer.py
  tests/models/test_electrolyzer_n_inputs.py
  tests/models/test_quota_co2.py
  tests/models/test_short_term_storage_complex.py
  tests/unittests/model/test_model_parsing.py
  tests/unittests/test_data.py
  tests/unittests/test_port.py
Due: black, isort

Move some data test files
  tests/data/libs/lib_1.yml
  tests/data/libs/lib_2.yml
  tests/data/libs/lib_3.yml
  tests/data/series/demand-ts.txt
  tests/data/systems/components.yml
Due: none

Move files to test data folder
  tests/data/libs/ac.yml
  tests/data/libs/lib.yml
  tests/functional/conftest.py
  tests/models/conftest.py
Due: black, isort

Move all unittests data files to tests/data
  tests/data/libs/CO2_port.yml
  tests/data/libs/basic_lib.yml
  tests/data/libs/demand.yml
  tests/data/libs/lib_unittest.yml
  tests/data/libs/looping_lib_1.yml
  tests/data/libs/looping_lib_2.yml
  tests/data/libs/model_port_definition_ko.yml
  tests/data/libs/model_port_definition_ok.yml
  tests/data/libs/port_redefinition.yml
  tests/data/libs/production.yml
  tests/data/libs/production_redefinition.yml
  tests/data/libs/production_with_CO2.yml
  tests/data/series/demand-ts-unittest.txt
  tests/data/series/gen-costs.txt
  tests/data/series/loads-scenario-only.txt
  tests/data/series/loads-time-only.txt
  tests/data/series/loads.txt
  tests/data/series/scenario_builder.csv
  tests/data/systems/components_for_scenarization_test.yml
  tests/data/systems/components_for_short_term_storage.yml
  tests/data/systems/study_scenario_only_series.yml
  tests/data/systems/study_time_only_series.yml
  tests/data/systems/system.yml
  tests/models/conftest.py
  tests/models/test_quota_co2_yaml.py
  tests/unittests/conftest.py
  tests/unittests/model/test_model_parsing.py
  tests/unittests/model/test_multiple_model_parsing.py
  tests/unittests/study/test_components_parsing.py
  tests/unittests/test_data.py
  tests/unittests/test_scenario_builder.py
Due: black, isort

Gather all end to end tests in single folder
  tests/end-to-end/functional/__init__.py
  tests/end-to-end/functional/conftest.py
  tests/end-to-end/functional/test_andromede.py
  tests/end-to-end/functional/test_andromede_yml.py
  tests/end-to-end/functional/test_performance.py
  tests/end-to-end/functional/test_stochastic.py
  tests/end-to-end/functional/test_xpansion.py
  tests/end-to-end/integration/__init__.py
  tests/end-to-end/integration/test_benders_decomposed.py
  tests/end-to-end/models/conftest.py
  tests/end-to-end/models/test_ac_link.py
  tests/end-to-end/models/test_electrolyzer.py
  tests/end-to-end/models/test_electrolyzer_n_inputs.py
  tests/end-to-end/models/test_electrolyzer_n_inputs_yaml.py
  tests/end-to-end/models/test_quota_co2.py
  tests/end-to-end/models/test_quota_co2_yaml.py
  tests/end-to-end/models/test_short_term_storage_complex.py
Due: black, isort

Rename FLOAT to CONTINUOUS and BOOL to BOOLEAN for consistency across the model
  src/andromede/model/common.py
  src/andromede/model/parameter.py
  src/andromede/model/parsing.py
  src/andromede/model/resolve_library.py
  src/andromede/model/variable.py
  src/andromede/simulation/optimization.py
Due: mypy, black, isort

Modifying ST storage in Antares_Historic + creating reference_models files
  src/andromede/libs/antares_historic/antares_historic.yml
  src/andromede/libs/reference_models/reference_models.yml
Due: none

Update reference_models.yml
  src/andromede/libs/reference_models/reference_models.yml
Due: none
